<%= nested_form_for([@patient,@clinic_history,tracing]) do |form| %>
  <% if tracing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracing.errors.count, "error") %> prohibited this tracing from being saved:</h2>

      <ul>
      <% tracing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if action_name == "new"%>
    <%= form.hidden_field :admin_user , :value => current_user.admin_user %>
    <%= form.hidden_field :user_id ,:value =>  current_user.id %>
    <%= form.hidden_field :patient_id ,:value =>  @patient.id %>
    <%= form.hidden_field :clinic_history_id ,:value =>  @clinic_history.id %>
  <% end %>

<label>Fecha de Seguimiento</label>

 <div class="form-group date_select">
         <%= form.date_select :tracing_date,{
            :start_year =>
            Time.now.year + 1,
            :end_year => 1900,
            :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
            :use_short_month => true,
            :order => [:day, :month, :year]},
            {:class => 'year form-control line1 required',
            :id => 'event_date_event' , :title => "Es un Campo Obligatorio" }
            %>
</div>
<br>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_area :description, id: :tracing_description, class: "form form-control area" %>
  </div>

  <br> 
 <% if @field_default.observation_tracing_state  == true%>
  <div class="form-group">
    <%= form.label "Observaciones" %>
    <%= form.text_area :observation, class: "form form-control area" %>
  </div>
<% end -%>

  <br>
  
<% if @field_default.evolution_tracing_state  == true %>
  <div class="form-group">
    <%= form.label "Evolución" %>
    <%= form.text_area :evolution, class: "form form-control area" %>
  </div>
<% end -%>


  <!-- inicio de los campos adicionales -->
   <% Field.where(admin_user: current_user.admin_user).where(state: true).where(form: "Seguimiento").order(id: :asc).each do |field| %>
      <h3  style="padding-left: 0px; margin-left: 0px; color: gray" > <%= field.name%></h3>
      <div class="form-group">
      <%if field.type_field == "Textarea"%>
          
         <% if !CreteField.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).where(tracing_id: @tracing.id).any? %>
         
         <%= text_area_tag "#{field.name}", nil , class: "form-control area" %>
         <%else%>
         <%= text_area_tag "#{field.name}", field.crete_fields.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).where(tracing_id: @tracing.id).last.content , class: "form-control area" %>      
         <%end%>
   
         <%else%>
      
     
         <% if !CreteField.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).where(tracing_id: @tracing.id).any? %>
          <div class="form-group">
         <%= select_tag field.name, options_for_select(field.fieldselects.collect{ |u| ["#{u.option}", u.option] },{:selected=>nil}), {:multiple => false,class: 'form-control' , style: "width:50%"}%>
         <%else%>
         <%= select_tag field.name, options_for_select(field.fieldselects.collect{ |u| ["#{u.option}", u.option] },{:selected=>field.crete_fields.where(clinic_history_id: @clinic_history.id).where(tracing_id: @tracing.id).where(field_id: field.id).last.content }), {:multiple => false,class: 'form-control', style: "width:50%"}%>
         
         <%end%>
      
      <%end%>  
      <br>
      </div>
   
   <%end%>  
   <!-- Fin de los campos adicionales -->






























<%if action_name == "edit"%>

 <%if !@tracing.attachment.blank? %>
  <div class="form-group">
    <%= form.label "Evidencia" %><br>
    <%= form.file_field :attachment,  class: "form-control inputfile", id: 'file' %>
    
    <label for="file" ><i class="fa fa-upload" aria-hidden="true"></i>

 <span class="levidencia" style = "margin-right:10px;"><%= @tracing.attachment.blank? != true ? "#{@tracing.attachment.file.filename}" : "Evidencia" %> </span> <%if @tracing.attachment.blank?   != true %><br>
<%= form.check_box :remove_attachment %> 
   <%= form.label "Eliminar", style: "color:red!important" %>
   <%end%></label>

     <span style="display:none;padding: 1px 10px;
    background: #c8c8c8;
    font-size: 19px;
    margin-left: 10px;
    border-radius: 8px;" class="quitar">x</span>

  </div> 

   <%end%>
<%end%>


 <div class="row">
   <%= form.fields_for :general_files do |file|  %>
  <div class="clearfix">

  <div class="col-md-12" style="padding: 0px;" >  
    <div class="col-md-6" style="padding: 0px;" >
       <div class="input-group">
          <span class="input-group-btn">
              <%= file.link_to_remove class: "btn btn-danger" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </span>
          <%= file.text_field :name, :class => 'name form form-control', :placeholder => "Nombre" %>
    </div>
  </div>
    <div class="col-md-5 pdd" >    
      <%= file.file_field :file, :class => 'file form form-control archivo', style: "" %>
      <%= file.hidden_field :id, class:"items" if action_name == "edit"%>
      <span></span>
      <br>
    </div>

    <br>
      <%= file.hidden_field :admin_user , :value => current_user.admin_user %>
      <%= file.hidden_field :user_id ,:value =>  current_user.id %>   
    <br>

  </div> </div> <%end%>
  <div class="col-md-12"> <%= form.link_to_add "Agregar Archivo", :general_files, :class => 'btn btn-primary top10'  %></div>
   
 
  </div>





  <div class="modal-footer text-center">
       
        <%= submit_tag "Guardar", class: 'btn btn-primary btnpad' %>
         <%= link_to "Cancelar" , patient_clinic_history_tracings_path(@patient.id,@clinic_history.id) , class: "btn btn-default"%>
      </div>

<% end %>







<script>
  

console.log($("#tool_test_general_files_attributes_1_file").prop('files'));

$( ".items" ).each(function( index ) {
   a = $( this ).val();
   b = $( this )
   general_files(a,b)
  

});


function general_files(x,y){


   $.get("/general_files/"+ x , function(data, status){
        y.next().html("<a href='" + data.url +"' alt=''>" + data.name +  "<a>");
  

    });


}



'use strict';

;( function ( document, window, index )
{
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label  = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
     
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
        
        
      else
        fileName = e.target.value.split( '\\' ).pop();

      if( fileName )
        {

if ("<%=action_name%>" == "new")
{
         $(".quitar").show();
       }
        label.querySelector( 'span' ).innerHTML = fileName;
      }
      else{
        label.innerHTML = labelVal;
      }


    });

    // Firefox bug fix
    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
  });

}( document, window, 0 ));

if ("<%=action_name%>" == "new")
{

   $(".quitar").on("click" ,function(){
      
        $("#file").val(null);
         $(".levidencia").html("Adjuntar Evidencia");
        console.log("afafsd");
        $(".quitar").hide();

   })
   $('.quitar').hover(function() {
        $(this).css('cursor','pointer');
    });
}

</script>



<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
       font-size: 1em;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-weight: 100!important;
    color: white;
    background-color: #f9f9f9;
    padding: 4px 20px;
    display: inline-block;
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
  
</style>

</div>
