
<div class="container margin-top-40">
<div class="row">
    <div class="col-md-12" style="padding-left: 50px;">
        <%= link_to "inicio", root_path%><span> | </span> 
        <%= link_to "pacientes", patients_path%> <span> | </span> 
        <%= link_to "#{@patient.first_name} #{@patient.first_last_name}", patient_path(@patient.id)%>
    </div>
</div>
<br>
<h1 class="h1-tittle imgedit"><%=action_type%> Historia Clinica de <%=@patient.first_name%> <%=@patient.first_last_name%> <%=image_tag @patient.avatar_url if @patient.avatar?  %></h1><br>  
<div class="menu-history">

<%if @clinic_history.child_history%>
  <%=render "menu_child"%>
    <%else%>  
    <%=render "menu"%>
<%end%> 


 

  
</div>
   <div class="row antecedentes" style = "padding: 10px 45px;
">
<br>
<br>
      <div class = "row title-table">
         <div class = "col-md-6">
            <p>Seguimientos <span class="label label-primary"><%=@tracings.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @tracings, :entry_name => 'Seguimientos' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @tracings%>
         </div>
         <div class = "col-md-2">
            <%= link_to 'Nuevo Seguimiento', new_patient_clinic_history_tracing_path(@patient.id, @clinic_history.id), remote:true, class: "btn btn-primary"  %>
         </div>
      </div>
      <hr class="hr">
   
        


    <% @clinic_history.tracings.each do |tracing| %>
          <div class="row seg">

              <div class="col-md-6" style="    color: #5bc0de;
    font-size: 18px;;">
                    <%= get_date(tracing.created_at) %>
              </div>
              

              <div class="col-md-6 text-right">
               <%if tracing.attachment_url%>
                   <%= link_to  tracing.attachment_url, class: "btn btn-primary", style:"margin-right:10px;" do  %>
                          <i class="fa fa-download" aria-hidden="true"></i> Descargar Adjunto
                   <%end%>  
                   <%end%>
                        <%= link_to  edit_patient_clinic_history_tracing_path(@patient.id, @clinic_history.id, tracing),remote:true ,class:"icon" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i><%end%>
                    <%= link_to  patient_clinic_history_tracing_path(@patient.id, @clinic_history.id, tracing), method: :delete, data: { confirm: 'Are you sure?' }, class:"icon" do %>
        <i class="fa fa-trash" aria-hidden="true"></i><%end%>
              </div>
              <div class="col-md-12">
                  <hr>
              </div>
              <div class="col-md-12">
                   <span style="color: gray !important;"></span> <%= tracing.description %>
              </div>
            
          </div>
    <% end %>
  </tbody>
</table>

      
   </div>
</div>

<style>

.seg
{
    padding: 10px;
    border: 1px solid #cacaca;
    background: #f6f6f6;
    margin-bottom: 10px;
}
  
</style>