
<div class="container">
<div class="row">
    <div class="col-md-12" style="padding-left: 50px;">
        <%= link_to "inicio", root_path%><span> | </span> 
        <%= link_to "pacientes", patients_path%> <span> | </span> 
        <%= link_to "#{@patient.first_name} #{@patient.first_last_name}", patient_path(@patient.id)%>
    </div>
</div>
<br>
<h1 class="h1-tittle imgedit"><%=action_type%> Historia Clinica de <%=@patient.first_name%> <%=@patient.first_last_name%> <%=image_tag @patient.avatar_url if @patient.avatar?  %></h1><br>  
<div class="menu-history">

<%if @clinic_history.child_history%>
  <%=render "menu_child"%>
    <%else%>  
    <%=render "menu"%>
<%end%> 


 

  
</div>
   <div class="row antecedentes" style = "padding: 10px 45px;
">
<br>
<br>
      <div class = "row title-table">
         <div class = "col-md-6">
            <p>Seguimientos <span class="label label-primary"><%=@clinic_history.tracings.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @clinic_history.tracings, :entry_name => 'Seguimientos' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @clinic_history.tracings%>
         </div>
         <div class = "col-md-2">
            <%= link_to 'Nuevo Seguimiento', new_patient_clinic_history_tracing_path(@patient.id, @clinic_history.id), remote:true, class: "btn btn-primary"  %>
         </div>
      </div>
      <hr class="hr">
   
         <table class="table">
            <thead>
               <tr class = "tr-table">
      <th style="width: 15%">Fecha</th>

      <th style="width: 50%">Description</th>
      <th style="width: 20%">Adjunto</th>
  
      <th style="width: 15%"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinic_history.tracings.each do |tracing| %>
      <tr>
        <td><%= tracing.created_at %></td>

        <td><%= tracing.description %></td>
        <td><%= (link_to "#{tracing.attachment.file.filename}", tracing.attachment_url) if tracing.attachment_url %></td>

                <td>   
       <%= link_to  patient_clinic_history_tracing_path(@patient.id, @clinic_history.id, tracing), class:"icon" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i><%end%>
                    <%= link_to  patient_clinic_history_tracing_path(@patient.id, @clinic_history.id, tracing), method: :delete, data: { confirm: 'Are you sure?' }, class:"icon" do %>
        <i class="fa fa-trash" aria-hidden="true"></i><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

      
   </div>
</div>

