  <div id="task<%=task.id%>">
  <% estado =  task.fecha_compromiso > Time.now.to_date ? "panel-success" : "panel-danger" %>
  <% color =  task.fecha_compromiso > Time.now.to_date ? "#3c763d" : "#a94442" %>
 <div class="panel <%=estado%> text-left" style="padding:5px;margin-bottom:10px">
                             <div class="panel-heading"> <span><i class="fa fa-calendar" style = "font-size:16px;" aria-hidden="true"></i> <%= get_only_date(task.fecha_compromiso)%>  </span>
                              <span style="float: right">
                               <%= link_to  edit_patient_task_path(@patient.id,task),remote:true ,class:"icon" do  %>
                                  <i class="fa fa-pencil" aria-hidden="true" style="color:<%=color%>"></i><%end%>
                               <%= link_to  patient_task_path(@patient.id,task), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class:"icon" do %>
                                  <i class="fa fa-trash" aria-hidden="true" style="color:<%=color%>"></i><%end%></span>
                            </div>
                             <div class="panel-body">
                                <%=task.description%>
                                </div>
</div></div>



   