<div class="row" style = "padding: 10px 45px;">
  <div class = "row title-table" style="padding: 0px;">

      <div class = "col-md-5" style="padding: 0px;">
        <p style="font-size: 17px;">HISTORIAL DE TAREAS <span class="label label-primary"><%=@tasks.count%></span> <span style = "font-size:12px;margin-left:20px;"></span><!--<%= page_entries_info @tasks, :entry_name => 'Tarea' %></span> --></p>
      </div>

      <div class="col-md-3" style="padding: 0px; text-align: right;">
        <p style="font-size: 17px;">Tareas No Cumplidas<span class="label label-primary" style="font-size:12px;margin-left:4px;" ><%=@tasks.cerradas.where(cumplimiento: false).or(@tasks.cerradas.where(cumplimiento: nil)).count%></span><!--<%= page_entries_info @tasks, :entry_name => 'Tarea' %></span> --></p>
      </div>

      <div class="col-md-3" style="padding: 0px;text-align: right;">
        <p style="font-size: 17px;">Tareas Cumplidas<span class="label label-primary" style="font-size:12px;margin-left:4px;" ><%=@tasks.cerradas.where(cumplimiento: true).count%></span><!--<%= page_entries_info @tasks, :entry_name => 'Tarea' %></span> --></p>
      </div>

  </div>

  

<div class="row">


    <br>
      <table class="table">
        <thead>
          <tr class = "tr-table">
            <th style= "width:20%">Fecha De Compromiso</th>
              <th style= "width:10%">Descripcion</th>
              <th style= "width:10%">Estado</th>
              <th style= "width:20%">Cumplimiento</th>
              <th style="width: 20%">Acciones</th>
            </tr>
        </thead>

  <tbody>
     <% @tasks.each do |task| %>
      <tr>
        <td><%= task.fecha_compromiso%></td>
        <td><%= task.description%></td>
        <td><%= get_open(task.estado).html_safe %></td>
        <td><%= state_si_o_no(task.cumplimiento) %></td>

        <td><%= link_to  edit_patient_task_path(@patient.id,task), remote:true , class: "btnl btn-warning" do%>
             <i class="fas fa-edit" style = "font-size:20px;" aria-hidden="true"></i>
        <% end -%>

          <%= link_to  patient_task_path(@patient.id,task), method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btnl btn-danger" do%>
             <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

</div>


<style>

.np{
    text-align: center;
    color: gray;
    background: #f4f4f4;
    font-size: 40px;
    padding: 30px 0px;
}

.np h3{ 
  font-size: 30px;
  margin-bottom: 30px;
}

.crear_paciente{
  font-size: 20px;
  padding: 20px;
 
}
.exp{
    padding: 5px;
    color: #46765a;
}

.exp1{
    padding: 5px;
    color: #a94442;
}

</style>  

<style>

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: white !important;
    background-color: #5bc0de !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
  
</style>






















