<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="thumbnail">
        <br>
         <br><br>
          <p class = "logop text-center" style = "color:#9a9a9a;font-size: 30px"><img style= "width:200px;" id="slack" src="https://farm5.staticflickr.com/4539/38260696042_45b37e8f87_n.jpg"></p><br>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!--
          <div class="form-group">
            <%= f.email_field :email, :class => 'form-control', style:"height:45px;font-size: 16px;border: 1px solid gainsboro !important;", placeholder:"Email" %>
          </div>
        -->
        <div class="col-md-12" style="padding: 0px;">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-at" style="color: #fff;"></i></span>
               <%= f.email_field :email, class: "form-control  required", :title => "Es un Campo Obligatorio", id: "cambio2", placeholder:"Email" %>
            </div>
            <br>
         </div>

          <div class="col-md-12" style="padding: 0px;">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-key" style="color: #fff;"></i></span>
               <%= f.password_field :password, class: "form-control  required", :title => "Es un Campo Obligatorio", id: "cambio2", placeholder: "Contraseña" %>
            </div>
            <br><br>
         </div>

        <!--
          <div class="form-group">
            <%= f.password_field :password, :class => 'form-control', style:"height:45px;font-size: 16px;border: 1px solid gainsboro !important;" , placeholder: "Contraseña" %>
          </div>
        -->

            <div class="actions" >
          
            <%= button_tag type: 'submit', class: "btn btn-primary btn-block", id: "register-button" , style:"font-size:18px"  do %>
                <i class="fas fa-sign-in-alt"> </i> Iniciar Sesión
            <% end %>
          </div>



          <div class="row">

            <br>
              <div class="col-md-9 text-center color-gray enter" style="margin-top: 10px;margin-left: 44px;" >
                <a class="google" href="https://psicloud.herokuapp.com/users/auth/google_oauth2" >
                  <img style="width:20px; float: left; " src="https://png.icons8.com/color/50/000000/google-logo.png" alt=""> Iniciar Sesión con Google 
                </a> 
              </div>

        <div class="col-md-12 col-md-offset-1 text-center color-gray" style="margin-top: 10px;margin-left: 0px; margin-bottom: 10px;">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "¿Olvidaste la contraseña?", new_password_path(resource_name), class: "iniciar"  %><br />
          <% end -%>
        </div>

              <div class="col-md-12 col-md-offset-1 text-center color-gray" style="margin-top: 10px; margin-left: 0px;display:none">
                ¿Aún no tienes una cuenta? <%= link_to "Crear Cuenta", new_registration_path(resource_name), class:"linka"%><br />
              </div>

          </div>
        <% end %>
      </div>   
    </div>
  </div>
</div>



<style type="text/css">


  span{
    background: #5bc0de !important;
    border: 1px solid #5bc0de !important;
  }

  .form-control{
    border-color: #c5c5c5 !important;
  }

  .thumbnail{

    margin-left: 2px;
    padding-right: 20px; 
    padding-left: 20px;
    border-color: #02A8F4;
    border-right: 5px solid #02A8F4;
    border-left: 5px solid #02A8F4;

  }

   .google{
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 7px;
    color: gray !important;
    display: block;
 } 

   .iniciar{
    color: #02A8F4;
    text-decoration: underline;
  }

  @media only screen and (max-width: 600px) { 

    .enter{
      padding-left: 0px;
      padding-right: 37px;

    }

    .application{
      width: 100%;
      height: auto !important;
    }

  } 


</style>