

<div class="row sign_form">
<div class="col-lg-4 col-lg-offset-4 login1">
<p class = "logop text-center" style = "color:#9a9a9a;    font-size: 30px"><img style= "width:200px;" id="slack" src="https://farm5.staticflickr.com/4539/38260696042_45b37e8f87_n.jpg"></p>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="form-group">

    <%= f.email_field :email, :class => 'form-control', style:"height:45px;font-size: 16px;border: 1px solid gainsboro !important;", placeholder:"Email" %>
  </div>

  <div class="form-group">
   
    <%= f.password_field :password, :class => 'form-control', style:"height:45px;font-size: 16px;border: 1px solid gainsboro !important;" , placeholder: "Contraseña" %>
  </div>
  
   


<br>
 <div class="form-group">
<%= button_tag type: 'submit', class: "btn btn-primary btn-block is", id: "register-button" , style:"font-size:18px"  do %>
       <i class="fa fa-sign-in" aria-hidden="true"> </i> Iniciar Sesión


    <% end %>
    
    
  
  </div>
<% end %>

<div class="col-md-12 text-center color-gray" style="margin-top: 10px;margin-left: 0px">

<a class="google" href="https://psicloud.herokuapp.com/users/auth/google_oauth2" ><img style="width:20px" src="https://cdn.icon-icons.com/icons2/836/PNG/512/Google_icon-icons.com_66793.png" alt=""> Iniciar Sesión con Google </a> 

</div>


<div class="col-md-12 col-md-offset-1 text-center color-gray" style="margin-top: 10px;margin-left: 0px">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "¿Olvidaste la contraseña?", new_password_path(resource_name)  %><br />
<% end -%>
</div>
<div class="col-md-12 col-md-offset-1 text-center color-gray" style="margin-top: 10px;margin-left: 0px;display:none">
¿Aún no tienes una cuenta? <%= link_to "Crear Cuenta", new_registration_path(resource_name), class:"linka"%><br />
</div>

</div>

</div>

<style>

 .google
 {
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 7px;
    color: gray !important;
    display: block;
 } 
</style>
