<p id="notice"><%= notice %></p>

<p>
  <strong>Embarazo:</strong>
  <%= @personal_history.embarazo %>
</p>

<p>
  <strong>Hijo deseado:</strong>
  <%= @personal_history.hijo_deseado %>
</p>

<p>
  <strong>Dificultades prenatales:</strong>
  <%= @personal_history.dificultades_prenatales %>
</p>

<p>
  <strong>Periodo prenatal:</strong>
  <%= @personal_history.periodo_prenatal %>
</p>

<p>
  <strong>Parto:</strong>
  <%= @personal_history.parto %>
</p>

<p>
  <strong>Peso nacimiento:</strong>
  <%= @personal_history.peso_nacimiento %>
</p>

<p>
  <strong>Talla nacimiento:</strong>
  <%= @personal_history.talla_nacimiento %>
</p>

<p>
  <strong>Latencia materna:</strong>
  <%= @personal_history.latencia_materna %>
</p>

<p>
  <strong>Biberon:</strong>
  <%= @personal_history.biberon %>
</p>

<p>
  <strong>Semisolidos:</strong>
  <%= @personal_history.semisolidos %>
</p>

<p>
  <strong>Solidos:</strong>
  <%= @personal_history.solidos %>
</p>

<p>
  <strong>Problemas alimentacion:</strong>
  <%= @personal_history.problemas_alimentacion %>
</p>

<p>
  <strong>Dificultad dormir:</strong>
  <%= @personal_history.dificultad_dormir %>
</p>

<p>
  <strong>Reacciones:</strong>
  <%= @personal_history.reacciones %>
</p>

<p>
  <strong>Edad gateo:</strong>
  <%= @personal_history.edad_gateo %>
</p>

<p>
  <strong>Edad pie:</strong>
  <%= @personal_history.edad_pie %>
</p>

<p>
  <strong>Edad caminar:</strong>
  <%= @personal_history.edad_caminar %>
</p>

<p>
  <strong>Inicio lenguaje:</strong>
  <%= @personal_history.inicio_lenguaje %>
</p>

<p>
  <strong>Enfermedades medicas:</strong>
  <%= @personal_history.enfermedades_medicas %>
</p>

<p>
  <strong>Hospitalizacion cirugias:</strong>
  <%= @personal_history.hospitalizacion_cirugias %>
</p>

<p>
  <strong>Problemas visoperceptivomotores:</strong>
  <%= @personal_history.problemas_visoperceptivomotores %>
</p>

<p>
  <strong>Accout:</strong>
  <%= @personal_history.accout_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @personal_history.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @personal_history.admin_user %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @personal_history.patient_id %>
</p>

<p>
  <strong>Clinic history:</strong>
  <%= @personal_history.clinic_history_id %>
</p>

<%= link_to 'Edit', edit_personal_history_path(@personal_history) %> |
<%= link_to 'Back', personal_histories_path %>
