<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Editar Antecedente</h4>
      </div>
<%= form_tag patient_clinic_history_update_backgrounds_path(@patient,@clinic_history,background), method: :patch, remote: true, multipart: true do %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">





<div class="form-group">
    <%= label_tag "Tipo" %>
   
      <%= select_tag 'type_background', options_for_select(@patient.select_type,@background.type_background), {:class => 'form-control'}%>
  </div>
  <div class="form-group">
    <%= label_tag "Descripcion" %>
    <%= text_area_tag :description,nil,:class => 'form-control area' %>
  </div>

<div class="form-group">
    <%= label_tag "Adjunto" %>
    <%= file_field_tag :attachment, :class => 'form-control' %>
  </div>


<%if action_name != "edit" %>
<%= form.hidden_field :admin_user , :value => current_user.admin_user %>
<%= form.hidden_field :user_id ,:value =>  current_user.id %>
<%end%>



 
<br>

      <div class="modal-footer text-center">
       
        <%= submit_tag "Guardar", class: 'btn btn-primary btnpad' %>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
<% end %>

    </div>
  </div>
</div>
</div>
