<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Editar Antecedente Familiar</h4>
      </div>
<%= form_tag patient_clinic_history_update_background_personal_path(@patient,@clinic_history,@background.id), method: :patch, remote: true, multipart: true do %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">



<div class="form-group">
    <%= label_tag "Tipo" %>
   
      <%= select_tag 'type_background', options_for_select(@patient.select_type,@background.type_background), {:class => 'form-control'}%>
  </div>
  <div class="form-group">
    <%= label_tag "Descripcion" %>
    <%= text_area_tag :description,@background.description,:class => 'form-control area' %>
  </div>

  <div class="form-group">
    <%= label_tag "Evidencia" %><br>
    <%= file_field_tag :attachment,  class: "form-control inputfile", id: 'file' %>
    
    <label for="file" ><i class="fa fa-upload" aria-hidden="true"></i>

 <span class="levidencia" style = "margin-right:10px;"><%= @background.attachement.blank? != true ? "#{@background.attachement.file.filename}" : "Evidencia" %> </span> <%if @background.attachement.blank?   != true %><br>
<%= check_box_tag :remove_attachment %> 
   <%= label_tag "Eliminar", "Eliminar", style: "color:red!important" %></label>

   <%end%>
      
  </div>



<%= hidden_field_tag :background , @background.id %>


 
<br>

      <div class="modal-footer text-center">
       
        <%= submit_tag "Guardar", class: 'btn btn-primary btnpad' %>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
<% end %>

    </div>
  </div>
</div>


<script>
  




'use strict';

;( function ( document, window, index )
{
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label  = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
     
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
        
        
      else
        fileName = e.target.value.split( '\\' ).pop();

      if( fileName )
        label.querySelector( 'span' ).innerHTML = fileName;
      else
        label.innerHTML = labelVal;


    });

    // Firefox bug fix
    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
  });

}( document, window, 0 ));


</script>



<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
       font-size: 1em;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-weight: 100!important;
    color: white;
    background-color: #f9f9f9;
    padding: 4px 20px;
    display: inline-block;
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
  
</style>

</div>
