  <div class="row" style = "padding: 10px 45px;">
<div class = "row title-table">
         <div class = "col-md-9">
            <p>ANTECEDENTES</p>
         </div>
        
 
      </div>


<div class="col-md-6" style="">
  <h3><i class="fa fa-users" aria-hidden="true"> </i> FAMILIARES <%= link_to  patient_clinic_history_new_backgrounds_path(@clinic_history.patient_id,@clinic_history.id), remote: true, class: "btn btn-primary btn-nuevo"  do%>
  <i class="fa fa-plus"></i><%end%>
  </h3>



<hr>

<% @clinic_history.backgrounds.each do |back|%>
   <div class="panel panel-default">
                        <div class="panel-heading">
                                   <div class="row">

              <div class="col-md-4" style="    color: #5bc0de;
    font-size: 18px;;">
                    <%= back.type_background %>
              </div>
              

              <div class="col-md-8 text-right">
               <%if back.attachment_url%>
                   <%= link_to  back.attachment_url, class: "", style:"margin-right:10px;" do  %>
                          <i class="fa fa-download" aria-hidden="true"></i> Descargar Adjunto
                   <%end%>  
                   <%end%>
                      
        <%= link_to patient_clinic_history_edit_backgrounds_path(@clinic_history.patient_id,@clinic_history.id,  back.id), remote: true, class: "icon" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <%end%>
        <%= link_to  patient_clinic_history_destroy_backgrounds_path(@clinic_history.patient_id,@clinic_history.id,  back.id),method: :delete, data: { confirm: '¿Estas seguro de eliminar este registro?' }, class: "icon" do %>
           <i class="fa fa-trash" aria-hidden="true"></i>
          <%end%>
              </div>
           
            
            
          </div>
                        </div>
                        <div class="panel-body">
                      <%= back.description %>
                        </div>
                      </div>

<%end%>

</div>

<div class="col-md-6">
  <h3><i class="fa fa-user" aria-hidden="true"></i> PERSONALES <%= link_to  patient_clinic_history_new_background_personal_path(@clinic_history.patient_id,@clinic_history.id), remote: true, class: "btn btn-primary btn-nuevo" do %>
  <i class="fa fa-plus"></i>
<%end%></h3>

<hr>
    <% @clinic_history.personal_backgrounds.each do |back|%>
   <div class="panel panel-default">
                        <div class="panel-heading">
                                   <div class="row">

              <div class="col-md-4" style="    color: #5bc0de;
    font-size: 18px;;">
                    <%= back.type_background %> 
              </div>
              

              <div class="col-md-8 text-right">
               <%if back.attachement_url%>
                   <%= link_to  back.attachement_url, class: "", style:"margin-right:10px;" do  %>
                          <i class="fa fa-download" aria-hidden="true"></i> Descargar Adjunto
                   <%end%>  
                   <%end%>
                      
        <%= link_to patient_clinic_history_edit_background_personal_path(@clinic_history.patient_id,@clinic_history.id,  back.id), remote: true, class: "icon" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <%end%>
        <%= link_to  patient_clinic_history_destroy_background_personal_path(@clinic_history.patient_id,@clinic_history.id,  back.id),method: :delete, data: { confirm: '¿Estas seguro de eliminar este registro?' }, class: "icon" do %>
           <i class="fa fa-trash" aria-hidden="true"></i>
          <%end%>
              </div>
           
            
            
          </div>
                        </div>
                        <div class="panel-body">
                      <%= back.description %>
                        </div>
                      </div>

<%end%>
</div>