  <div id='cssmenu' style="margin-top: 10px;" >
      <ul>
          <li><%= link_to "Inicio", root_path%></li> 
          <li class="active"><%= link_to "Eps", hpcs_path%></li>
      </ul>
  </div>
<div class="container margin-top-40">
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6" style="padding: 0px;">
            <p id="ti1">EPS <span class="label label-primary"><%=@hpcs.count%></span> <span style = "font-size:12px;margin-left:20px;" id="t2"> <%= page_entries_info @hpcs, :entry_name => 'Eps' %></span> </p>
         </div>
         <div class = "col-md-2" style="right: -41%; padding: 0px; width: 114px !important;">
            <%= link_to 'Nueva EPS', new_hpc_path,remote:true, class: "btn btn-primary hidden-xs hidden-sm"  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table hidden-xs hidden-sm" >
            <thead>
               <tr class = "tr-table">
      <th>Nombre</th>
      <th>Descripción</th>


      <th width="10%" ></th>
    </tr>
  </thead>

  <tbody>
    <% @hpcs.each do |hpc| %>
      <tr>
         <td><%= hpc.name %></td>
        <td><%= hpc.description %></td>
   
        <td>  <%= link_to  edit_hpc_path(hpc),remote: true,  :class => "btnl btn-warning" do %>
                    
                     <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>

                <% end %>
                <%= link_to  hpc,method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, :class => "btnl btn-danger" do %>
                    <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>

                    
                <% end %></td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>

<%= render "movil"%>

<div class = "col-md-4 paginate text-left title-table1">
  <%= will_paginate @hpcs%>
</div>

<style type="text/css">

   @media only screen and (max-width: 600px) {
    #ti1{
      margin-left: 22px;
    }

    #t2{
      margin-left: 80px !important;
    }
   }

</style>