<%= render "form_informe" , patient: @patient, clinic_history: @clinic_history %>



<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>



















<div class="row margin-top-40">

</div>
    <div id='cssmenu'>
      <ul>
        <li><%= link_to "Inicio", root_path%></li> 
        <li><%= link_to "Pacientes", patients_path%></li>
        <li><%= link_to "#{@patient.first_name} #{@patient.first_last_name}", patient_path(@patient.id)%></li>
        <li class="active"><%= link_to "Historia Clinica", patient_clinic_history_path(@patient.id,@clinic_history)%></li>
      </ul>
    </div>
<div class="row no-marging"  ">
   <div class="col-md-12 text-right">
   
      <%= link_to patient_clinic_history_path(@patient.id,@clinic_history , :format => "pdf")  , class: "" ,target: :_blank do%>PDF Informacion general<img src="http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png" width="30px" alt="">
      <%end%>&nbsp;&nbsp;
        <%= link_to patient_clinic_history_pdf_completo_path(@patient.id,@clinic_history , :format => "pdf")  , class: "" ,target: :_blank do%>PDF Completo<img src="http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png" width="30px" alt="">
      <%end%> &nbsp;&nbsp;
       <!-- <%= link_to edit_patient_clinic_history_path(@patient.id,@clinic_history), class: "btn btn-primary icon" do%>
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <%end%>-->
   </div>
</div>
<br>
<table class="table1">
   <tr style = "height:100px">
      <td class="text-center" style = "width:20%"><%=(image_tag (get_account1.logo_url), style: "width:100px;") if get_account1.logo_url%></td>
      <td class="text-center" style = "width:60%;font-size:20px;text-align: center;font-weight: bold">FORMATO DE HISTORIA CLINICA <br><%=get_account1.name.upcase %><br><%=@clinic_history.codigo%> </td>
      <td class="text-center imgedit" style = "width:20%;font-size:40px;text-align: center"> <%=image_tag @patient.avatar_url if @patient.avatar?  %></td>
   </tr>
</table>
<h3 class="h3">Datos del Paciente</h3>
<table class="table table-responsive">
   <tr>
      <td> <strong> Nombres</strong><br> <%=@patient.first_name%> <%=@patient.second_name%> </td>
      <td> <strong>Apellidos</strong><br> <%=@patient.first_last_name%> <%=@patient.second_last_name%> </td>
      <td> <strong>Documento</strong><br> <%=  type_document(@patient.document_type)%> -  <%=@patient.document%> 
      <td> <strong>Fecha de Nacimiento:</strong><br> <%=@patient.birth_date%> </td>
      </td>
   </tr>
   <tr>
      <% year = @patient.age == 1 ? "Año" : " Años"
         month = @patient.birthdate_month == 1 ? " Mes" : " Meses"
         day =  @patient.birthdate_day == 1 ?  " Día" : " Días"
         %>
      <td> <strong>Edad:</strong> <br><%=@patient.age.to_s + year  %> <%=@patient.birthdate_month.to_s + month   %> <%=@patient.birthdate_day.to_s +  day %></td>
      <td> <strong>Ciudad:</strong> <br><%=@patient.city%> </td>
      <td> <strong>Direccion de Residencia</strong> <br><%=@patient.address%> </td>
      <td> <strong>Telefono fijo:</strong><br> <%=@patient.phone%> </td>
   </tr>
   <tr>
      <td> <strong>Telefono Movil:</strong> <br><%= @patient.movil%> </td>
      <td> <strong>Email</strong><br> <%=@patient.email%> </td>
      <td> <strong>Ocupación:</strong><br> <%=@patient.occupation%> </td>
      <td> <strong>Profesión:</strong> <br><%= @patient.profession%> </td>
   </tr>
   <tr>
      <td> <strong>Genero:</strong> <br><%= @patient.gender%> </td>
      <td> <strong>Estado Civil</strong><br> <%=@patient.civil_status%> </td>
      <td> <strong>Grupo sanguineo:</strong><br> <%=@patient.blood_type%> </td>
      <td> <strong>Grupo Etnico:</strong> <br><%= @patient.ethnic_group%> </td>
   </tr>
   <tr>
      <td> <strong>Eps:</strong> <br><%= @patient.hpc.name if @patient.hpc%>  </td>
      <td> <strong>Convenio</strong><br><%= @patient.agreement.name if @patient.agreement%> </td>
      <td> <strong>Nombre Contacto:</strong> <br><%= @patient.contact_name%> </td>
      <td> <strong>Telefono Contacto</strong><br> <%=@patient.contact_phone%> </td>
   </tr>
   <tr>
      <td> <strong>Parentesco del Contacto</strong><br> <%=@patient.contact_relationship%> </td>
      <td> </td>
      <td> </td>
      <td> </td>
   </tr>
   </tbody>
</table>
<div class = "fields_history">
   <hr>
   <h3 class= "color-gray">Motivo de Consulta</h3>
   <p><strong>Tipo: </strong> <%==@clinic_history.consult_reason.name if @clinic_history.consult_reason%><br><br>
                        <strong>Descripcion: </strong> <%=@clinic_history.consultation_reason%></p>
</div>
<div class = "fields_history">
   <hr>
   <h3 class= "color-gray">Estado Actual</h3>
   <p><%== @clinic_history.actual_state%></p>
</div>
<div class = "fields_history">
   <hr>
   <h3 class= "color-gray">Dinamica Familiar</h3>
   <p><%=@clinic_history.family_dinamic%></p>
</div>


<% @clinic_history.crete_fields.order(id: :asc).each do |field| %>
  
 
   <%if field.field.form == "Primer Contacto" && field.field.state %>
    <div class = "fields_history">
      <hr>
      <h3 class= "color-gray"><%=field.field.name%></h3>
      <p><%=field.content%></p>
    </div>

<%end%>
  

<%end%>

<div class = "fields_history">
  <table class="table table-responsive" id="tabla_antecedentes">
    <h3 class= "color-gray">Historia Familiar</h3>

 <!--padre--> 
    <tr>
      <td><strong>Nombre del Padre :</strong><br><%=@fchild.father_name%></td>
      <td><strong>Edad del Padre :</strong><br><%=@fchild.father_age%></td>
      <td><strong>Ocupacion del padre :</strong><br><%=@fchild.father_job%></td>
      <td><strong>Relacion del Padre con el Niño :</strong><br><%=@fchild.father_relationship%></td>
      <td><strong>Adicciones del Padre :</strong><br><%=@fchild.father_addictions%></td>
    </tr>

  <!--madre-->
    <tr>
      <td><strong>Nombre de la madre:</strong><br><%=@fchild.mother_name%></td>
      <td><strong>Edad de la madre:</strong> <br><%=@fchild.mother_age%></td>
      <td><strong>Ocupacion de la madre:</strong> <br><%=@fchild.mother_job%></td>
      <td width="25%"><strong>Relacion de la madre con el Niño:</strong> <br><%=@fchild.mother_relationship%></td>
      <td width="25%"><strong>Adicciones de la madre:</strong><br><%=@fchild.mother_addictions%></td>
    </tr>


<!--relacion padres-->
    <tr>
      <td><strong>Relacion Entre los padres:</strong><br><%=@fchild.parents_realationship%></td>
      <td colspan="2"><strong>Especificar razones:</strong><br><%=@fchild.reasons_relationship%></td>
      <td colspan="2"><strong>Reaccion de los padres ante el problema del niño:</strong><br><%=@fchild.parents_reaction%></td>
    </tr>

    <!--hermanos-->
    <%@fchild.child_brothers.each do |brother|%>
      <tr>
        <td><strong>Nombre del hermano :</strong><br><%=brother.name if brother.name%></td>
        <td><strong>Sexo :</strong><br><%=brother.sexo if brother.sexo%></td>
        <td><strong>Edad (Años) :</strong><br><%=brother.edad if brother.edad%></td>
        <td colspan="2"><strong>Relacion :</strong><br><%=brother.relationship if brother.relationship%></td>
      </tr>
    <%end%>
      
    <!--HIJOS-->
    <%@fchild.children.each do |son|%>
      <tr>
        <td><strong>Nombre del Hijo :</strong><br><%=son.name if son.name%></td>
        <td><strong>Genero :</strong><br><%=son.genero if son.genero%></td>
        <td><strong>Edad (Años) :</strong><br><%=son.age if son.age%></td>
        <td colspan="2"><strong>Relacion :</strong><br><%=son.relationship if son.relationship%></td>
      </tr>
    <%end%>
  </table>

</div>


  <% if  @clinic_history.child_history %>
  <div class = "fields_history">
 <!--historia personal-->
   <h3 class= "color-gray"> Historia Personal</h3>
  <table class="table table-responsive" id="tabla_antecedentes">
      <h4 class= "color-gray">Antecedentes</h4>
    <tr>
      <td><strong>Embarazo</strong><br><%=@schild.embarazo%></td>
      <td><strong>Hijo Deseado</strong><br><%=@schild.hijo_deseado%></td>
    </tr>

    <tr>
      <td colspan="4"><strong>Dificultades Prenatales (Médicas, Intentos de aborto, Psicológicas)</strong><br><%=@schild.dificultades_prenatales%></td>
    </tr>


    <tr>
      <td colspan="4"><strong>Periodo Prenatal Parto: (Normal, Anoxia, Cordon umbilical, Placenta, Malformación,Ictericia, Prelactancia materna)</strong><br><%=@schild.periodo_prenatal%></td>
    </tr>




     <tr>
      <td><strong>Peso al Nacer (Libras)</strong><br><%=@schild.peso_nacimiento%></td>
      <td><strong>Talla nacimiento (cms)</strong><br><%=@schild.talla_nacimiento%></td>
      <td><strong>Lactancia Materna Hasta (Meses)</strong><br><%=@schild.latencia_materna%></td>
      <td><strong>Con biberon hasta (Meses)</strong><br><%=@schild.latencia_materna%></td>
    </tr>

    <!--<tr>
      <th colspan="2">Tipos de Semisolidos Introducidos</th>
      <th colspan="2">Tipos de Solidos Introducidos</th>
    </tr>

    <tr>
      <td colspan="2"><%=@schild.semisolidos%></td>
       <td colspan="2"><%=@schild.solidos%></td>
    </tr>-->

     <tr>
      <td colspan="4"><strong>Problemas de Alimentacion al nacer y hasta el primer año</strong><br><%=@schild.problemas_alimentacion%></td>
    </tr>



    <tr>
      <td colspan="2"><strong>Dificultades para dormir</strong><br><%=@schild.dificultad_dormir%></td>
      <td colspan="2"><strong>Reacciones del niño</strong><%=@schild.reacciones%></td>
    </tr>


     <tr>
      <td><strong>Edad de gateo (Meses)</strong><br><%=@schild.edad_gateo%></td>
      <td><strong>Edad de ponerse en pie (Meses)</strong><br><%=@schild.edad_gateo%></td>
      <td><strong>Edad de caminar (Meses)</strong><br><%=@schild.edad_caminar%></td>
      <td><strong>Inicio del Lenguaje</strong><br><%=@schild.inicio_lenguaje%></td>
    </tr>

     <tr>
      <td colspan="2"><strong>Enfermedades Medicas</strong><br><%=@schild.enfermedades_medicas%></td>
      <td colspan="2"><strong>Hospitalizaciones y cirugias</strong><br><%=@schild.hospitalizacion_cirugias%></td>
    </tr>

    <tr>
      <td colspan="4"><strong>Problemas visoperceptivomotores</strong><br><%=@schild.problemas_visoperceptivomotores%></td>
    </tr>

</table>

<h4 class= "color-gray">Antecedentes Escolares</h4>
  <table class="table table-responsive" id="tabla_antecedentes">
  

    <tr>
      <td><strong>Nivel Escolar</strong><br><%=@tchild.nivel_escolar%></td>
      <td><strong>Grado</strong><br><%=@tchild.indice_academico%></td>
      <td><strong>Escuela</strong><br><%=@tchild.escuela%></td> 
    </tr>

    <tr>
      <td colspan="2"><strong>¿Cómo fue el proceso de adaptación a la escuela?</strong><br><%=@tchild.adaptacion_escolar%></td>
      <td colspan="2"><strong>Problemas escolares (académicos), (conductales)</strong><br><%=@tchild.problemas_escolares%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿Qué le gusta mas de la escuela?</strong><br><%=@tchild.gustos_escolares%></td>
      <td colspan="2"><strong>¿Qué no le gusta de la escuela?</strong><br><%=@tchild.disgustos_escolares%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿Cómo es con las tareas ?</strong><br><%=@tchild.tareas%></td>
      <td colspan="2"><strong>¿ Cómo maneja los útiles escolares ?</strong><br><%=@tchild.utiles_escolares%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿ Qué problemas posee a nivel de lectura, escritura, cálculo ?</strong><br><%=@tchild.problemas_materias%></td>
      <td colspan="2"><strong>¿ Cómo ser ralaciona con la maestra ?</strong><br><%=@tchild.relacion_maestro%></td>
    </tr>

    <tr>
      <td colspan="4"><strong>¿ Cómo ser ralaciona con los compañeros ?</strong><br><%=@tchild.relacion_companeros%></td>
    </tr>
 </table>

<h4 class= "color-gray">Aspectos de Socialización y Afectivos</h4>
  <table class="table table-responsive" id="tabla_antecedentes">
  
    <tr>
      <td colspan="4"><strong>¿Hace amigos con facilidad? (comunicativo, poco comunicativo, participa en grupo, tendencia al aislamiento, pasivo, agresivo, dependiente, independiente)</strong><br><%=@tchild.frecuencia_amigos%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿De que edad son los niños con los que se realciona?</strong><br><%=@tchild.edad_amigos%></td>
      <td colspan="2"><strong>¿Qué tipos de juegos realiza?</strong><br><%=@tchild.tipo_juegos%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿ Qué hace con otros niños del mismo sexo ?</strong><br><%=@tchild.actividades_mismo_sexo%></td>
      <td colspan="2"><strong>¿ Cómo se realciona con los niños de otro sexo ?</strong><br><%=@tchild.actividades_otro_sexo%></td>
    </tr>

     <tr>
      <td colspan="2"><strong>¿ Por qué se pelea con otros niños ?</strong><br><%=@tchild.pelea%></td>
      <td colspan="2"><strong>¿ Qué lo hace feliz ?</strong><br><%=@tchild.motivo_felicidad%></td>
    </tr>

     <tr>
      <td colspan="2"><strong>¿ Qué lo entristece ?</strong><br><%=@tchild.motivo_tristeza%></td>
      <td colspan="2"><strong>¿ Qué lo enoja ?</strong><br><%=@tchild.motivo_enojo%></td>
    </tr>

     <tr>
      <td colspan="2"><strong>¿ Sobre que aspectos de la vida pregunta constantemente?</strong>><br><%=@tchild.motivos_pregunta%></td>
      <td colspan="2"><strong>¿ Qué tan bien se baña, se viste, come, duerme, en la actualidad ?</strong>><br><%=@tchild.habitos%></td>
    </tr>

</table>


<h4 class= "color-gray">Intereses y pasatiempos</h4>
  <table class="table table-responsive" id="tabla_antecedentes">
  
   <tr>
      <td colspan="2"><strong>¿ Qué le gusta hacer en su tiempo libre ?</strong><br><%=@tchild.tiempo_libre%></td>
      <td colspan="2"><strong>¿ Qué hace cuando esta solo ?</strong><br><%=@tchild.hace_solo%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿ Qué no le gusta hacer ?</strong><br><%=@tchild.no_gusta%></td>
      <td colspan="2"><strong>¿ Qué tipo de deportes le gustan ?</strong><br><%=@tchild.deportes%></td>
    </tr>

     <tr>
      <td colspan="2"><strong>¿ Cuales son sus juegos favoritos? ¿ Alguan vez a jugado al doctor, mamá y papá ?</strong><br><%=@tchild.juegos%></td>
      <td colspan="2"><strong>¿ Qué programas de televisión mira ?</strong><br><%=@tchild.programa_tv%></td>
    </tr>

  </table>


<h4 class= "color-gray">Desarrollo Psicosexual</h4>
  <table class="table table-responsive" id="tabla_antecedentes">
  
    <tr>
      <td colspan="2"><strong>Destete</strong><br><%=@fochild.destete%></td>
      <td colspan="2"><strong>¿ Qué tipos de alimentos prefiere ?</strong><br><%=@fochild.gustos_alimentos%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿ Alguna vez ha dejando de alimentarse ?</strong><br><%=@fochild.dejado_alimentacion%></td>
      <td colspan="2"><strong>¿ Control Anal, Vesical diurno, Vesical nocturno, Tecnica?</strong><br><%=@fochild.tipo_alimentacion%></td>
    </tr>

    <tr>
      <td colspan="4"><strong>¿Que reacción posee ante la defacación ? (asco, verguenza, miedo, agrado, desagrado)</strong><br><%=@fochild.reaccion_defecacion%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>Succion del dedo</strong><br><%=@fochild.succion_dedo%></td>
      <td colspan="2"><strong>Masturbación</strong><br><%=@fochild.masturbacion%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿ Con quien duerme ?</strong><br><%=@fochild.duerme_con%></td>
      <td colspan="2"><strong>¿Alguna vez ha observado actos sexuales?</strong><br><%=@fochild.visto_acto_sexual%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>¿ Que conocimientos tiene  acerca de la sexualidad ?</strong><br><%=@fochild.conocimientos_sexualidad%></td>
      <td colspan="2"><strong>Información sexual adquirida y fuentes</strong><br><%=@fochild.informacion_sexual%></td>
    </tr>

 </table>

<h4 class= "color-gray">Preadolescencia y Adolescencia</h4>
  <table class="table table-responsive" id="tabla_antecedentes">
  
    <tr>
      <td colspan="2"><strong>Menarquia</strong><br><%=@fochild.menarquia%></td>
      <td colspan="2"><strong>Experiencia menarquia</strong><br><%=@fochild.experiencia_menarquia%></td>
    </tr>

     <tr>
      <td colspan="2"><strong>Polución</strong><br><%=@fochild.polucion%></td>
      <td colspan="2"><strong>Experiencia polución</strong><br><%=@fochild.experiencia_polucion%></td>
    </tr>

    <tr>
      <td colspan="4"><strong>¿Fue informado?</strong><br><%=@fochild.reacciones_emocionales%></td>
    </tr>

    <tr>
      <td colspan="4"><strong>Reacciones emocionales propias de la adolescencia: (Extrovertido, Timido, Ansioso, voluntarioso, malumorado,labil)</strong><br><%=@fochild.reacciones_emocionales%></td>
    </tr>

    <tr>
      <td colspan="2"><strong>Noviazgo</strong><br><%=@fochild.aceptacion_noviazgo%></td>
      <td colspan="2"><strong>Aceptacion familiar o restricción familiar ante el noviazgo</strong><br><%=@fochild.aceptacion_noviazgo%></td>
    </tr>

</table>

<h4 class= "color-gray">Sintomas Neuróticos</h4>
  <table class="table table-responsive" id="tabla_antecedentes">


    <tr>
      <td colspan="2"><strong>Sintomas</strong><br><%=@fochild.sintomas_neuroticos%></td>     
    </tr>

    <tr>
      <td colspan="4"> <strong>Descripcion sintomas neuroticos</strong><br><%=@fochild.descripcion_sintomas%></td> 
    </tr>

</table>




<table class="table table-responsive" id="tabla_antecedentes">

    <tr>
      <td colspan="2"><strong>¿ Quién es el responsable de la disciplina ?</strong><br><%=@fochild.responsable_disiplina%></td>
      <td colspan="2"><strong>¿ Que comportamientos le molestan del niño ?</strong><br><%=@fochild.comportamientos_molestos%></td>
    </tr>

    <tr>
      <td colspan="4"><strong>¿ Que tipo de castigos utiliza frecuentemente ?</strong><br><%=@fochild.tipos_de_castigo%></td>     
    </tr>

</table>

<table class="table table-responsive" id="tabla_antecedentes">
  <h4 class= "color-gray">Observaciones finales</h4><%=@fochild.observaciones%></td>



</table>

</div>



<%end%>







<div class = "fields_history">
   <hr>
   <h3 class= "color-gray">Antecedentes</h3>
   <h4><strong>Personales</strong></h4>
   <%@clinic_history.personal_backgrounds.each do |ch|%>  
   <strong>Tipo:</strong> <%=ch.type_background %> &nbsp;
   <%= link_to 'Ver <i class="fa fa-file-text" aria-hidden="true"></i>'.html_safe ,ch.attachement_url if ch.attachement_url%>
   <br><strong>Descripción:</strong> <%=ch.description%><br><br>
   <%end%>
   <h4><strong>Familiares</strong></h4>
   <%@clinic_history.backgrounds.each do |ch|%>  
   <strong>Tipo:</strong> <%=ch.type_background %> &nbsp;
   <%= link_to 'Ver <i class="fa fa-file-text" aria-hidden="true"></i>'.html_safe ,ch.attachment_url if ch.attachment_url%>
   <br><strong>Descripción:</strong> <%=ch.description%><br><br>
   <%end%>
</div>















































<div class = "fields_history">
   <hr>
   <h3 class= "color-gray"> Herramientas de evaluación</h3>
  
   <%@clinic_history.tool_tests.each do |ch|%>  
   <strong>Tipo:</strong> <%=ch.type_tool %> &nbsp;
   <%= link_to 'Ver <i class="fa fa-file-text" aria-hidden="true"></i>'.html_safe ,ch.attachment_url if ch.attachment_url%>
   <br><strong>Descripción:</strong> <%=ch.description%><br><br>
   <%end%>
</div>
<div class = "fields_history">
<hr>
  <h3 class= "color-gray"> Hipotesis diagnóstica</h3>
  <strong>Descripción</strong>
  <span class=""><%=@clinic_history.diagnostic_hypothesis%></span><br><br>
  <strong>DSMV: </strong>
  <%@clinic_history.diagnostics.each do |ch|%>  
   <div class="diagnostico" style="margin-bottom: 5px;display: inline-block"><%=ch.name%></div>
  <%end%>
  <br>
  <br>

  <strong>Diagnostico Principal (CIE10): </strong>
   <%if @clinic_history.diagnostico%>  

<div class="diagnostico" style="margin-bottom: 5px;display: inline-block"><%=@clinic_history.diagnostico.codigo%> - <%=@clinic_history.diagnostico.name%></div>
<%end%>

 <%@clinic_history.first_diagnosticos.each do |ch|%>  
    <div class="diagnostico" style="margin-bottom: 5px;display: inline-block"><%=ch.codigo%> - <%=ch.name%></div>
       <%end%>   

    <br>
    <br>
   <strong>Diagnosticos Secundario (CE10): </strong>
      <%@clinic_history.diagnosticos.each do |ch|%>  
    <div class="diagnostico" style="margin-bottom: 5px;display: inline-block"><%=ch.codigo%> - <%=ch.name%></div>
       <%end%>     
   
</div>


<div class = "fields_history">
   <hr>
   <h3 class= "color-gray">Objetivo terapéoutico</h3>
   <p><%=@clinic_history.therapeutic_goal%></p>
</div>
<div class = "fields_history">
   <hr>
   <h3 class= "color-gray">Tipo de Tratamiento</h3>
   <p><%=@clinic_history.type_of_treatment%></p>
</div>

<% @clinic_history.crete_fields.order(id: :asc).each do |field| %>
  
 
   <%if field.field.form == "Diagnostico y Tratamiento" && field.field.state %>
    <div class = "fields_history">
      <hr>
      <h3 class= "color-gray"><%=field.field.name%></h3>
      <p><%=field.content%></p>
    </div>

<%end%>
  

<%end%>









<div class = "fields_history">
   <hr>
   <h3 class= "color-gray"> Seguimientos y observaciones</h3>
   <%@clinic_history.tracings.each do |tr|%> 
   <div class="row">
   <div class="col-md-12">
     
   
        <strong>Fecha:</strong> <%=tr.tracing_date %> &nbsp;
   <%= link_to 'Ver <i class="fa fa-file-text" aria-hidden="true"></i>'.html_safe ,tr.attachment_url if tr.attachment_url%>
   <br><strong>Descripción:</strong> <%=tr.description%><br>

   <% if @field_default.observation_tracing_state  == true%>
      <br><strong>Observaciones:</strong> <%=tr.observation%><br>

   <% end -%>

   <% if @field_default.evolution_tracing_state  == true %>
    <br><strong>Evolucion:</strong> <%=tr.evolution%><br>

   <% end -%>
  
    <% @clinic_history.crete_fields.where(tracing_id: tr.id).order(id: :asc).each do |field| %>
  
 
   <%if field.field.form == "Seguimiento" && field.field.state %>
    
    <strong><%=field.field.name%>: </strong><br> <%=field.content%><br>
    

      <%end%>
   
   
  

<%end%>

 </div> 
</div>
<hr>
   <%end%>
    <br>

   






</div>


 
  



<style>
   .fields_history
   {
   color:gray;
   width: 80%;
   margin-left:10%;
   min-height: 150px;
   }
   .table
   {
   width: 80%;
   margin-left:10%;
   margin-bottom: 20px !important;
   }
   .table td
   {
    padding: 6px 5px !important;
   }
   .h3
   {
    color: #ffffff;
    width: 80%;
    background: #5bc0de;
    padding: 6px;
    margin-left: 10%;
   }
   .fields_history h3
   {
       color: #ffffff;
   
    background: #5bc0de;
    padding: 6px;

  
   }
   .table1
   {
   border-collapse: collapse;
   color: #7a7a7a;
   font-size:12px;
   width: 80%;
   margin-left:10%;
   }   
   .table1 td
   {
   padding: 6px 20px;
   width:25%;
   border:1px solid #cecece;
   }
     .table1 th
   {
   padding: 6px 20px;
   width:25%;
   border:1px solid #cecece;
   }
      .table2 td
   {
   padding: 6px 20px;


   }
     .table2 th
   {
   padding: 6px 20px;
      border-top: 1px solid gray;

   }
    .table2 tr
   {

   padding: 6px 20px;

  

   }
   .table2
   {
    width: 100%;
   }

   #tabla_antecedentes{
    margin-left: 0px;
    width: 100%;

   }

   strong{
    color: #306C95;
   }



</style>

































