  
<div class="row" style="margin-top: 20px;padding: 20px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Rips1 </a></li>

    <li><a data-toggle="tab" href="#menu2">Rips 2</a></li>
    <li><a data-toggle="tab" href="#menu3">RIps 3</a></li>
  </ul>

</div>

  <div class="tab-content">
    



    <div id="home" class="tab-pane fade in active">
      





  <div class="content">


  <%= link_to  "Descargar",  first_rips_csv_all_path(format: "csv"), class: "btn btn-primary"%>
<table class="table">
  <thead>
    <tr>
      <th>Tipo identificacion</th>
      <th>Numero Identificacion</th>
      <th>Codigo entidad administradora</th>
      <th>Tipo Usuario</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Primer Nombre</th>
      <th>Segundo Nombre</th>
      <th>Edad</th>
      <th>Unidad Medida Edad</th>
      <th>Sexo</th>
      <th>Codigo Dpto</th>
      <th>Codigo Municipio</th>
      <th>Zona Residencial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @first_rips.each do |first_rip| %>
      <tr>
        <td><%= first_rip.tipo_identificacion %></td>
        <td><%= first_rip.numero_identificacion %></td>
        <td><%= first_rip.codigo_entidad_admin %></td>
        <td><%= first_rip.tipo_usuario %></td>
        <td><%= first_rip.primer_apellido %></td>
        <td><%= first_rip.segundo_apellido %></td>
        <td><%= first_rip.primer_nombre %></td>
        <td><%= first_rip.segundo_nombre %></td>
        <td><%= first_rip.edad %></td>
        <td><%= first_rip.unidad_medida_edad %></td>
        <td><%= first_rip.sexo %></td>
        <td><%= first_rip.codigo_dpto %></td>
        <td><%= first_rip.codigo_municipio %></td>
        <td><%= first_rip.zona_residencial %></td>
        <td><%= link_to 'Show', first_rip %></td>
        <td><%= link_to 'Edit', edit_first_rip_path(first_rip) %></td>
        <td><%= link_to 'Destroy', first_rip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


    </div>

















    <div id="menu2" class="tab-pane fade">
     

  <div class="content">


  <%= link_to  "Descargar",  second_rips_csv_all_path(format: "csv"), class: "btn btn-primary"%>
<table class="table">
  <thead>
    <tr>
      <th>Codigo prestador</th>
      <th>User</th>
      <th>Admin user</th>
      <th>Tipo identificacion</th>
      <th>Numero identificacion</th>
      <th>Numero factura</th>
      <th>Fecha expedicion factura</th>
      <th>Fecha inicio</th>
      <th>Fecha final</th>
      <th>Codigo entidad administradora</th>
      <th>Nombre entidad </th>
      <th>Administradora</th>
      <th>Numero contrato</th>
      <th>Plan beneficiados</th>
      <th>Numero poliza</th>
      <th>Valor pago compartido</th>
      <th>Valor comision</th>
      <th>Valor total descuentos</th>
      <th>Valor pagar entidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @second_rips.each do |second_rip| %>
      <tr>
        <td><%= second_rip.codigo_prestador %></td>
        <td><%= second_rip.user_id %></td>
        <td><%= second_rip.admin_user %></td>
        <td><%= second_rip.tipo_identificacion %></td>
        <td><%= second_rip.numero_identificacion %></td>
        <td><%= second_rip.numero_factura %></td>
        <td><%= second_rip.fecha_expedicion_factura %></td>
        <td><%= second_rip.fecha_inicio %></td>
        <td><%= second_rip.fecha_final %></td>
        <td><%= second_rip.codigo_entidad_administradora %></td>
        <td><%= second_rip.nombre_entidad_ %></td>
        <td><%= second_rip.administradora %></td>
        <td><%= second_rip.numero_contrato %></td>
        <td><%= second_rip.plan_beneficiados %></td>
        <td><%= second_rip.numero_poliza %></td>
        <td><%= second_rip.valor_pago_compartido %></td>
        <td><%= second_rip.valor_comision %></td>
        <td><%= second_rip.valor_total_descuentos %></td>
        <td><%= second_rip.valor_pagar_entidad %></td>
        <td><%= link_to 'Show', second_rip %></td>
        <td><%= link_to 'Edit', edit_second_rip_path(second_rip) %></td>
        <td><%= link_to 'Destroy', second_rip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Second Rip', new_second_rip_path %>

</div>
<br>
    </div>
    












    <div id="menu3" class="tab-pane fade">
    

  <div class="content">


  <%= link_to  "Descargar",  third_rips_csv_all_path(format: "csv"), class: "btn btn-primary"%>
<table class="table">

  <thead>
    <tr>
      <th>User</th>
      <th>Admin user</th>
      <th>Numero factura</th>
      <th>Codigo prestador</th>
      <th>Tipo identificacion usuario</th>
      <th>Numero identificacion usuario</th>
      <th>Fecha consulta</th>
      <th>Numero autorizacion</th>
      <th>Codigo consulta</th>
      <th>Finalidad consulta</th>
      <th>Causa externa</th>
      <th>Codigo diagnostico</th>
      <th>Codigo diagnostico uno</th>
      <th>Codigo diagnostico dos</th>
      <th>Codigo diagnostico tres</th>
      <th>Tipo diagnostico principal</th>
      <th>Valor consulta</th>
      <th>Valor cuota moderadora</th>
      <th>Valor neto pagar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @third_rips.each do |third_rip| %>
      <tr>
        <td><%= third_rip.user_id %></td>
        <td><%= third_rip.admin_user %></td>
        <td><%= third_rip.numero_factura %></td>
        <td><%= third_rip.codigo_prestador %></td>
        <td><%= third_rip.tipo_identificacion_usuario %></td>
        <td><%= third_rip.numero_identificacion_usuario %></td>
        <td><%= third_rip.fecha_consulta %></td>
        <td><%= third_rip.numero_autorizacion %></td>
        <td><%= third_rip.codigo_consulta %></td>
        <td><%= third_rip.finalidad_consulta %></td>
        <td><%= third_rip.causa_externa %></td>
        <td><%= third_rip.codigo_diagnostico %></td>
        <td><%= third_rip.codigo_diagnostico_uno %></td>
        <td><%= third_rip.codigo_diagnostico_dos %></td>
        <td><%= third_rip.codigo_diagnostico_tres %></td>
        <td><%= third_rip.tipo_diagnostico_principal %></td>
        <td><%= third_rip.valor_consulta %></td>
        <td><%= third_rip.valor_cuota_moderadora %></td>
        <td><%= third_rip.valor_neto_pagar %></td>
        <td><%= link_to 'Show', third_rip %></td>
        <td><%= link_to 'Edit', edit_third_rip_path(third_rip) %></td>
        <td><%= link_to 'Destroy', third_rip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Third Rip', new_third_rip_path %>

</div>
<br>
    </div>
  

















  </div>















<% link_to 'New First Rip', new_first_rip_path %>


<style type="text/css">
.forms
{
  
    padding: 23px;
    background: whitesmoke;
    border-radius: 14px;

}
  img
  {
    width: 50px;
  }

  .content
{
  max-height: 400px; 
  height: 400px; 
  max-width: 100%;
  overflow: scroll;
  padding: 10px 30px;
  
  

}

.content table
{
  width: 2000px;
    
}
</style>





