  
<div class="row" style="margin-top: 20px;padding: 20px;">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>

    <li><a data-toggle="tab" href="#menu2">Rips 2</a></li>
    <li><a data-toggle="tab" href="#menu3">RIps 3</a></li>
  </ul>

</div>

  <div class="tab-content">
    



    <div id="home" class="tab-pane fade in active">
      





  <div class="content">


  <%= link_to  "Descargar",  first_rips_csv_all_path(format: "csv"), class: "btn btn-primary"%>
<table class="table">
  <thead>
    <tr>
      <th>Tipo identificacion</th>
      <th>Numero Identificacion</th>
      <th>Codigo entidad administradora</th>
      <th>Tipo Usuario</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Primer Nombre</th>
      <th>Segundo Nombre</th>
      <th>Edad</th>
      <th>Unidad Medida Edad</th>
      <th>Sexo</th>
      <th>Codigo Dpto</th>
      <th>Codigo Municipio</th>
      <th>Zona Residencial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @first_rips.each do |first_rip| %>
      <tr>
        <td><%= first_rip.tipo_identificacion %></td>
        <td><%= first_rip.numero_identificacion %></td>
        <td><%= first_rip.codigo_entidad_admin %></td>
        <td><%= first_rip.tipo_usuario %></td>
        <td><%= first_rip.primer_apellido %></td>
        <td><%= first_rip.segundo_apellido %></td>
        <td><%= first_rip.primer_nombre %></td>
        <td><%= first_rip.segundo_nombre %></td>
        <td><%= first_rip.edad %></td>
        <td><%= first_rip.unidad_medida_edad %></td>
        <td><%= first_rip.sexo %></td>
        <td><%= first_rip.codigo_dpto %></td>
        <td><%= first_rip.codigo_municipio %></td>
        <td><%= first_rip.zona_residencial %></td>
        <td><%= link_to 'Show', first_rip %></td>
        <td><%= link_to 'Edit', edit_first_rip_path(first_rip) %></td>
        <td><%= link_to 'Destroy', first_rip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


    </div>

















    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    












    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  


















  </div>















<p id="notice"><%= notice %></p>



<% link_to 'New First Rip', new_first_rip_path %>


<style type="text/css">
.forms
{
  
    padding: 23px;
    background: whitesmoke;
    border-radius: 14px;

}
  img
  {
    width: 50px;
  }

  .content
{
  max-height: 400px; 
  height: 400px; 
  max-width: 100%;
  overflow: scroll;
  padding: 10px 30px;
  
  

}

.content table
{
  width: 2000px;
    
}
</style>