<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo identificacion:</strong>
  <%= @first_rip.tipo_identificacion %>
</p>

<p>
  <strong>Numero identificacion:</strong>
  <%= @first_rip.numero_identificacion %>
</p>

<p>
  <strong>Codigo entidad admin:</strong>
  <%= @first_rip.codigo_entidad_admin %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @first_rip.tipo_usuario %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @first_rip.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @first_rip.segundo_apellido %>
</p>

<p>
  <strong>Primer nombre:</strong>
  <%= @first_rip.primer_nombre %>
</p>

<p>
  <strong>Segundo nombre:</strong>
  <%= @first_rip.segundo_nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @first_rip.edad %>
</p>

<p>
  <strong>Unidad medida edad:</strong>
  <%= @first_rip.unidad_medida_edad %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @first_rip.sexo %>
</p>

<p>
  <strong>Codigo dpto:</strong>
  <%= @first_rip.codigo_dpto %>
</p>

<p>
  <strong>Codigo municipio:</strong>
  <%= @first_rip.codigo_municipio %>
</p>

<p>
  <strong>Zona residencial:</strong>
  <%= @first_rip.zona_residencial %>
</p>

<%= link_to 'Edit', edit_first_rip_path(@first_rip) %> |
<%= link_to 'Back', first_rips_path %>
