 <table class="table1">
        <tr style = "height:100px">
         <td class="" style = "width:20%"><%=  (wicked_pdf_image_tag (get_account1.logo_url), style: "width:150px;") if get_account1.logo_url%></td>
         <td class="text-center" style = "width:60%;font-size:20px;text-align: center;font-weight: bold">FORMATO DE HISTORIA CLINICA <br> <br><%=get_account1.name.upcase %><br><%=@clinic_history.codigo%></td>
         <td class="text-center" style = "width:20%;font-size:20px;text-align: center">Codigo <br><%=@clinic_history.codigo%> </td>
      </tr>

  </table>
<br><br>

<table class="table1">
   <tr>
      <th colspan="4">
         <h2 class= "h2" style="text-align: left!important">Datos del Paciente</h2>
      </th>
   </tr>
   <tr>
      <td> <strong> Nombres</strong><br> <%=@patient.first_name%> <%=@patient.second_name%> </td>
      <td> <strong>Apellidos</strong><br> <%=@patient.first_last_name%> <%=@patient.second_last_name%> </td>
      <td> <strong>Documento</strong><br> <%=  type_document(@patient.document_type)%> -  <%=@patient.document%> 
      <td> <strong>Fecha de Nacimiento</strong><br> <%=@patient.birth_date%> </td>
      </td>
   </tr>
   <tr>
      <td> <strong>Edad</strong> <br><%=@patient.age%> </td>
      <td> <strong>Ciudad</strong> <br><%=@patient.city%> </td>
      <td> <strong>Direccion de Residencia</strong> <br><%=@patient.address%> </td>
      <td> <strong>Telefono fijo</strong><br> <%=@patient.phone%> </td>
   </tr>
   <tr>
      <td> <strong>Telefono Movil</strong> <br><%= @patient.movil%> </td>
      <td> <strong>Email</strong><br> <%=@patient.email%> </td>
      <td> <strong>Ocupación</strong><br> <%=@patient.occupation%> </td>
      <td> <strong>Profesión</strong> <br><%= @patient.profession%> </td>
   </tr>
   <tr>
      <td> <strong>Genero</strong> <br><%= @patient.gender%> </td>
      <td> <strong>Estado Civil</strong><br> <%=@patient.civil_status%> </td>
      <td> <strong>Grupo sanguineo</strong><br> <%=@patient.blood_type%> </td>
      <td> <strong>Grupo Etnico</strong> <br><%= @patient.ethnic_group%> </td>
   </tr>
   <tr>
      <td> <strong>Eps</strong> <br><%= @patient.hpc.name if @patient.hpc%>  </td>
      <td> <strong>Convenio</strong><br> <%= @patient.agreement.name if @patient.agreement%>  </td>
      <td> <strong>Nombre Contacto</strong> <br><%= @patient.contact_name%> </td>
      <td> <strong>Telefono Contacto</strong><br> <%=@patient.contact_phone%> </td>
   </tr>
   <tr>
      <td> <strong>Parentesco del Contacto</strong><br> <%=@patient.contact_relationship%> </td>
      <td> </td>
      <td> </td>
      <td> </td>
   </tr>
   </tbody>
</table>
<br>
<br>
<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important"> Motivo de Counsulta</h2>
      </th>
   </tr>
   <tr>
      <td> <%=@clinic_history.consultation_reason%></td>
   </tr>
</table>
<br>
<br>
<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important">Estado actual del paciente</h2>
      </th>
   </tr>
   <tr>
      <td> <%=@clinic_history.actual_state%></td>
   </tr>
</table>
<br>
<br>


<%if @clinic_history.child_history%>

<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important"> Dinamica Familiar</h2>
      </th>
   </tr>
   <tr>
      <td> <%=@clinic_history.family_dinamic%></td>
   </tr>
</table>
<br>
<br>

  <h2 class= "h2" style="text-align: left!important">Historia Familiar</h2>
<table class="table2">
 <!--padre--> 
    <tr>
      <th>Nombre del Padre </th>
      <th>Edad del Padre </th>
      <th>Ocupacion del padre </th>
       <th>Relacion del Padre con el Niño </th>
    </tr>
      <tr>
      <td><%=@fchild.father_name%></td>
      <td><%=@fchild.father_age%></td>
      <td><%=@fchild.father_job%></td>
       <td><%=@fchild.father_relationship%></td>

    </tr>
    <tr>
      <th colspan="4">Adicciones del Padre</th>

    </tr>
      <tr >
      <td colspan="4"><%=@fchild.father_addictions%></td>


    </tr>
  <!--madre-->
   <tr>
      <th >Nombre de la madre</th>
      <th>Edad de la madre </th>
      <th>Ocupacion de la madre </th>
       <th>Relacion de la madre con el Niño </th>
    </tr>
      <tr>
      <td><%=@fchild.mother_name%></td>
      <td><%=@fchild.mother_age%></td>
      <td><%=@fchild.mother_job%></td>
       <td><%=@fchild.mother_relationship%></td>

    </tr>
    <tr>
      <th colspan="4">Adicciones de la madre</th>

    </tr>
      <tr>
      <td colspan="4"><%=@fchild.mother_addictions%></td>


    </tr>

<!--relacion padres-->
     <tr>
      <th colspan="1">Relacion Entre los padres</th>
      <th colspan="3">Especificar razones</th>

    </tr>
      <tr>
      <td colspan="1"><%=@fchild.parents_realationship%></td>
      <td colspan="3"><%=@fchild.reasons_relationship%></td>


    </tr>

     <tr>
      <th colspan="4">Reaccion de los padres ante el problema del niño</th>

    </tr>
      <tr>
      <td colspan="4"><%=@fchild.parents_reaction%></td>


    </tr>
    <!--hermanos-->

      <tr>
      <th >Nombre del hermano</th>
      <th>Sexo </th>
      <th>Edad (Años) </th>
      <th>Relacion</th>
    </tr>
    <%@fchild.child_brothers.each do |brother|%>
      <tr>
      <td><%=brother.name%></td>
      <td><%=brother.sexo%></td>
      <td><%=brother.edad%></td>
       <td><%=brother.relationship%></td>

    </tr>
    <%end%>
</table>
 <!--historia personal-->
<hr>
  <h2 class= "h2" style="text-align: left!important">Historia Personal</h2>
<h4 class= "color-gray">Antecedentes</h4>
<table class="table2">

    <tr>
      <th colspan="3">Embarazo</th>
      <th>Hijo Deseado</th>
    </tr>

    <tr>
      <td colspan="3"><%=@schild.embarazo%></td>
       <td><%=@schild.hijo_deseado%></td>
    </tr>

     <tr>
      <th colspan="4">Dificultades Prenatales (Médicas, Intentos de aborto, Psicológicas)</th>
     
    </tr>

    <tr>
      <td colspan="4"><%=@schild.dificultades_prenatales%></td>
       
    </tr>


         <tr>
      
      <th colspan="4">Periodo Prenatal Parto: (Normal, Anoxia, Cordon umbilical, Placenta, Malformación,Ictericia, Prelactancia materna)</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@schild.periodo_prenatal%></td>
    </tr>



     <tr>
      <th >Peso al Nacer (Libras)</th>
      <th>Talla nacimiento (cms)</th>
      <th>Lactancia Materna Hasta (Meses)</th>
       <th>Con biberon hasta (Meses)</th>
    </tr>
      <tr>
      <td><%=@schild.peso_nacimiento%></td>
      <td><%=@schild.talla_nacimiento%></td>
      <td><%=@schild.latencia_materna%></td>
       <td><%=@schild.latencia_materna%></td>

    </tr>

    <tr>
      <th colspan="2">Tipos de Semisolidos Introducidos</th>
      <th colspan="2">Tipos de Solidos Introducidos</th>
    </tr>

    <tr>
      <td colspan="2"><%=@schild.semisolidos%></td>
       <td colspan="2"><%=@schild.solidos%></td>
    </tr>

     <tr>
      
      <th colspan="4">Problemas de Alimentacion al nacer y hasta el primer año</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@schild.problemas_alimentacion%></td>
    </tr>


    <tr>
      <th colspan="2">Dificultades para dormir</th>
      <th colspan="2">Reacciones del niño</th>
    </tr>

    <tr>
      <td colspan="2"><%=@schild.dificultad_dormir%></td>
       <td colspan="2"><%=@schild.reacciones%></td>
    </tr>


     <tr>
      <th >Edad de gateo (Meses)</th>
      <th>Edad de ponerse en pie (Meses)</th>
      <th>Edad de caminar (Meses)</th>
       <th>Inicio del Lenguaje</th>
    </tr>
      <tr>
      <td><%=@schild.edad_gateo%></td>
      <td><%=@schild.edad_gateo%></td>
      <td><%=@schild.edad_caminar%></td>
       <td><%=@schild.inicio_lenguaje%></td>

    </tr>

     <tr>
      <th colspan="2">Enfermedades Medicas</th>
      <th colspan="2">Hospitalizaciones y cirugias</th>
    </tr>

    <tr>
      <td colspan="2"><%=@schild.enfermedades_medicas%></td>
       <td colspan="2"><%=@schild.hospitalizacion_cirugias%></td>
    </tr>

         <tr>
      
      <th colspan="4">Problemas visoperceptivomotores</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@schild.problemas_visoperceptivomotores%></td>
    </tr>



</table>
<hr>

<h4 class= "color-gray">Antecedentes Escolares</h4>

<table class="table2">
  

    <tr>
      <th >Nivel Escolar</th>
      <th >Indice academico</th>
      <th >Escuela</th>
     
     
    </tr>

    <tr>
      <td ><%=@tchild.nivel_escolar%></td>
       <td ><%=@tchild.indice_academico%></td>
        <td ><%=@tchild.escuela%></td>
        
    </tr>





 <tr>
      
      <th colspan="4">¿ Cómo fue el proceso de adaptación a la escuela ?</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@tchild.adaptacion_escolar%></td>
    </tr>

     <tr>
      
      <th colspan="4">Problemas escolares (académicos), (conductales)</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@tchild.problemas_escolares%></td>
    </tr>

      <tr>
      <th colspan="2">¿ Qué le gusta mas de la escuela ?</th>
      <th colspan="2">¿ Qué no le gusta de la escuela ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.gustos_escolares%></td>
       <td colspan="2"><%=@tchild.disgustos_escolares%></td>
    </tr>


    <tr>
      <th colspan="2">¿Cómo es con las tareas ?</th>
      <th colspan="2">¿ Cómo maneja los útiles escolares ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.tareas%></td>
       <td colspan="2"><%=@tchild.utiles_escolares%></td>
    </tr>

     <tr>
      <th colspan="2">¿ Qué problemas posee a nivel de lectura, escritura, cálculo ?</th>
      <th colspan="2">¿ Cómo ser ralaciona con la maestra ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.problemas_materias%></td>
       <td colspan="2"><%=@tchild.relacion_maestro%></td>
    </tr>
    
     <tr>
      
      <th colspan="4">¿ Cómo ser ralaciona con los compañeros ?</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@tchild.relacion_companeros%></td>
    </tr>



    </table>

    <h4 class= "color-gray">Aspectos de Socialización y Afectivos</h4>

<table class="table2">
  
  <tr>
      
      <th colspan="4">¿Hace amigos con facilidad? (comunicativo, poco comunicativo, participa en grupo, tendencia al aislamiento, pasivo, agresivo, dependiente, independiente)</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@tchild.frecuencia_amigos%></td>
    </tr>

 <tr>
      <th colspan="2">¿ De que edad son los niños con los que se realciona ?</th>
      <th colspan="2">¿ Qué tipos de juegos realiza ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.edad_amigos%></td>
       <td colspan="2"><%=@tchild.tipo_juegos%></td>
    </tr>


    <tr>
      <th colspan="2">¿ Qué hace con otros niños del mismo sexo ?</th>
      <th colspan="2">¿ Cómo se realciona con los niños de otro sexo ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.actividades_mismo_sexo%></td>
       <td colspan="2"><%=@tchild.actividades_otro_sexo%></td>
    </tr>



     <tr>
      <th colspan="2">¿ Por qué se pelea con otros niños ?</th>
      <th colspan="2">¿ Qué lo hace feliz ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.pelea%></td>
       <td colspan="2"><%=@tchild.motivo_felicidad%></td>
    </tr>

     <tr>
      <th colspan="2">¿ Qué lo entristece ?</th>
      <th colspan="2">¿ Qué lo enoja ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.motivo_tristeza%></td>
       <td colspan="2"><%=@tchild.motivo_enojo%></td>
    </tr>

     <tr>
      <th colspan="2">¿ Sobre que aspectos de la vida pregunta constantemente?</th>
      <th colspan="2">¿ Qué tan bien se baña, se viste, come, duerme, en la actualidad ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.motivos_pregunta%></td>
       <td colspan="2"><%=@tchild.habitos%></td>
    </tr>

</table>


<h4 class= "color-gray">Intereses y pasatiempos</h4>

<table class="table2">
  
   <tr>
      <th colspan="2">¿ Qué le gusta hacer en su tiempo libre ?</th>
      <th colspan="2">¿ Qué hace cuando esta solo ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.tiempo_libre%></td>
       <td colspan="2"><%=@tchild.hace_solo%></td>
    </tr>

    <tr>
      <th colspan="2">¿ Qué no le gusta hacer ?</th>
      <th colspan="2">¿ Qué tipo de deportes le gustan ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.no_gusta%></td>
       <td colspan="2"><%=@tchild.deportes%></td>
    </tr>

     <tr>
      <th colspan="2">¿ Cuales son sus juegos favoritos? ¿ Alguan vez a jugado al doctor, mamá y papá ?</th>
      <th colspan="2">¿ Qué programas de televisión mira ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@tchild.juegos%></td>
       <td colspan="2"><%=@tchild.programa_tv%></td>
    </tr>
</table>


 <h4 class= "color-gray">Desarrollo Psicosexual</h4>

<table class="table2">
  
  <tr>
      <th colspan="2">Destete</th>
      <th colspan="2">¿ Qué tipos de alimentos prefiere ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.destete%></td>
       <td colspan="2"><%=@fochild.gustos_alimentos%></td>
    </tr>

    <tr>
      <th colspan="2">¿ Alguna vez ha dejando de alimentarse ?</th>
      <th colspan="2">¿ Control Anal, Vesical diurno, Vesical nocturno, Tecnica?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.dejado_alimentacion%></td>
       <td colspan="2"><%=@fochild.tipo_alimentacion%></td>
    </tr>


<tr>
      
      <th colspan="4">¿Que reacción posee ante la defacación ? (asco, verguenza, miedo, agrado, desagrado)</th>
    </tr>

    <tr>
      
       <td colspan="4"><%=@fochild.reaccion_defecacion%></td>
    </tr>


     <tr>
      <th colspan="2">Succion del dedo</th>
      <th colspan="2">Masturbación</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.succion_dedo%></td>
       <td colspan="2"><%=@fochild.masturbacion%></td>
    </tr>

     <tr>
      <th colspan="2">¿ Con quien duerme ?</th>
      <th colspan="2">¿Alguna vez ha observado actos sexuales?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.duerme_con%></td>
       <td colspan="2"><%=@fochild.visto_acto_sexual%></td>
    </tr>

         <tr>
      <th colspan="2">¿ Que conocimientos tiene  acerca de la sexualidad ?</th>
      <th colspan="2">Información sexual adquirida y fuentes</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.conocimientos_sexualidad%></td>
       <td colspan="2"><%=@fochild.informacion_sexual%></td>
    </tr>
 </table>

<h4 class= "color-gray">Preadolescencia y Adolescencia</h4>

<table class="table2">
  
  <tr>
      <th colspan="2">Menarquia</th>
      <th colspan="2">Experiencia menarquia</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.menarquia%></td>
       <td colspan="2"><%=@fochild.experiencia_menarquia%></td>
    </tr>

     <tr>
      <th colspan="2">Polución</th>
      <th colspan="2">Experiencia polución</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.polucion%></td>
       <td colspan="2"><%=@fochild.experiencia_polucion%></td>
    </tr>

      <tr>
      <th colspan="4">¿Fue informado?</th>
    
    </tr>

    <tr>
    
       <td colspan="4"><%=@fochild.reacciones_emocionales%></td>
    </tr>

 <tr>
     
      <th colspan="4">Reacciones emocionales propias de la adolescencia: (Extrovertido, Timido, Ansioso, voluntarioso, malumorado,labil)</th>
    </tr>

    <tr>
    
       <td colspan="3"><%=@fochild.reacciones_emocionales%></td>
    </tr>


    <tr>
      <th colspan="2">Noviazgo</th>
      <th colspan="2">Aceptacion familiar o restricción familiar ante el noviazgo</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.aceptacion_noviazgo%></td>
       <td colspan="2"><%=@fochild.aceptacion_noviazgo%></td>
    </tr>

</table>
<h4 class= "color-gray">Sintomas Neuróticos</h4>

<table class="table2">
  
  

    <tr>
      <td colspan="4"><%=@fochild.sintomas_neuroticos%></td>
      
    </tr>

    <tr>
     
      <th colspan="4">Descripcion sintomas neuroticos</th>
    </tr>

    <tr>
    
       <td colspan="3"><%=@fochild.descripcion_sintomas%></td>
    
    </tr>
</table>




<table class="table2">
  
  
 <tr>
      <th colspan="2">¿ Quién es el responsable de la disciplina ?</th>
      <th colspan="2">¿ Que comportamientos le molestan del niño ?</th>
    </tr>

    <tr>
      <td colspan="2"><%=@fochild.responsable_disiplina%></td>
       <td colspan="2"><%=@fochild.comportamientos_molestos%></td>
    </tr>

 
 <tr>
      <th colspan="4">¿ Que tipo de castigos utiliza frecuentemente ?</th>
     
    </tr>

    <tr>
      
       <td colspan="4"><%=@fochild.tipos_de_castigo%></td>
    </tr>


</table>

<table class="table2">
<h4 class= "color-gray">Observaciones finales</h4>
 

    <tr>
      
       <td colspan="4"><%=@fochild.observaciones%></td>
    </tr>



</table>




<%end%>










<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important"> Antecedentes</h2>
      </th>
   </tr>
  
   <tr>
      <td>
      <h3><strong>Personales</strong></h3>
      <%@clinic_history.personal_backgrounds.each do |ch|%>  

      <strong>Tipo:</strong> <%=ch.type_background %> <br><strong>Descripción:</strong> <%=ch.description%><br><br>
       <%end%>
       <h3><strong>Familiares</strong></h3>
      <%@clinic_history.backgrounds.each do |ch|%>  

      <strong>Tipo:</strong> <%=ch.type_background %> <br><strong>Descripción:</strong> <%=ch.description%><br><br>
       <%end%> </td>  
      
   </tr>
  
</table>
<br>
<br>
<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important"> Herramientas de evaluacion</h2>
      </th>
   </tr>
  
   <tr>
      <td>
      
      <%@clinic_history.tool_tests.each do |ch|%>  

      <strong>Tipo:</strong> <%=ch.type_tool %> <br><strong>Descripción:</strong> <%=ch.description%><br><br>
       <%end%>
        
      
   </tr>
  
</table>
<br><br>

<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important">Hipotesis diagnostica</h2>
      </th>
   </tr>
  
   <tr>
      <td>
      <strong>Descripción: </strong><br><%=@clinic_history.diagnostic_hypothesis%><br><br>
      <strong>DSMV:</strong><br>
      <%@clinic_history.diagnostics.each do |ch|%>  
      
      - <%=ch.name%><br>
       <%end%>
        
      
   </tr>
  
</table>
<br><br>
<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important">Objetivo terapeoutico</h2>
      </th>
   </tr>
   <tr>
      <td> <%=@clinic_history.therapeutic_goal%></td>
   </tr>
</table>
<br><br>
<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important">Tipo de Tratamiento</h2>
      </th>
   </tr>
   <tr>
      <td> <%=@clinic_history.type_of_treatment%></td>
   </tr>
</table>


<br>
<br>
<table class="table1">
   <tr>
      <th>
         <h2 class= "h2" style="text-align: left!important"> Seguimiento y observaciones</h2>
      </th>
   </tr>
  
   <tr>
      <td>
   
      <%@clinic_history.tracings.each do |tr|%>  

      <strong>Fecha:</strong> <%=tr.created_at %> <br><strong>Descripción:</strong> <%=tr.description%><br><br>
       <%end%>

      
   </tr>
  
</table>



<style>
   .info
   {
   border:1px solid #cecece;
   }
   .table1
   {
   border-collapse: collapse;
   color: #7a7a7a;
   font-size:16px;
   width:1100px;

   }
   .table1 td
   {
   padding: 6px 20px;
   width:25%;
   border:1px solid #cecece;
   }

.table1 th
   {
   padding: 6px 20px;
   width:25%;
   border:1px solid #cecece;
   }
   .tit
   {
   font-size: 22px;
   }
   .h2
   {
   color:gray;
   }

         .table2 td
   {
   padding: 6px 20px;


   }
     .table2 th
   {
   padding: 6px 20px;
      border-top: 1px solid gray;

   }
    .table2 tr
   {

   padding: 6px 20px;

  

   }
   .table2
   { color: #7a7a7a;
       font-size:16px;
     width:1100px;border-collapse: collapse;
   }
</style>

