
<div class = "row row-form" style="margin-left: 0px !important;margin-right:  0px !important">
  <br>
<%= nested_form_for([@patient, @clinic_history, child_general_date]) do |form| %>

  <% if child_general_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(child_general_date.errors.count, "error") %> prohibited this child_general_date from being saved:</h2>

      <ul>
      <% child_general_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<h3 style="margin:0px 0px 20px 20px;color:gray" class="title-formulario"><%=get_open(@clinic_history.first_child_state).html_safe%> HISTORIA FAMILIAR</h3>

<br><div class="col-md-6"> 
  <div class="form-group">
    <%= form.label "Nombre del padre"%>
    <%= form.text_field :father_name, id: :child_general_date_father_name, class: "form form-control" %>
  </div>
</div>
<div class="col-md-2">
  <div class="form-group">
    <%= form.label "Edad del Padre"%>
    <%= form.text_field :father_age, id: :child_general_date_father_age, class: "form form-control" %>
  </div>
</div>
<div class="col-md-4">
 <div class="field">
    <%= form.label "Ocupación del Padre" %>
    <%= form.text_field :father_job, id: :child_general_date_father_job, class: "form form-control" %>
  </div>
    </div>
   </div>
    <div class="row">
      <div class="col-md-8">
   <div class="form-group acc1">
               <label for="">Relación con el Padre</label><br>
               <label class="radio-inline">
               <%= form.radio_button :father_relationship, 'Estable', class: 'rb cksi check1' %><span style = "margin-left:5px">Estable</span>
               </label>
              <label class="radio-inline">
               <%= form.radio_button :father_relationship, 'Inestable', class: 'rb ckno check1' %><span style = "margin-left:5px">Inestable</span>
                </label>
                  <label class="radio-inline">
               <%= form.radio_button :father_relationship, 'Conflictiva', class: 'rb ckno check1' %><span style = "margin-left:5px">Conflictiva</span>
                </label>
                  <label class="radio-inline">
               <%= form.radio_button :father_relationship, 'Mucha Comunicación', class: 'rb ckno check1' %><span style = "margin-left:5px">Mucha </span>
                </label>
                 <label class="radio-inline">
               <%= form.radio_button :father_relationship, 'Poca Comunicación', class: 'rb ckno check1' %><span style = "margin-left:5px">Poca </span>
                </label>
               <label class="radio-inline" style="margin-left: 0px !important">
               <%= form.radio_button :father_relationship, 'Ninguna Comunicación', class: 'rb ckno check1' %><span style = "">Ninguna Comunicación</span>
                </label>
                <label class="radio-inline">
               <%= form.radio_button :father_relationship, 'Padre Fallecido', class: 'rb ckno check1' %><span style = "margin-left:5px">Padre Fallecido </span>
                </label>
    </div>
    </div>
<div class="col-md-4">
 <div class="field">
    <%= form.label "Adicciones del padre" %>
    <%= form.text_area :father_addictions, id: :child_general_date_father_addictions, class: "form form-control" %>

  </div></div>

    </div>
  <br>
 <hr style="    border-top: 3px solid #cfcfcf;">
<br>
 <div class="row">

<div class="col-md-6">
  <div class="form-group">
    <%= form.label "Nombre de la madre"%>
   <%= form.text_field :mother_name, id: :child_general_date_mother_name, class: "form form-control" %>
  </div>
</div>
<div class="col-md-2"> 
  <div class="form-group">
    <%= form.label "Edad de la Madre"%>
    <%= form.text_field :mother_age, id: :child_general_date_mother_age, class: "form form-control" %>
  </div>
</div>


 <div class="col-md-4">
 <div class="field">
    <%= form.label "Ocupación de la madre" %>
    <%= form.text_field :mother_job, id: :child_general_date_mother_job, class: "form form-control" %>
  </div>
    </div>
      </div>
<div class="row">
  <div class="col-md-8">
   <div class="form-group acc1">
               <label for="">Relación con la Madre</label><br>
               <label class="radio-inline">
               <%= form.radio_button :mother_relationship, 'Estable', class: 'rb cksi check1' %><span style = "margin-left:5px">Estable</span>
               </label>
              <label class="radio-inline">
               <%= form.radio_button :mother_relationship, 'Inestable', class: 'rb ckno check1' %><span style = "margin-left:5px">Inestable</span>
                </label>
                  <label class="radio-inline">
               <%= form.radio_button :mother_relationship, 'Conflictiva', class: 'rb ckno check1' %><span style = "margin-left:5px">Conflictiva</span>
                </label>
                  <label class="radio-inline">
               <%= form.radio_button :mother_relationship, 'Mucha Comunicación', class: 'rb ckno check1' %><span style = "margin-left:5px">Mucha </span>
                </label>
                 <label class="radio-inline">
               <%= form.radio_button :mother_relationship, 'Poca Comunicación', class: 'rb ckno check1' %><span style = "margin-left:5px">Poca </span>
                </label>
                    <label class="radio-inline" style = "margin-left:0px">
               <%= form.radio_button :mother_relationship, 'Ninguna Comunicación', class: 'rb ckno check1' %><span >Ninguna Comunicación</span>
                </label>
                   <label class="radio-inline">
               <%= form.radio_button :mother_relationship, 'Madre Fallecida', class: 'rb ckno check1' %><span style = "margin-left:5px">Madre Fallecida </span>
                </label>
    </div>
    </div>
 <div class="col-md-4">
 <div class="field">
    <%= form.label "Adicciones de la madre" %>
    <%= form.text_area :mother_addictions, id: :child_general_date_mother_addictions, class: "form form-control" %>

  </div>
  </div>

  


    </div>
<br>
   <hr style="    border-top: 3px solid #cfcfcf;">
<br>

  

  <div class="row">
  <div class="col-md-8">
  


     <div class="form-group acc1">
               <label for="">Relación entre los padres</label><br>
               <label class="radio-inline" >
               <%= form.radio_button :parents_realationship, 'Buena', class: 'rb cksi check1' %><span style = "margin-left:5px">Buena</span>
               </label>
              <label class="radio-inline">
               <%= form.radio_button :parents_realationship, 'Regular', class: 'rb ckno check1' %><span style = "margin-left:5px">Regular</span>
                </label>
                  <label class="radio-inline">
               <%= form.radio_button :parents_realationship, 'Mala', class: 'rb ckno check1' %><span style = "margin-left:5px">Mala</span>
                </label>
                  <label class="radio-inline">
               <%= form.radio_button :parents_realationship, 'Divorciados', class: 'rb ckno check1' %><span style = "margin-left:5px">Divorciados </span>
                </label>
                 <label class="radio-inline">
               <%= form.radio_button :parents_realationship, 'Separados', class: 'rb ckno check1' %><span style = "margin-left:5px">Separados </span>
                </label>
                    <label class="radio-inline" style = "margin-left:0px">
               <%= form.radio_button :parents_realationship, 'Abandono total de un miembro', class: 'rb ckno check1' %><span >Abandono total de un miembro</span>
                </label>
    </div>



  </div>
  <div class="col-md-4">
  <div class="field">
    <%= form.label "Especificar Razones" %>
    <%= form.text_area :reasons_relationship, id: :child_general_date_reasons_relationship , class: "form form-control"%>
  </div>
   </div>
</div>
<br> <hr style="    border-top: 3px solid #cfcfcf;">
<br>
   <div class="row">
 <div class="col-md-8">
  <div class="field">
    <%= form.label "Reacción de los padres ante el problema del Paciente" %>
    <%= form.text_area :parents_reaction, id: :child_general_date_parents_reaction, class: "form form-control" %>
  </div>
</div></div>
<br>
<hr style="    border-top: 3px solid #cfcfcf;"></hr>
<h2 class = "" style = "margin :0px 0px 5px 0; color:gray; padding: 0px; ">Hermanos</h2>
   <br>
      <%= form.fields_for :child_brothers do |contact|  %>
          <div class="col-md-3" style="padding: 0px;" >
             <%= contact.label "Nombre"%>
              <div class="input-group">
                <span class="input-group-btn">
                  <%= contact.link_to_remove class: "btn btn-danger" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </span>
               <%= contact.text_field :name, :class => 'form-control', :placeholder => "Nombre" %>
            </div>
          </div>
          <div class="col-md-3" >
            <div class="form">
              <%= contact.label "Género"%>
              <%= contact.select 'sexo', options_for_select(["Masculino", "Femenino", "Transexual"]), {},{:class => 'form form-control select'}%>
            </div>
          </div>
              <div class="col-md-2" >
               <%= contact.label "Edad" %>
               <%= contact.text_field :edad, :class => 'form-control', :maxlength => 2, :placeholder => "Edad" %>
            </div>
          <div class="col-md-3">
              <%= contact.label "Relación" %>
                <%= contact.select 'relationship', options_for_select(["Estable", "Inestable", "Conflictiva", "Mucha Comunicacion", "Poca Comunicacion", "Ninguna Comunicacion"]), {},{:class => 'form form-control select'}%>
                <br><br>
          </div>  
            <%= contact.hidden_field :child_general_date_id, :value=> @child_general_date.id %>

    <% end %>

          <div class="actions" style="padding: 0px">
             <%= form.link_to_add "Agregar Hermano", :child_brothers, :class => 'btn btn-primary'  %>
             <br><br>
          </div>
<hr style="    border-top: 3px solid #cfcfcf;"></hr>
<br>
<h2 class = "" style = "margin :0px 0px 5px 0;color:gray">Hijos</h2>
  <br>
    <%= form.fields_for :children do |boy|  %>
      <div class="col-md-3" style="padding: 0px; margin-top: 1px;">
        <%= boy.label "Nombre"%>
           <div class="input-group">  
             <span class="input-group-btn">
              <%= boy.link_to_remove class: "btn btn-danger" do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </span>
            <%= boy.text_field :name, class: "form form-control", :placeholder => "Nombre" %>
          </div>
      </div>
        <div class="col-md-2">
          <div class="form">
            <%= boy.label "Género"%>
             <%= boy.select 'genero', options_for_select(["Masculino", "Femenino"]), {},{:class => 'form form-control select'}%>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form">
            <%= boy.label "Edad"%>
            <%= boy.text_field :age, class: "form form-control", :maxlength => 2, :placeholder => "Edad"%>

          </div>
        </div>
        
        <div class="col-md-4">
          <div class="form">
          <%= boy.label "Relación"%>
           <%= boy.select 'relationship', options_for_select(["Estable", "Inestable", "Conflictiva", "Mucha Comunicación", "Poca Comunicación ", "Ninguna Comunicación"]), {},{:class => 'form form-control select'}%>
          </div>
          <br><br>
        </div>
        <br><br><br>

      <% end -%>

      <div class="actions">
            <%= form.link_to_add "Agregar Hijos", :children, :class => 'btn btn-primary top10'  %>
      </div>









 
<%= form.hidden_field :admin_user , :value => current_user.admin_user %>
<%= form.hidden_field :user_id ,:value =>  current_user.id %>
<%= form.hidden_field :patient_id ,:value =>  @patient.id %>
<%= form.hidden_field :clinic_history_id ,:value =>  @clinic_history.id %>

<br> <hr style="    border-top: 3px solid #cfcfcf;">
<br>

   <div class="row text-center">
<div class="col-md-12">
   <div class="actions">
    <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>

    
  </div>
  </div>
  </div>
<% end %>

</div>
  


<style>
#father_birthday
{
  width:30% !important;
  display: inline-block;
}
.error
{
  color: red !important;
}
#father_birthday-error
{
    position: absolute;
    top: 62px;
    left: 24px;
 } 
 #mother_birthday
{
  width:30% !important;
  display: inline-block;
}
.error
{
  color: red !important;
}
#mother_birthday-error
{
    position: absolute;
    top: 62px;
    left: 24px;
 } 
</style>


