<div class= "menu-history">
    


<%= link_to  edit_patient_clinic_history_path(@clinic_history.patient_id,@clinic_history.id), class: "btn btn-primary noactive" ,style: "" do%>
        
       
       <%=get_open(@clinic_history.first_contact_state).html_safe%>
         Primer Contacto
 <% end %>



 <%= link_to  edit_patient_clinic_history_child_general_date_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.child_general_date.id), class: "btn btn-primary edit-active" do%>
       
         <%=get_open(@clinic_history.first_child_state).html_safe%> Historia Familiar
 <%end%>



<%= link_to  edit_patient_clinic_history_personal_history_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.personal_history.id), class: "btn btn-primary noactive" do %>
           <%=get_open(@clinic_history.second_child_state).html_safe%>     Historia Personal P1
 <%end%>


<%= link_to edit_patient_clinic_history_two_child_history_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.two_child_history.id), class: "btn btn-primary noactive" do %>

      <%=get_open(@clinic_history.third_child_state).html_safe%>   Historia Personal P2
 <%end%>



<%= link_to edit_patient_clinic_history_three_child_history_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.three_child_history.id), class: "btn btn-primary noactive" do %>

            
         <%=get_open(@clinic_history.four_child_state).html_safe%>   Historia Personal P3

 <%end%>













  </div>

<%= render 'form', child_general_date: @child_general_date %>