<p id="notice"><%= notice %></p>

<p>
  <strong>Father name:</strong>
  <%= @child_general_date.father_name %>
</p>

<p>
  <strong>Father age:</strong>
  <%= @child_general_date.father_age %>
</p>

<p>
  <strong>Father birthday:</strong>
  <%= @child_general_date.father_birthday %>
</p>

<p>
  <strong>Father job:</strong>
  <%= @child_general_date.father_job %>
</p>

<p>
  <strong>Father addictions:</strong>
  <%= @child_general_date.father_addictions %>
</p>

<p>
  <strong>Father relationship:</strong>
  <%= @child_general_date.father_relationship %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @child_general_date.mother_name %>
</p>

<p>
  <strong>Mother age:</strong>
  <%= @child_general_date.mother_age %>
</p>

<p>
  <strong>Mother birthday:</strong>
  <%= @child_general_date.mother_birthday %>
</p>

<p>
  <strong>Mother job:</strong>
  <%= @child_general_date.mother_job %>
</p>

<p>
  <strong>Mother addictionsmother relationship:</strong>
  <%= @child_general_date.mother_addictionsmother_relationship %>
</p>

<p>
  <strong>Parents realationship:</strong>
  <%= @child_general_date.parents_realationship %>
</p>

<p>
  <strong>Reasons relationship:</strong>
  <%= @child_general_date.reasons_relationship %>
</p>

<p>
  <strong>Parents reaction:</strong>
  <%= @child_general_date.parents_reaction %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @child_general_date.patient_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @child_general_date.admin_user %>
</p>

<p>
  <strong>User:</strong>
  <%= @child_general_date.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @child_general_date.account_id %>
</p>

<%= link_to 'Edit', edit_child_general_date_path(@child_general_date) %> |
<%= link_to 'Back', child_general_dates_path %>
