
      <%= form_for([@clinic_history_family, @outcome_family]) do |form| %>
        <% if outcome_family.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(outcome_family.errors.count, "error") %> prohibited this outcome_family from being saved:</h2>

            <ul>
            <% outcome_family.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-md-4 no-padding-left">
          <%= form.label "Objetivo terapéutico" %>
          <%= form.text_area :therapeutic_goal, id: :outcome_family_therapeutic_goal, :rows => 10,  :cols => 70, class: "form form-control"%>
        </div>

        <div class="col-md-4 no-padding-left">
          <%= form.label "Tipo de Tratamiento" %>
          <%= form.text_area :type_of_treatment, id: :outcome_family_type_of_treatment, :rows => 10,  :cols => 70, class: "form form-control"  %>
          <br>
        </div>


        <%= form.hidden_field :clinic_history_family_id, id: :outcome_family_clinic_history_family_id, :value => @clinic_history_family.id %>

        <div class="col-md-12 no-padding-left">
          <%= form.label "Descripcion del Diagnostico" %><br>
          <%= form.text_area :diagnostic_description, id: :outcome_family_diagnostic_description, :rows => 10,  :cols => 70, class: "form form-control" %>

        </div>


      <div class="modal-footer col-md-12">
        <%= form.submit "Guardar", class: "btn btn-primary" %>
        <%= link_to "Volver", :back, class: "btn btn-light" %>
      </div>

      <% end %>
