<div class="container">
	<div class="row" style="width: 91%;">
	    <div class="col-md-11 titulo">
      <h2 align="center">DESENLACE</h2>
    </div>
      <div class="row">
        <table class="table table-responsive row1" style="margin-bottom: 0px !important;">
        <tr style="background: #46b8da; color: #fff; text-align: center;">
          <th>Pacientes</th>
        </tr>
      </table>
      <table class="table table-responsive row1">
        <tr style="color: #46b8da;">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Ocupacion</th>
          <th>Estado Civil</th>
          <th>Parentesco</th>
        </tr>
      </thead>

        <tbody>
          <% @clinic_history_family.patients.each do |patient| %>  
            <tr>
              <td><%= patient.first_name %></td>
              <td><%= patient.first_last_name %></td>
              <td><%= patient.document %></td>
              <td><%= patient.age %></td>
              <td><%= patient.gender %></td>
              <td><%= patient.occupation %></td>
              <td><%= patient.civil_status %></td>
              <td> Con la <%= patient.contact_relationship %></td>
            </tr>
            <% end -%>

          <% @clinic_history_family.family_group.each do |familia| %>  
            <tr>
              <td><%= familia.name %></td>
              <td><%= familia.last_name %></td>
              <td><%= familia.document_number %></td>
              <td><%= familia.age %></td>
              <td><%= familia.sex %></td>
              <td><%= familia.occupation %></td>
              <td><%= familia.civil_status %></td>
              <td> Con la <%= familia.relationship %></td>
            </tr>
            <% end -%>
          </tbody>
    </table>

    </div>
    <br>
	  <%= render 'form', outcome_family: @outcome_family %>
	</div>
</div>


<style type="text/css" media="screen">

  .no_padding_left{
    padding-left: 0px;
  }

  .titulo1{
    background: #46b8da;
    color: white !important;
    padding: 5px 5px;
    margin-bottom: 18px;
    margin-left: 12px;
    width: 96%;
  }

  .row1{
    width: 93%;
    margin-bottom: 17px !important;
    margin-left: 25px;
    border: 1px solid #d7d7d7;
  }

  .row2{
    width: 96%;
    margin-bottom: 17px !important;
    margin-left: 11px;
    border: 1px solid #d7d7d7;
  }


  .paciente2{
    padding: 10px 10px;
    border: none;
    color: #46b8da
  }


   .panel-body strong{
      margin-bottom: 5px
   }

   .np{
     text-align: center;
     color: gray;
     background: #f4f4f4;
     font-size: 40px;
     padding: 16px 0px;
    
   }

   .imagen1 img{
    border-radius: 50%;
    margin-top: 10px;
    height: 102px;
    margin-bottom: 10px;
    text-align: center;
  }

  .titulo{
    background: #46b8da;
    color: white !important;
    padding: 5px 5px;
      margin-bottom: 18px;
      font-weight: bold;
      margin-left: 10px;
          width: 96%;
  }

  .paciente2 img{
    width: 80px;
  }

  #patient{
    border-radius: 50%;
    height: 100px;
    margin-bottom: 10px;
  }

  #show-patien{
    background: #46b8da;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
  }

</style>