<p id="notice"><%= notice %></p>

<h1>Account Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Users</th>
      <th>File size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_types.each do |account_type| %>
      <tr>
        <td><%= account_type.name %></td>
        <td><%= account_type.users %></td>
        <td><%= account_type.file_size %></td>
        <td><%= link_to 'Show', account_type %></td>
        <td><%= link_to 'Edit', edit_account_type_path(account_type) %></td>
        <td><%= link_to 'Destroy', account_type, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Type', new_account_type_path %>
