<div class="row">
    <div class="col-md-11 titulo">
      <h2 align="center">SEGUIMIENTOS</h2>
    </div>

      <div class="row">
        <table class="table table-responsive row1" style="margin-bottom: 0px !important;">
        <tr style="background: #46b8da; color: #fff; text-align: center;">
          <th>Pacientes</th>
        </tr>
      </table>
      <table class="table table-responsive row1">
        <tr style="color: #46b8da;">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Ocupacion</th>
          <th>Estado Civil</th>
          <th>Parentesco</th>
        </tr>
      </thead>

        <tbody>
          <% @clinic_history_family.patients.each do |patient| %>  
            <tr>
              <td><%= patient.first_name %></td>
              <td><%= patient.first_last_name %></td>
              <td><%= patient.document %></td>
              <td><%= patient.age %></td>
              <td><%= patient.gender %></td>
              <td><%= patient.occupation %></td>
              <td><%= patient.civil_status %></td>
              <td> Con la <%= patient.contact_relationship %></td>
            </tr>
            <% end -%>

          <% @clinic_history_family.family_group.each do |familia| %>  
            <tr>
              <td><%= familia.name %></td>
              <td><%= familia.last_name %></td>
              <td><%= familia.document_number %></td>
              <td><%= familia.age %></td>
              <td><%= familia.sex %></td>
              <td><%= familia.occupation %></td>
              <td><%= familia.civil_status %></td>
              <td> Con la <%= familia.relationship %></td>
            </tr>
            <% end -%>
          </tbody>
    </table>

    </div>
    <br>
          <% if @tracing_families.any? %>
          <div class="row">
             <div class = "row title-table" style="margin-top: 10px; width: 1027px;">
                <div class = "col-md-7">
                   <p>
                      SEGUIMIENTOS <span class="label label-primary"><%= @tracing_families.count %></span> 
                      <span style = "font-size:12px;margin-left:20px;">
                      </span>
                   </p>
                </div>
                <div class = "col-md-2" style="float: right; padding-right: 8px;">
                   <%= link_to 'Nuevo Seguimiento',  new_clinic_history_family_tracing_family_path(@clinic_history_family.id), class: "btn btn-primary", style: "float: right;"  %>
                </div>
             </div>
            <% @tracing_families.each do |tracing_family| %>
             <div class="panel panel-default" style="width: 97%;">
                <div class="panel-heading">
                   <div class="row">
                      <div class="col-md-6" style="    color: #5bc0de;
                         font-size: 18px;">
                         <%= tracing_family.tracing_date %>
                      </div>
                      <div class="col-md-6 text-right">
                        <%= link_to edit_clinic_history_family_tracing_family_path(@clinic_history_family.id, tracing_family) do %>
                            <i class="fas fa-pencil-alt"></i>
                        <% end -%>
                        <%= link_to clinic_history_family_tracing_family_path(@clinic_history_family.id, tracing_family), method: :delete, data: {
                          confirm: '¿Estas Seguro?',
                          'confirm-button-text': 'Borrar',
                          'cancel-button-text': 'Cancelar',
                          'confirm-button-color': '#CC0000',
                           text: 'Recuerda que el registro se borrara permanentemente',
                          'image-url': ''} do %>
                          <i class="fas fa-trash-alt" style = "font-size:15px; color: red;" aria-hidden="true"></i>
                          <% end -%>


                        
                      </div>
                   </div>
                </div>
                <div class="panel-body"> 
                   <strong>Descripción:</strong> <%= tracing_family.description %><br><br>
                   <strong>Observacion:</strong> <%= tracing_family.observation %><br><br>
                   <strong>Evolucion:</strong> <%= tracing_family.evolution %>
                   <hr>


                   <% if tracing_family.attachment %>
                      <%= link_to  tracing_family.attachment_url, class: "" do  %>
                        <i class="fa fa-download" aria-hidden="true"></i> Descargar Adjunto
                      <% end %>  
                   <% end %>

                   <% tracing_family.general_files.each do |file|%>
                     <% if file.file_url%>
                       <%= link_to  file.file_url, class: "btn btn-primary file1", target: "_blank" do  %>
                       <i class="fa fa-download" aria-hidden="true"></i> <%=file.name%>
                       <% end %>  
                     <% end %>
                   <% end %>

                </div>
             </div>
            <% end %>
          </div>

      <div class = "col-md-12 paginate text-left title-table1">
         <%= will_paginate @tracing_families %>
      </div>
  </div>

<% else %>

<div class="row" style="padding: 0px 20px;">
   <div class="col-md-11 np">
      <h4>! AÚN NO HAY SEGUIMIENTOS ¡</h4>
      <%= link_to "CREA EL PRIMERO", new_clinic_history_family_tracing_family_path(@clinic_history_family.id), class: "btn btn-primary"   %>
   </div>
</div>
   <br><br>
<% end %>
</div>
<style>

    .row2{
    width: 96%;
    margin-bottom: 17px !important;
    margin-left: 11px;
    border: 1px solid #d7d7d7;
  }


  .paciente2{
    padding: 10px 10px;
    border: none;
    color: #46b8da
  }

        .file1{
    margin-right:10px;
    margin-top:10px;
  }



   .panel-body strong{
      margin-bottom: 5px
   }

   .np{
     text-align: center;
     color: gray;
     background: #f4f4f4;
     font-size: 40px;
     width: 97%;
     padding: 16px 0px;
    
   }

   .imagen1 img{
    border-radius: 50%;
    margin-top: 10px;
    height: 102px;
    margin-bottom: 10px;
    text-align: center;
  }

  .titulo{
    background: #46b8da;
    color: white !important;
    padding: 5px 5px;
    margin-bottom: 18px;
    font-weight: bold;
    margin-left: 10px;
    width: 96%;
  }

  .titulo1{
    background: #46b8da;
    color: white !important;
    padding: 5px 5px;
    margin-bottom: 18px;
    margin-left: 12px;
    width: 96%;
  }

  .tab{
        margin-left: 10px;
        width: 1023px;
  }
  .row1{
    width: 93%;
    margin-bottom: 17px !important;
    margin-left: 26px !important;
  }



  .paciente2 img{
    width: 80px;
  }

  #patient{
    border-radius: 50%;
    height: 100px;
    margin-bottom: 10px;
  }

  #show-patien{
    background: #46b8da;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
  }

</style>




