
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" type="text/javascript" charset="utf-8"></script>






<div class="container-fluid search-cont">
	
<div class="row">
<div class="col-md-12">
  

<div class="padding">
    <div class="full col-sm-12 search-p">
      <!-- content -->
      <div class="row">
        <!-- main col left -->
        <div class="col-sm-12">
          <header class="sb-page-header" style = "padding-bottom:0px!important">
            <div class="">
              <%= form_tag root_path, :method =>
              'get', remote: true, class: 'js-filter' do %>
     
                
                  <div >
                    <h2 style = "margin-top:50px;color:white !important;font-size:45px!important;text-align:center!important">Buscar Paciente</h2>

     
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3">
                        <div class="" id="">
                          <%= text_field_tag :search, nil, :placeholder =>
                          "Ingresa Nombre o Cedula", :class => 'form-control query' , style: "height: 40px !important; border-radius: 4px !Important;"%>

                        </div>
                         <br>
                         
                          <div class="row">
                            <div class="col-md-12" style = "text-align:center">
                              <%= link_to 'Nuevo Paciente', new_patient_path , :class=>"btn btn-primary btn-lg Cr js-filter"%></div>
                          </div>
                        
                      </div>
                    </div>
                    <br>
                  </div>
                <% end %>
                 
            </div>    
          </header>
          <br/>

        
        </div>
      </div>
    </div>
  </div>        

  </div>

</div></div>
<div class="container">
<br>
<div class="row">
              <div class="col-md-8 col-md-offset-2 jm">
<div class = "personal">
            <div class="row">
              <div class="col-md-12 jm">
                <%= render partial: "personas" %></div>
            </div>
          </div>
             </div>
          </div>
<div class="row info">
<div class="col-md-12">
<div class="col-md-6">
<p style = "margin-top:30px;font-size:20px;">   <i class="fa fa-calendar icon" color-gray icon" aria-hidden="true"></i> Proximas citas </p>
<% @citas.last(3).each do |cita|%>
 <div class="alert alert-info" role="alert">
    <span style="font-size:20px"><%=cita.patient.first_name%></span> <%=get_date_hora(cita.start_datetime)%>
</div>
<%end%>
</div>
<div class="col-md-6">
  <canvas id="myChart" width="400" height="200" style = "margin-top:30px;"></canvas>
</div>

</div>

    



  </div>
	
</div>


<style>
.search-cont
{
   background: linear-gradient( rgba(138, 184, 212, 0.58), rgba(81, 161, 185, 0.6) ), url('http://www.centrocrescere.com/wp-content/uploads/2017/02/psicologo-por-email-banner.jpg')no-repeat center top;
    background-size: cover;
}
.second-navbar {
    background: #277394 !important;
    margin-bottom: 0px !important;
}
</style>



<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Ene',
            'Feb',
            'Mar',
            'Abr',
            'May',
            'Jun',
            'Jul',
            'Ago',
            'Sep',
            'Oct',
            'Nov',
            'Dic'],
        
        datasets: [{
            label: 'Pacientes',
            data: [<%@mes.each do |item| %><%=item%>,<%end%>],
            backgroundColor: [<%@mes.each do |item| %>"rgba(54, 162, 235, 0.5)",<%end%>
            ],
            borderColor: [
                <%@mes.each do |item| %>"rgba(54, 162, 235, 0.5)",<%end%>
            ],
            borderWidth: 1
        }]
    },
    options: {
        tooltip: {
          backgroundColor: "blue"
        },
        scales: {
             yAxes: [{
            ticks: {
                max: 5,
                min: 0,
                stepSize: 1
            }
        }]
        }
    }
});


</script>