
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" type="text/javascript" charset="utf-8"></script>






<div class="container search-cont">
	
<div class="row">
<div class="col-md-6">
<div class="row" style="    padding: 24px;
    background: gainsboro;">
  <div class="col-md-4 text-right">
                     <img style = "width:95px" src="https://blog.rankwatch.com/wp-content/uploads/2017/09/if_calendar-clock_299096-1.png" alt="">
                  </div>
                  <div class="col-md-8" style="color:gray">
                  <%if @cita != nil%>
                   <span style="font-size:18px;font-weight: bold">Cita mas cercana</span><br>
                   <span style="font-size:15px;"><%=@cita.patient.first_name%> <%=@cita.patient.first_last_name%> &nbsp; <%=link_to "Ver", patient_path(@cita.patient.id) %></span><br>
                   
                   <% a =  get_date_array(Appointment.last.start_datetime)%>
                     
                     <span style="font-size:40px;"><%=a[5] %></span><br>
                     <span style="font-size:15px;"><%=a[1]%> <%= a[0] %> de <%= a[2]%> de <%= a[4] %></span>
                     <%else%>
                     <span style="font-size:15px;position: relative;
                        top: 50px;">No hay citas programadas</span>
                     <%end%>  
                     
                  </div>
</div>
    


<canvas id="myChart" width="400" height="200" style = "margin-top:50px;"></canvas>
</div>
<div class="col-md-6">
	

<div class="padding">
    <div class="full col-sm-12 search-p">
      <!-- content -->
      <div class="row">
        <!-- main col left -->
        <div class="col-sm-12">
          <header class="sb-page-header" style = "padding-bottom:0px!important">
            <div class="">
              <%= form_tag root_path, :method =>
              'get', remote: true, class: 'js-filter' do %>
     
                
                  <div >
                    <h2 style = "color:#969696 !important;font-size:45px!important;text-align:center!important">Buscar Paciente</h2>

     
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                        <div class="" id="">
                          <%= text_field_tag :search, nil, :placeholder =>
                          "Ingresa Nombre o Cedula", :class => 'form-control query' , style: "height: 40px !important; border-radius: 4px !Important;"%>

                        </div>
                         <br>
                         
                          <div class="row">
                            <div class="col-md-12" style = "text-align:center">
                              <%= link_to 'Nuevo Paciente', new_patient_path , :class=>"btn btn-primary btn-lg Cr js-filter"%></div>
                          </div>
                        
                      </div>
                    </div>
                    <br>
                  </div>
                <% end %>
                 
            </div>    
          </header>
          <br/>

          <div class = "personal">
            <div class="row">
              <div class="col-md-12 jm">
                <%= render partial: "personas" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>        

  </div>
  </div>
	
</div>






<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Ene',
            'Feb',
            'Mar',
            'Abr',
            'May',
            'Jun',
            'Jul',
            'Ago',
            'Sep',
            'Oct',
            'Nov',
            'Dic'],
        
        datasets: [{
            label: 'Pacientes',
            data: [<%@mes.each do |item| %><%=item%>,<%end%>],
            backgroundColor: [<%@mes.each do |item| %>"rgba(54, 162, 235, 0.5)",<%end%>
            ],
            borderColor: [
                <%@mes.each do |item| %>"rgba(54, 162, 235, 0.5)",<%end%>
            ],
            borderWidth: 1
        }]
    },
    options: {
        tooltip: {
          backgroundColor: "blue"
        },
        scales: {
             yAxes: [{
            ticks: {
                max: 5,
                min: 0,
                stepSize: 1
            }
        }]
        }
    }
});


</script>