<div class="row margin-top-40">
   <div class="col-md-12" style="padding-left: 50px;">
      <%= link_to "inicio", root_path%><span> | </span> 
      <%= link_to "Roles", rols_path%>
   </div>
</div>
<div class="container">
   <br>
   <div class = "row row-form">
      <br>
<%= form_with(model: rol, local: true) do |form| %>
  <% if rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rol.errors.count, "error") %> prohibited this rol from being saved:</h2>

      <ul>
      <% rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <h1 class="h1-tittle"><%=action_type%> Rol</h1><br>
  <div class="row">
    <div class="col-md-6">
        <div class="field">
            <%= form.label "Nombre" %>
            <%= form.text_field :name, id: :rol_name , class: "form form-control" %>
        </div>

      </div>
    
  </div>
<br><br>
<div class="row">
    <div class="col-md-2 text-center">
     
    <p></p>
  
    </div>
      <div class="col-md-2 text-center">
     
    <p>Ver Todos</p>
  
    </div>
     <div class="col-md-2 text-center">
     
    <p>Ver</p>
  
    </div>
     <div class="col-md-2 text-center">
     
  <p>Crear</p>
  
  
    </div>
     <div class="col-md-2 text-center">
     
    <p>Editar</p>
  
  
    </div>
        <div class="col-md-2 text-center ">
     
    <p>Eliminar</p>
  
  
    </div>
    
</div>



<div class="row">
    <div class="col-md-2">
     
    <p>Pacientes</p>
  
    </div>
       <div class="col-md-2 text-center">
     
     <%= form.check_box :show_all_patient, id: :rol_show_user %>
  
    </div>
     <div class="col-md-2 text-center">
     
     <%= form.check_box :show_patient, id: :rol_show_patient %>
  
    </div>
     <div class="col-md-2 text-center">
     
    <%= form.check_box :create_patient, id: :rol_create_patient %>
  
  
    </div>
     <div class="col-md-2 text-center">
     
    <%= form.check_box :edit_patient, id: :rol_edit_patient %>
  
  
    </div>
        <div class="col-md-2 text-center">
     
    <%= form.check_box :delete_patient, id: :rol_delete_patient %>
  
  
    </div>
    
</div>

<div class="row">
    <div class="col-md-2">
     
    <p>Historia Clinica</p>
  
    </div>
     <div class="col-md-2 text-center">
     
     <%= form.check_box :show_all_hc, id: :rol_show_user %>
  
    </div>
     <div class="col-md-2 text-center">
     
     <%= form.check_box :show_hc, id: :rol_show_hc %>
  
    </div>
     <div class="col-md-2 text-center">
     
     <%= form.check_box :create_hc, id: :rol_create_hc %>
  
  
    </div>
     <div class="col-md-2 text-center">
     
    <%= form.check_box :edit_hc, id: :rol_edit_hc %>
  
  
    </div>
        <div class="col-md-2 text-center">
     
   <%= form.check_box :delete_hc, id: :rol_delete_hc %>
  
  
    </div>
    
</div>

<div class="row">
    <div class="col-md-2">
     
    <p>Citas</p>
  
    </div>
     <div class="col-md-2 text-center">
     
     <%= form.check_box :show_all_cita, id: :rol_show_user %>
  
    </div>
     <div class="col-md-2 text-center">
     
      <%= form.check_box :show_cita, id: :rol_show_cita %>
  
    </div>
     <div class="col-md-2 text-center">
     
      <%= form.check_box :create_cita, id: :rol_create_cita %>
  
  
    </div>
     <div class="col-md-2 text-center">
     
    <%= form.check_box :edit_cita, id: :rol_edit_cita %>
  
  
    </div>
        <div class="col-md-2 text-center">
     
   <%= form.check_box :delete_cita, id: :rol_delete_cita %>
  
  
    </div>
    
</div>

<div class="row">
    <div class="col-md-2">
     
    <p>Documentos</p>
  
    </div>
     <div class="col-md-2 text-center">
     
     <%= form.check_box :show_all_doc, id: :rol_show_user %>
  
    </div>
     <div class="col-md-2 text-center">
     
        <%= form.check_box :show_doc, id: :rol_show_doc %>
  
    </div>
     <div class="col-md-2 text-center">
     
       <%= form.check_box :create_doc, id: :rol_create_doc %>
  
  
    </div>
     <div class="col-md-2 text-center">
     
     <%= form.check_box :edit_doc, id: :rol_edit_doc %>
  
  
    </div>
        <div class="col-md-2 text-center">
     
    <%= form.check_box :delete_doc, id: :rol_delete_doc %>
  
  
    </div>
    
</div>

<br>
<div class="row">
    <div class="col-md-2">
     
    <p>Configuracion</p>
  
    </div>
     <div class="col-md-6 text-center">
     
         <%= form.check_box :configuracion, id: :rol_configuracion %>  Permite modificar la configuracion de la cuenta,convenios y EPSs 
  
    </div>
    
    
</div>





  
  <%if action_name == "new" %>
  <%= form.hidden_field :admin_user , :value => current_user.admin_user %>
         <%= form.hidden_field :user_id ,:value =>  current_user.id %>
 <%end%>
 <br><br>
  <div class="row text-center">
         <div class="col-md-12">
            <div class="actions">
               <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>
            </div>
         </div>
      </div>
<% end %>
 </div> </div>