<div class="container margin-top-40">
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p>Roles <span class="label label-primary"><%=@rols.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @rols, :entry_name => 'Roles' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @rols%>
         </div>
         <div class = "col-md-2">
            <%= link_to 'Nuevo Rol', new_rol_path, class: "btn btn-primary"  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
       <% @rols.each do |rol| %>


       <div class="row">
         <div class="col-md-12">
           <h3 style= "    background: #f2f2f2;
    margin-bottom: 0px;
    padding: 10px;
    color: #636363;"><%=rol.name%><span style="font-size:20px;margin-left:21px;">
     
     <%if !rol.default%> 
      <%= link_to rol do %>
      <i class="fa fa-eye color-gray icon" aria-hidden="true"></i>
      <%end%>
      <%= link_to  edit_rol_path(rol) do %>
      <i class="fa fa-pencil color-gray icon" aria-hidden="true"></i>
      <%end%>
      <%= link_to  rol, method: :delete, data: { confirm: 'Are you sure?' } do%>
      <i class="fa fa-trash color-gray icon" aria-hidden="true"></i>
      <%end%>
      <%end%>
      </span> <span style="font-size:20px;float: right;">Configuracion <%= get_state(rol.configuracion).html_safe %></span></h3>
         </div>
       </div>
         <table class="table" style = "    border: 1px solid #e8e8e8;">
            <thead>
            
  
            <tr class = "tr-table">
            <td></th>
      <td class="text-center" style="border-left: 1px solid gray">Ver Todos</td>
      <td  class="text-center" style="border-left: 1px solid gray">Ver</th>
      <td  class="text-center" style="border-left: 1px solid gray">Crear</th>
      <td  class="text-center" style="border-left: 1px solid gray">Editar</th>
      <td class="text-center" style="border-left: 1px solid gray">Eliminar</th>
     
     



    </tr>
              
    
     <tr class = "tr-table" >
       <td >Pacientes</th> 
        <td><%= get_state(rol.show_all_patient).html_safe %></td>
        <td><%= get_state(rol.show_patient).html_safe %></td>
         <td><%= get_state(rol.create_patient).html_safe  %></td>
          <td><%= get_state(rol.edit_patient).html_safe  %></td>
           <td><%= get_state(rol.delete_patient).html_safe  %></td>
    </tr>
     <tr class = "tr-table" >
       <td >Historias Clinicas</th> 
        <td><%= get_state(rol.show_all_hc).html_safe %></td>
        <td><%= get_state(rol.show_hc).html_safe %></td>
         <td><%= get_state(rol.create_hc).html_safe  %></td>
          <td><%= get_state(rol.edit_hc).html_safe  %></td>
           <td><%= get_state(rol.delete_hc).html_safe  %></td>
    </tr>
     <tr class = "tr-table" >
       <td >Citas</th> 
        <td><%= get_state(rol.show_all_cita).html_safe %></td>
        <td><%= get_state(rol.show_cita).html_safe %></td>
         <td><%= get_state(rol.create_cita).html_safe  %></td>
          <td><%= get_state(rol.edit_cita).html_safe  %></td>
           <td><%= get_state(rol.delete_cita).html_safe  %></td>
    </tr>
      <tr class = "tr-table" >
       <td >Documentos</th> 
        <td><%= get_state(rol.show_all_doc).html_safe %></td>
        <td><%= get_state(rol.show_doc).html_safe %></td>
         <td><%= get_state(rol.create_doc).html_safe  %></td>
          <td><%= get_state(rol.edit_doc).html_safe  %></td>
           <td><%= get_state(rol.delete_doc).html_safe  %></td>
    </tr>
     
   
  </thead>

  <tbody>
   
      

  </tbody>
</table>
 <% end %>
     </div>
   </div>
</div>


<style>
.tr-table td
{
  text-align: center;
  background:white;
  color:gray;
}
</style>