<p id="notice"><%= notice %></p>

<p>
  <strong>Show user:</strong>
  <%= @rol.show_user %>
</p>

<p>
  <strong>Create user:</strong>
  <%= @rol.create_user %>
</p>

<p>
  <strong>Edit user:</strong>
  <%= @rol.edit_user %>
</p>

<p>
  <strong>Delete user:</strong>
  <%= @rol.delete_user %>
</p>

<p>
  <strong>Show patient:</strong>
  <%= @rol.show_patient %>
</p>

<p>
  <strong>Create patient:</strong>
  <%= @rol.create_patient %>
</p>

<p>
  <strong>Edit patient:</strong>
  <%= @rol.edit_patient %>
</p>

<p>
  <strong>Delete patient:</strong>
  <%= @rol.delete_patient %>
</p>

<p>
  <strong>Show hc:</strong>
  <%= @rol.show_hc %>
</p>

<p>
  <strong>Create hc:</strong>
  <%= @rol.create_hc %>
</p>

<p>
  <strong>Edit hc:</strong>
  <%= @rol.edit_hc %>
</p>

<p>
  <strong>Delete hc:</strong>
  <%= @rol.delete_hc %>
</p>

<p>
  <strong>Show cita:</strong>
  <%= @rol.show_cita %>
</p>

<p>
  <strong>Create cita:</strong>
  <%= @rol.create_cita %>
</p>

<p>
  <strong>Edit cita:</strong>
  <%= @rol.edit_cita %>
</p>

<p>
  <strong>Delete cita:</strong>
  <%= @rol.delete_cita %>
</p>

<p>
  <strong>Show doc:</strong>
  <%= @rol.show_doc %>
</p>

<p>
  <strong>Create doc:</strong>
  <%= @rol.create_doc %>
</p>

<p>
  <strong>Edit doc:</strong>
  <%= @rol.edit_doc %>
</p>

<p>
  <strong>Delete doc:</strong>
  <%= @rol.delete_doc %>
</p>

<p>
  <strong>Show rol:</strong>
  <%= @rol.show_rol %>
</p>

<p>
  <strong>Create rol:</strong>
  <%= @rol.create_rol %>
</p>

<p>
  <strong>Edit rol:</strong>
  <%= @rol.edit_rol %>
</p>

<p>
  <strong>Delete rol:</strong>
  <%= @rol.delete_rol %>
</p>

<p>
  <strong>Configuracion:</strong>
  <%= @rol.configuracion %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @rol.admin_user %>
</p>

<p>
  <strong>User:</strong>
  <%= @rol.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rol.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rol.description %>
</p>

<%= link_to 'Edit', edit_rol_path(@rol) %> |
<%= link_to 'Back', rols_path %>
