
<div class="row">
    <div class="col-md-11 titulo">
      <h2 align="center">INFORMACIÓN GENERAL</h2>
    </div>
    <div class="row">
      <% @clinic_history_family.patients.each do |patient| %>  
            <div class="col-md-3 text-center" style="margin-top: 15px"><%= patient.avatar? ? image_tag(patient.avatar_url(:logo), id: "patient") : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg", id: "patient")%><br><span id='show-patien'><%= patient.first_name + " " + patient.first_last_name %></span>
              <br><br><br>
            </div>        
      <% end %>
    </div>

    <ul class="nav nav-tabs" style="margin-left: 14px; width: 96%;">
      <li class="active"><%=link_to "Gestion Documental Familiar" ,clinic_history_family_document_families_path(@clinic_history_family.id), style: "cursor: pointer;" %></li>
      <li class="link2"><%= link_to "Gestion Diagnostico", clinic_history_family_diagnostic_documets_path(@clinic_history_family.id), style: "cursor: pointer;"%></li>
      <li class="link2"><%= link_to "Gestion Legal", clinic_history_family_legan_documents_path(@clinic_history_family.id), style: "cursor: pointer;" %></li>
    </ul>
  <% if @document_families.any? %>
    <div class="container">
       <div class="row" >
        <br>
        <div class = "row title-table">

           <div class = "col-md-4"  style="padding-left: 20px;">
              <p>Documentos Familiares <span class="label label-primary"><%= @document_families.count%></span>
           </div>

            <div class = "col-md-2" style= "float: right; padding-right: 10px; margin-right: 27px;">
              <%= link_to 'Nuevo', new_clinic_history_family_document_family_path  + "?params=tool", class: "btn btn-primary", remote: true  %>
           </div>
      </div>

        <% @document_families.each do |document_family| %>
             <div class="panel panel-default" style="width: 96%;">
                <div class="panel-heading">
                   <div class="row">
                      <div class="col-md-6" style="color: #5bc0de;
                         font-size: 18px;">
                         <%= document_family.descripcion %>
                      </div>

                      <div class="col-md-6 text-right">
                        <%= link_to edit_clinic_history_family_document_family_path(@clinic_history_family.id, document_family)  + "?params=tool", remote: true do %>
                            <i class="fas fa-pencil-alt"></i>
                        <% end -%>

                         <%= link_to clinic_history_family_document_family_path(@clinic_history_family.id, document_family), method: :delete, data: {
                          confirm: '¿Estas Seguro?',
                          'confirm-button-text': 'Borrar',
                          'cancel-button-text': 'Cancelar',
                          'confirm-button-color': '#CC0000',
                           text: 'Recuerda que el registro se borrara permanentemente',
                          'image-url': ''} do %>
                          <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
                          <% end -%>


                        
                      </div>
                   </div>
                </div>
                <div class="panel-body"> 
                   <strong>Tipo de Herramienta: </strong> <%= document_family.tool_type %><br><br>
                   <strong>Descripción: </strong> <%= document_family.descripcion %>
                   <hr>

                   <% document_family.general_files.each do |file|%>
                     <% if file.file_url%>
                       <%= link_to  file.file_url, class: "btn btn-primary", style:"margin-right:10px;;margin-top:10px" do  %>
                       <i class="fa fa-download" aria-hidden="true"></i> <%=file.name%>
                       <% end %>  
                     <% end %>
                   <% end %>

                </div>
             </div>
            <% end %>
          </div>

      <div class = "col-md-12 paginate text-left title-table1">
         <%= will_paginate @document_families %>
      </div>
  </div>

<% else %>

<div class="row" style="padding: 0px 20px;">
  <div class="jumbotron">
      <h3>! AÚN NO HAS CREADO GESTION DOCUMENTAL FAMILIAR ¡ </h3>
       <%= link_to 'Gestion Documental Familiar', new_clinic_history_family_document_family_path + "?params=tool" , remote: true,  class: "btn btn-primary"  %>
  </div>
</div>

<% end %>

<style>
  .paciente2{
    padding: 10px 10px;
    border: none;
    color: #46b8da
  }


   .panel-body strong{
      margin-bottom: 5px
   }

   .np{
     text-align: center;
     color: gray;
     background: #f4f4f4;
     font-size: 40px;
     padding: 16px 0px;
    
   }

   .imagen1 img{
    border-radius: 50%;
    margin-top: 10px;
    height: 102px;
    margin-bottom: 10px;
    text-align: center;
  }

  .titulo{
    background: #46b8da;
    color: white !important;
    padding: 5px 5px;
      margin-bottom: 18px;
      font-weight: bold;
      margin-left: 10px;
          width: 96%;
  }

  .paciente2 img{
    width: 80px;
  }

  #patient{
    border-radius: 50%;
    height: 100px;
    margin-bottom: 10px;
  }

  #show-patien{
    background: #46b8da;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
  }

  .jumbotron{
    background-color: #eee !important;
    margin-left: 14px;
    width: 96%;
    text-align: center;
  }

  .jumbotron h3{
    padding-top: 30px;
    color: #3b84a7;
    font-size: 17px;
  }

</style>