
<div class="row">
    <div class="col-md-11 titulo">
      <h2 align="center">DOCUMENTOS LEGALES</h2>
    </div>

    <div class="row">
      <table class="table table-responsive row1">
        <tr style="background: #46b8da; color: #fff;">
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Estado Civil</th>
          <th>Parentesco</th>
        </tr>
      </thead>

        <tbody>
          <% @clinic_history_family.patients.each do |patient| %>  
            <tr>
              <td><%= patient.first_name %></td>
              <td><%= patient.first_last_name %></td>
              <td><%= patient.document %></td>
              <td><%= patient.age %></td>
              <td><%= patient.gender %></td>
              <td><%= patient.civil_status %></td>
              <td> Con la <%= patient.contact_relationship %></td>
            </tr>
            <% end -%>
          </tbody>
        </table>
    </div>

    <ul class="nav nav-tabs tab">
      <li class="link2"><%=link_to "Heramientas de Evolucion" ,clinic_history_family_document_families_path(@clinic_history_family.id), style: "cursor: pointer;" %></li>
      <li class="link2"><%= link_to "Ayudas Diagnosticas", clinic_history_family_diagnostic_documets_path(@clinic_history_family.id), style: "cursor: pointer;"%></li>
      <li class="active"><%= link_to "Documentos Legales", clinic_history_family_legan_documents_path(@clinic_history_family.id), style: "cursor: pointer;" %></li>
    </ul>
  <% if @document_families.any? %>
    <div class="container">
       <div class="row" >
        <br>
        <div class = "row title-table">

           <div class = "col-md-5"  style="padding-left: 20px;">
              <p>Documentos Legales <span class="label label-primary"><%= @document_families.count%></span>
           </div>

            <div class = "col-md-2" style= "float: right; padding-right: 10px; margin-right: 27px;">
              <%= link_to 'Nuevo', new_clinic_history_family_document_family_path  + "?params=legal", class: "btn btn-primary", remote: true  %>
           </div>
      </div>
          <% @document_families.each do |document_family| %>
             <div class="panel panel-default width">
                <div class="panel-heading">
                   <div class="row width">
                      <div class="col-md-6" style="color: #5bc0de;
                         font-size: 18px;">
                         <%= document_family.name %>
                      </div>

                      <div class="col-md-6 text-right">
                        <%= link_to edit_clinic_history_family_document_family_path(@clinic_history_family.id, document_family) + "?params=legal", remote: true do %>
                            <i class="fas fa-pencil-alt"></i>
                        <% end -%>

                         <%= link_to clinic_history_family_document_family_path(@clinic_history_family.id, document_family)   + "?params=legal", method: :delete, data: {
                          confirm: '¿Estas Seguro?',
                          'confirm-button-text': 'Borrar',
                          'cancel-button-text': 'Cancelar',
                          'confirm-button-color': '#CC0000',
                           text: 'Recuerda que el registro se borrara permanentemente',
                          'image-url': ''} do %>
                          <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
                          <% end -%>


                        
                      </div>
                   </div>
                </div>
                <div class="panel-body"> 
                   <strong>Descripción: </strong> <%= document_family.descripcion %>
                   <hr>

                   <% document_family.general_files.each do |file|%>
                     <% if file.file_url%>
                       <%= link_to  file.file_url, class: "btn btn-primary file1", target: "_blank" do  %>
                       <i class="fa fa-download" aria-hidden="true"></i> <%=file.name%>
                       <% end %>  
                     <% end %>
                   <% end %>

                </div>
             </div>
            <% end %>
          </div>

      <div class = "col-md-12 paginate text-left title-table1">
                 <%= will_paginate @document_families %>
      </div>
  </div>
  
<% else %>

  <div class="jumbotron">
      <h3>! AÚN NO HAS CREADO GESTION LEGAL FAMILIAR ¡ </h3>
       <%= link_to 'Numevo Documento Legale', new_clinic_history_family_document_family_path + "?params=legal" , remote: true,  class: "btn btn-primary"  %>
  </div>

<% end -%>

<style>
  .paciente2{
    padding: 10px 10px;
    border: none;
    color: #46b8da
  }

            .file1{
    margin-right:10px;
    margin-top:10px;
  }


       .width{
       width: 89% !important;
  }



   .panel-body strong{
      margin-bottom: 5px
   }

   .np{
     text-align: center;
     color: gray;
     background: #f4f4f4;
     font-size: 40px;
     padding: 16px 0px;
    
   }

   .imagen1 img{
    border-radius: 50%;
    margin-top: 10px;
    height: 102px;
    margin-bottom: 10px;
    text-align: center;
  }

  .titulo{
    background: #46b8da;
    color: white !important;
    padding: 5px 5px;
    margin-bottom: 18px;
    font-weight: bold;
    margin-left: 10px;
    width: 96%;
  }

  .paciente2 img{
    width: 80px;
  }

  #patient{
    border-radius: 50%;
    height: 100px;
    margin-bottom: 10px;
  }

  #show-patien{
    background: #46b8da;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
  }


  .jumbotron{
    background-color: #eee !important;
    width: 96%;
    margin-left: 10px;
    text-align: center;
  }

  .jumbotron h3{
    padding-top: 30px;
    color: #3b84a7;
    font-size: 17px;
  }

  .tab{
    margin-left: 10px;
    width: 1023px;
  }
  .row1{
    width: 93%;
    margin-bottom: 17px !important;
    margin-left: 25px;
  }

</style>