<% imagen = Account.where(admin_user: @patient.admin_user).first.logo_url%>

<div style="width:80%;margin-left:10%;text-align:center">
<img src="<%=imagen%>" style="width:200px" alt="">
<h2 style = "background:#5bc0de;color :white;text-align:center">HOLA <%=@patient.first_name.upcase%> <%=@patient.first_last_name.upcase%></h2>
                                                               </div>

<div style="width:80%;margin-left:10%;text-align:center;color:gray">
<p style="color:gray">Psiclin ha programado una cita para consulta</p>
<p style="color:gray"><strong>Fecha:</strong> <%=get_date_hora(@appointment.start_datetime)%></p>
<p style="color:gray"><strong>Observaciones: <%= @appointment.observations.blank? ? "Ninguna" : @appointment.observations%></strong></p><br><br>
Enviado por <img src="https://farm5.staticflickr.com/4539/38260696042_45b37e8f87_n.jpg" style="width:100px" alt="">
</div>

