<div class="container margin-top-40">


   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p class="title-h2">Formatos <span class="label label-primary"><%=@documents.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @documents, :entry_name => 'Pacientes' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @documents%>
         </div>
         <div class = "col-md-2">

            <%= link_to 'Nuevo Formato', new_document_path, class: "btn btn-primary", remote:true if current_user.rol.create_doc  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      <th>Nombre</th>
      <th>Formato</th>
      <th>Descriptción</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%=link_to "Descargar", document.file_url %></td>
        <td><%= document.description %></td>
  
             <td>
        <%if current_user.rol.show_doc%>
        <%= link_to  document, class: "btnl btn-primary" do %>
             <i class="fa fa-eye" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
      <%end%>
        <%if current_user.rol.edit_doc%>
          <%= link_to  edit_document_path(document),remote:true, class: "btnl btn-warning" do%>
             <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
<%end%>
       <%if current_user.rol.delete_doc%>
      <%= link_to  document, method: :delete, data: { confirm: 'Are you sure?' }, class: "btnl btn-danger" do%>
             <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%><%end%>
</td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
    </div>
      </div>


       