<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @third_rip.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @third_rip.admin_user %>
</p>

<p>
  <strong>Numero factura:</strong>
  <%= @third_rip.numero_factura %>
</p>

<p>
  <strong>Codigo prestador:</strong>
  <%= @third_rip.codigo_prestador %>
</p>

<p>
  <strong>Tipo identificacion usuario:</strong>
  <%= @third_rip.tipo_identificacion_usuario %>
</p>

<p>
  <strong>Numero identificacion usuario:</strong>
  <%= @third_rip.numero_identificacion_usuario %>
</p>

<p>
  <strong>Fecha consulta:</strong>
  <%= @third_rip.fecha_consulta %>
</p>

<p>
  <strong>Numero autorizacion:</strong>
  <%= @third_rip.numero_autorizacion %>
</p>

<p>
  <strong>Codigo consulta:</strong>
  <%= @third_rip.codigo_consulta %>
</p>

<p>
  <strong>Finalidad consulta:</strong>
  <%= @third_rip.finalidad_consulta %>
</p>

<p>
  <strong>Causa externa:</strong>
  <%= @third_rip.causa_externa %>
</p>

<p>
  <strong>Codigo diagnostico:</strong>
  <%= @third_rip.codigo_diagnostico %>
</p>

<p>
  <strong>Codigo diagnostico uno:</strong>
  <%= @third_rip.codigo_diagnostico_uno %>
</p>

<p>
  <strong>Codigo diagnostico dos:</strong>
  <%= @third_rip.codigo_diagnostico_dos %>
</p>

<p>
  <strong>Codigo diagnostico tres:</strong>
  <%= @third_rip.codigo_diagnostico_tres %>
</p>

<p>
  <strong>Tipo diagnostico principal:</strong>
  <%= @third_rip.tipo_diagnostico_principal %>
</p>

<p>
  <strong>Valor consulta:</strong>
  <%= @third_rip.valor_consulta %>
</p>

<p>
  <strong>Valor cuota moderadora:</strong>
  <%= @third_rip.valor_cuota_moderadora %>
</p>

<p>
  <strong>Valor neto pagar:</strong>
  <%= @third_rip.valor_neto_pagar %>
</p>

<%= link_to 'Edit', edit_third_rip_path(@third_rip) %> |
<%= link_to 'Back', third_rips_path %>
