<%a = get_date_array(Time.now)%>
<h5 style="text-align:center;margin: 0px 20px 50px 20px;">
CONSENTIMIENTO INFORMADO PLENO

</h5>

<p style="text-align: justify;font-size: 13px;padding: 20px 50px;">
<%==@consent%>

</p>



<br><br><br>
<table style="text-align: justify;font-size: 12px;padding: 20px 50px;width: 100%;margin-left: 50px">
	
	<thead>
	    <tr>
			<th><img style="width:200px"  src="<%=@patient.firma_paciente%>" alt=""></th>
			<th><img style="width:200px"  src="<%=@patient.user.firma_psicologo%>" alt=""></th>
		</tr>
		<tr>
			<th>Firma del Paciente</th>
			<th>Firma del psicólogo</th>
			</tr>
            
            <tr>
			<th>C.C: <%=@patient.document%></th>
			<th>C.C: <%=@patient.user.document%></th>
			</tr>

			<tr>
            <th></th>
            <th>T.P: <%=@patient.user.medical_record%></th>    
			</tr>

			

			
		
	</thead>
	<tbody>
		
	</tbody>
</table>

<br>
<br>





<style>
th
{
	width: 50%;
}
	
</style>





