<%a = get_date_array(Time.now)%>
<h5 style="text-align:center;margin: 0px 20px 50px 20px;">
CONSENTIMIENTO INFORMADO PLENO

</h5>

<p style="text-align: justify;font-size: 13px;padding: 20px 50px;">
Este tipo de consentimiento lo da y lo firma el usuario en primera persona, sin la intervención de un tercero.
<br><br>
Certifico que he recibido y comprendido que la información que reciba el psicólogo es de
carácter confidencial y que la podrá revelar<sup>1</sup> si durante la evaluación o el tratamiento, el
psicólogo detecta de manera clara que hay un evidente daño para mi o para terceros (se
le explicará el destinatario y el manejo de la información y las consecuencias de la misma).
En caso de ambientes legales, se hará especial énfasis en la no autoincriminación y la no
observancia del secreto profesional. Se me indicó que el procedimiento a seguir es
(especificar de manera clara y comprensible el procedimiento que se va a seguir. Si es
necesario, antes de la intervención terapéutica, indicar que se hará una evaluación
mediante la aplicación de pruebas; estas se deberán listar aclarando el objeto de cada una
de ellas. Asimismo, se indicará la impresión diagnostica, se ello fuere el caso. Si el
psicólogo tiene una impresión diagnóstica en los términos del DSM o del CIE, así sea
tentativo, y que se da como consecuencia de la evaluación, se lo hará saber al consultante
indicándole qué tipo de tratamiento se llevará a cabo, explicándole en qué consiste este:
desensibilización sistemática, restructuración cognoscitiva, habilidades sociales y
comunicación asertiva, etcétera) y el posible tiempo que lleve el tratamiento. También se
me indicó yo puedo revocar el consentimiento o dar por terminado en cualquier momento
la relación entre psicólogo y yo, cuando lo considere pertinente, sin que ello implique
ningún tipo de consecuencia para mí.

<br><br>
Una vez leído y comprendido el procedimiento que se seguirá, se firma el presente consentimiento el día <strong><%= a[0]%></strong> del mes de <strong><%= a[2]%> </strong> de  <strong><%= a[4]%>, en la ciudad de Medellín.

</p>



<br><br><br>
<table style="text-align: justify;font-size: 12px;padding: 20px 50px;width: 100%;margin-left: 50px">
	
	<thead>
	    <tr>
			<th><img src="<%=@patient.firma_paciente%>" alt=""></th>
			<th><img src="<%=@patient.user.firma_psicologo%>" alt=""></th>
		</tr>
		<tr>
			<th>Firma del Paciente</th>
			<th>Firma del psicólogo</th>
			</tr>
            
            <tr>
			<th>C.C: <%=@patient.document%></th>
			<th>C.C: <%=@patient.user.document%></th>
			</tr>

			<tr>
            <th></th>
            <th>T.P: <%=@patient.user.medical_record%></th>    
			</tr>

			

			
		
	</thead>
	<tbody>
		
	</tbody>
</table>

<br>
<br>





<style>
th
{
	width: 50%;
}
	
</style>





