<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Crear Herramienta</h4>
      </div>

  <%= nested_form_for([@patient, @clinic_history , @tool_test]) do |form| %>
  <% if @tool_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool_test.errors.count, "error") %> prohibited this tool_test from being saved:</h2>

      <ul>
      <% @tool_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="modal-body">






<div class="form-group">
               <%val1 = "" 
                  action_name == "edit" ? val1 = @tool_test.type_tool : val1 = "" %>
               <%= form.label "Tipo de Documento" %>
               <%= form.select 'type_tool', options_for_select(@patient.select_tools, val1), {},{:class => 'form-control'}%>
            </div>




  <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :description,:class => 'form-control area' %>
  </div>

<%if action_name == "edit"%>

 <%if !@tool_test.attachment.blank? %>
<div class="field">
     <%= form.label "Adjunto" %>
    <%= form.file_field :attachment,  class: "form-control inputfile", id: 'file' %>
    <label for="file" ><i class="fa fa-upload" aria-hidden="true"></i>

 <span class="levidencia" style = "margin-right:10px;"><%= @tool_test.attachment.blank? != true ? "#{@tool_test.attachment.file.filename}" : "Evidencia" %> </span> <%if @tool_test.attachment.blank?   != true %><br>
<%= check_box_tag :remove_attachment %> 
   <%= label_tag "Eliminar", "Eliminar", style: "color:red!important" %></label>
<%end%>
 

   </div>
     <%end%>
<%end%>
  <br>
  <div class="row">
   <%= form.fields_for :general_files do |file|  %>
  <div class="clearfix">

  <div class="col-md-12" >  
    <div class="col-md-7 pdd" >
     <%= file.link_to_remove do %>
    <i style = "color: #e74b09;
    font-size: 18px;
    margin-left: 0px;
    position: relative;
    left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
    

      
       
       



    <%= file.label "Nombre" %>
     
    <%= file.text_field :name, :class => 'name form form-control', style: "" %>
    </div>

    <div class="col-md-5 pdd" >
      <%= file.label "Archivo" %>
      
      <%= file.file_field :file, :class => 'file form form-control archivo', style: "" %>
      <%= file.hidden_field :id, class:"items" if action_name == "edit"%>
      <span></span>
      <br>
    </div>

    <br>
    <%= file.hidden_field :admin_user , :value => current_user.admin_user %>
    <%= file.hidden_field :user_id ,:value =>  current_user.id %>   
   

    <br>
  </div> </div> <%end%>
  <div class="col-md-12"> <%= form.link_to_add "Agregar Archivo", :general_files, :class => 'btn btn-primary top10'  %></div>
   
 
  </div>







<%= form.hidden_field :user_id ,:value =>  current_user.id %>
<%= form.hidden_field :admin_user ,:value =>  current_user.admin_user %>
<%= form.hidden_field :patient_id ,:value =>  @patient.id %>
<%= form.hidden_field :clinic_history_id ,:value =>  @clinic_history.id %>





 
<br>

      <div class="modal-footer text-center">
       
        <%= form.submit "Guardar", class: 'btn btn-primary btnpad' %>
         <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
<% end %>

    </div>
  </div>
</div>


<script>
  
console.log($("#tool_test_general_files_attributes_1_file").prop('files'));

$( ".items" ).each(function( index ) {
   a = $( this ).val();
   b = $( this )
   general_files(a,b)
  

});


function general_files(x,y){


   $.get("/general_files/"+ x , function(data, status){
        y.next().html("<a href='" + data.url +"' alt=''>" + data.name +  "<a>");
  

    });


}

/*$(document).on('change', '.file', function() {
    console.log($(this.files[0].size));
    console.log($(this.files[0].name));
    this.html("<a href='" + data.url +"' alt=''>" + data.name +  "<a>");

})*/



'use strict';

;( function ( document, window, index )
{
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label  = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
      
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      else
        fileName = e.target.value.split( '\\' ).pop();

      if( fileName )
      {
         $(".quitar").show();
        label.querySelector( 'span' ).innerHTML = fileName;
      }
      else{
        label.innerHTML = labelVal;
      }
    });

    // Firefox bug fix
    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
  });
}( document, window, 0 ));

   $(".quitar").on("click" ,function(){
      
        $("#file").val(null);
         $(".levidencia").html("Adjuntar Evidencia");
        console.log("afafsd");
        $(".quitar").hide();

   })
   $('.quitar').hover(function() {
        $(this).css('cursor','pointer');
    });
</script>



<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
       font-size: 1em;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-weight: 100!important;
    color: white;
    background-color: #f9f9f9;
    padding: 4px 20px;
    display: inline-block;
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
  

  
</style>
</div>
