<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Editar Herramienta</h4>
      </div>
<%= form_tag patient_clinic_history_update_tool_test_path(@patient,@clinic_history,@tool_test), method: :patch, remote: true, multipart: true do %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">





<div class="form-group">
    <%= label_tag "Tipo" %>

      <%= select_tag 'type_tool', options_for_select(@patient.select_tools, @tool_test.type_tool), {:class => 'form-control'}%>
  </div>
  <div class="form-group">
    <%= label_tag "Descripcion" %>
    <%= text_area_tag :description,@tool_test.description,:class => 'form-control area' %>
  </div>

<div class="form-group">
    <%= label_tag "Adjunto" %>
    <%= file_field_tag :attachment, :class => 'form-control' %>
  </div>


<%= hidden_field_tag :tool_test , @tool_test.id %>





 
<br>

      <div class="modal-footer text-center">
       
        <%= submit_tag "Guardar", class: 'btn btn-primary btnpad' %>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
<% end %>

    </div>
  </div>
</div>
</div>
