
<%if @clinic_history.tool_tests.count != 0%>
   


  <div class="row" style = "padding: 10px 45px;">

 <div class = "row title-table">
         <div class = "col-md-8">
            <p>HERRAMIENTAS DE EVALUACIÓN <span class="label label-primary"><%=@clinic_history.tool_tests.count%></span>  </p>
         </div>
      
         <div class = "col-md-4 text-right">
          <%= link_to 'Nueva Herramienta', new_patient_clinic_history_tool_test_path(@clinic_history.patient_id,@clinic_history.id), remote: true, class: "btn btn-primary"  %>
         </div>
      </div>


<br><br>

<% @clinic_history.tool_tests.each do |tool|%>
      <div class="panel panel-default">
                        <div class="panel-heading">
                                   <div class="row">

              <div class="col-md-6" style="    color: #5bc0de;
    font-size: 18px;">
                  <%= tool.type_tool %> <!--  <span style="font-size:12px;margin-left: 20px;"><%= get_date(tool.created_at) %>--></span>
              </div>
              

              <div class="col-md-6 text-right">
             
                        <%= link_to edit_patient_clinic_history_tool_test_path(@clinic_history.patient_id,@clinic_history.id,  tool.id), remote: true, class: "icon" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <%end%>
                    <%= link_to  patient_clinic_history_tool_test_path(@clinic_history.patient_id,@clinic_history.id,  tool.id),method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "icon" do %>
           <i class="fa fa-trash" aria-hidden="true"></i>
          <%end%>
              </div>
           
            
            
          </div>
                        </div>
                        <div class="panel-body">
                      <%= tool.description %><br><br>
                        <%if tool.attachment_url%>
                   <%= link_to  tool.attachment_url, class: "btn btn-primary", style:"margin-right:10px;margin-top:10px" do  %>
                          <i class="fa fa-download" aria-hidden="true"></i> <%=tool.attachment.file.filename%>
                   <%end%>  
                   <%end%>
                      <% tool.general_files.each do |file|%>
                      <%if file.file_url%>
                   <%= link_to  file.file_url, class: "btn btn-primary", style:"margin-right:10px;;margin-top:10px" do  %>
                          <i class="fa fa-download" aria-hidden="true"></i> <%=file.name%>
                   <%end%>  
                   <%end%>
                   <%end%>
                        </div>
                      </div>
<%end%>

</div>
<%else%>
 <div class="row">
        <div class="col-md-12 np">


        <h3>! AÚN NO HAY HERRAMIENTAS DE EVALUACIÓN ¡</h3>
        
        <%= link_to "CREA LA PRIMERA", new_patient_clinic_history_tool_test_path(@clinic_history.patient_id,@clinic_history.id), remote: true, class: "btn btn-primary" %>
        
        </div>
      
    </div>
<%end%>
<style>
  .np
{
    text-align: center;
    color: gray;
    background: #f4f4f4;
    font-size: 40px;
    padding: 30px 0px;


}
.np h3
{ 
  
    font-size: 30px;
    margin-bottom: 30px;
  

}
.crear_paciente
{
  font-size: 20px;
  padding: 20px;
 
}
</style>