

<div class="container">
<br>


<div class = "row row-form">
  <br>
<%= form_with(model: patient, local: true, id:"form") do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1 class="h1-tittle"><%=action_type%> Paciente</h1>

<div class="row">
<div class="col-md-12">
<h3>Informacion Basica</h3>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= form.label "Primer Nombre" %>
    <%= form.text_field :first_name, id: :patient_first_name, class: "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>
</div>
  <div class="col-md-3">
  <div class="form-group">
    <%= form.label "Segundo Nombre" %>
    <%= form.text_field :second_name, id: :patient_second_name , class: "form-control", :title => "Es un Campo Obligatorio"%>
  </div>

</div>
<div class="col-md-3">
  <div class="form-group">
    <%= form.label "Primer Apellido" %>
    <%= form.text_field :first_last_name, id: :patient_first_last_name, class: "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= form.label "Segundo Apellido" %>
    <%= form.text_field :second_last_name, id: :patient_second_last_name , class: "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>
</div>

</div>
<div class="row">

<div class="col-md-3">
  <div class="form-group">
    <%val1 = "" 
 action_name == "edit" ? val1 = @patient.document_type : val1 = "" %>
    <%= form.label "Tipo de Documento" %>
     <%= form.select 'document_type', options_for_select(@patient.select_documento, val1), {},{:class => 'form-control'}%>
  </div>
</div>
  <div class="col-md-3">
  <div class="form-group">
    <%= form.label "Documento" %>
    <%= form.text_field :document, id: :patient_document , class: "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>

</div>
<div class="col-md-6 sir">
 <div class="form-group">
             <%= form.label "Fecha de Nacimiento" %><br>
              <%= form.date_select :birth_date,{
                        :start_year =>
              Time.now.year,
                        :end_year => 1900,
                        :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
                        :use_short_month => true,
                        :order => [:day, :month, :year],
                        :prompt => {:month => 'Mes', :day => 'Dia', :year => 'Año'}},
                        {:class => 'year form-control line1 required',
                        :id => 'patient_birth_date' , :title => "Es un Campo Obligatorio" }
                      %>
            </div>
         
  </div>
</div>
<hr>
<div class="col-md-12">
<h3>Informacion Basica</h3>
</div>

<div class="row">

<div class="col-md-3">
<div class="form-group">
    <%= form.label "Ciudad de Residencia" %>
    <%= form.text_field :city, id: :patient_city , class: "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
   <%= form.label "Direccion de Residencia" %>
    <%= form.text_field :address, id: :patient_address , class: "form-control required", :title => "Es un Campo Obligatorio"%>
</div>
</div>
  <div class="col-md-3">
  <div class="form-group">
    <%= form.label "Telefono Fijo" %>
    <%= form.text_field :phone, id: :patient_phone ,class: "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>

</div>
<div class="col-md-3">
  <div class="form-group">
     <%= form.label "Telefono Movil" %>
    <%= form.text_field :movil, id: :patient_movil  , class: "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>
</div>



<div class="col-md-3">
<div class="form-group">
    <%= form.label "Email" %>
    <%= form.email_field :email, id: :patient_email ,class: "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
   
    <%= form.label "Grado Escolar" %>
     <%val1 = "" 
 action_name == "edit" ? val4 = @patient.school_grade : val4 = "" %>
     <%= form.select 'school_grade', options_for_select(@patient.select_grado, val4), {},{:class => 'form-control'}%>
</div></div>
<div class="col-md-3">
  <div class="form-group">
   <%= form.label "Ocupacion" %>
    <%= form.text_field :occupation, id: :patient_occupation , class: "form-control required", :title => "Es un Campo Obligatorio" %>
</div>
</div>
  <div class="col-md-3">
  <div class="form-group">
    <%= form.label "Profesion" %>
    <%= form.text_field :profession, id: :patient_profession , class: "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>

</div>




</div>

<hr>
<div class="col-md-12">
<h3>Informacion Basica</h3>
</div>
<div class="row">

<div class="col-md-3">
<div class="form-group">

    <%= form.label "Genero" %>
     <%val1 = "" 
 action_name == "edit" ? val1 = @patient.gender : val1 = "" %>
     <%= form.select 'gender', options_for_select(@patient.select_genero, val1), {},{:class => 'form-control'}%>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
   <%= form.label "Estado Civil" %>
   
    <%val1 = "" 
 action_name == "edit" ? val1 = @patient.civil_status : val1 = "" %>
     <%= form.select 'civil_status', options_for_select(@patient.select_estado_civil, val1), {},{:class => 'form-control'}%>
</div>
</div>
  <div class="col-md-3">
  <div class="form-group">
    <%= form.label "Grupo Sanguineo" %>
    <%val2 = "" 
 action_name == "edit" ? val2 = @patient.blood_type : val2 = "" %>
     <%= form.select 'blood_type', options_for_select(@patient.select_sangre, val2), {},{:class => 'form-control'}%>
  </div>

</div>
<div class="col-md-3">
  <div class="form-group">
     <%= form.label "Grupo Etnico" %>
   <%val3 = "" 
 action_name == "edit" ? val3 = @patient.ethnic_group : val3 = "" %>
    <%= form.select 'ethnic_group', options_for_select(@patient.select_grupo_etnico, val3), {},{:class => 'form-control'}%>
  </div>
</div>



<div class="col-md-3">
<div class="form-group">
    <%= form.label "Eps" %>
    <%= form.select :hpc_id,
                 get_hpc.map { |u| [u.name, u.id] },
                             { include_blank: true },
                             { class: 'chosen-select1 form-control ch source'  }
                  %>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
   <%= form.label "Convenio" %>
   <%= form.select :agreement_id,
                 get_ag.map { |u| [u.name, u.id] },
                             { include_blank: true },
                             { class: 'chosen-select1 form-control ch source'  }
                  %>
</div>
</div>
  <div class="col-md-3">
  











</div>




</div>



<hr>

<div class="row">

<div class="col-md-3">
<div class="form-group">
    <%= form.label "Nombre de Contacto" %>
    <%= form.text_field :contact_name, id: :contact_name , class: "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
   <%= form.label "Telefono de Contacto" %>
    <%= form.text_field :contact_phone, id: :patient_contact_phone , class: "form-control required", :title => "Es un Campo Obligatorio"%>
</div>
</div>
  <div class="col-md-3">
  <div class="form-group">
    <%= form.label "Parentesco del Contacto" %>
    <%= form.text_field :contact_relationship, id: :patient_contact_relationship , class: "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>

</div>
  <div class="col-md-3">
  











</div></div>
<hr>
<div class="row">
  <div class="col-md-12 text-center">
  



<% action_name == "edit" ? @hola = @patient.avatar.url : @hola = "" %>
 <image  src="<%=@hola%>" style="width:12%;display:inline-block" id="avatar" class="thumbnail" data-toggle="modal" data-target=".bs-example-modal-img" />
<br>

<button type="button" class="adjBtn" data-toggle="modal" data-type="1" data-target="#modal-image">
  <i class="glyphicon glyphicon-paperclip" style = "font-size:30px; text-align: center;"></i>
</button>
<button type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod">
  <i class="glyphicon glyphicon-camera" style = "font-size:30px; text-align: center;"></i>
</button>

<%= render 'modal_crop', form: form %>











</div>






<%= form.hidden_field :admin_user , :value => current_user.admin_user %>
<%= form.hidden_field :user_id ,:value =>  current_user.id %>




</div>
<hr>
<br>
<div class="row text-center">
<div class="col-md-12">
   <div class="actions">
    <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>

    
  </div>
  </div>
  </div>

  


<%end%>


</div>
  
</div>

<div class="modal fade" id="camMod" tabindex="-1" role="dialog" aria-labelledby="camMLb">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Camara</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 well text-center">
              <video id="video" width="440" height="280" autoplay></video>
              <canvas id="canvas" width="640" height="480" class="hide"></canvas>
            </div>
            <div class="text-center">
              <a class="btn btn-primary" id="snap" data-dismiss="modal"  data-type='1'>Tomar Foto</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
#patient_birth_date
{
  width:30% !important;
  display: inline-block;
}
.error
{
  color: red !important;
}
#patient_birth_date-error
{
    position: absolute;
    top: 62px;
    left: 24px;
 } 
</style>




<script type='text/javascript'>

$(document).on('turbolinks:load',function() {

  $('.chosen-select1').chosen(
        {

          allow_single_deselect: true,
          no_results_text: 'No hay resultados',
          width: '250px;',
          placeholder_text_single: "Seleccione una opción",
          placeholder_text_multiple: "Seleccione una varias opciones"

        });





$(document).ready(function(){
  $('#form').validate();
})




     var options =
     {
         thumbBox: '.thumbBox',
         spinner: '.spinner',
         imgSrc: '<%=@hola%>'
     }
   $('.btnCrop1').hide();
  $('.btnCrop').show();
    
  var cropper = $('.imageBox').cropbox(options);


  $("#patient_avatar").on('change', function(){
         var reader = new FileReader();
         reader.onload = function(e) {
             options.imgSrc = e.target.result;
            
             cropper = $('#avatarBox').cropbox(options);
             $('.btnCrop1').hide();
  $('.btnCrop').show();
         }
         reader.readAsDataURL(this.files[0]);
         this.files = [];
           
   
     });
 
 
     // Crop handler.
     $('.btnCrop').on('click', function(){
      var img = cropper.getDataURL();
      console.log(options.imgSrc + "alejandro");



      // Place the cropped image's datafile.
         $('.croppedAvatar').html('<img src="'+img+'" width="100%">');
 
         // Place it to the default image. The one that triggers the modal.
         $('#avatar').attr('src', img);
         $('.hd').val(img);
 



         // Place the datafile value in the hidden field
  $('#avatar_datafile').val(img);       
     });
 
     $('.btnZoomIn').on('click', function(){        
      cropper.zoomIn();         
     });
 
     $('.btnZoomOut').on('click', function(){         
      cropper.zoomOut();         
     });
 



  //Convierte en mayuscula la primera letra.
        $('#patient_first_name').change(function()

        {
        $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
        }
        )
        $('#patient_second_name').change(function()

        {
        $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
        }
        )
        $('#patient_first_last_name').change(function()

        {
        $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
        }
        )
        $('#patient_second_last_name').change(function()

        {
        $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
        }
        )


  


 // Apertura de Camara

 var localstream;
  var canvas   = document.getElementById("canvas");
  var context  = canvas.getContext("2d");
  var video    = document.getElementById("video");
  var videoObj = { "video": true };
 
  // for checking of camera and getting the stream.
  var loadChecking = function(){
    console.log("Video capture: ");
    if(navigator.getUserMedia) {
      navigator.getUserMedia(videoObj, function(stream) {
        stream.getTracks()[0].stop();
        console.log("Video capture1: ");
      }, errBack);
    } else if(navigator.webkitGetUserMedia) {
      navigator.webkitGetUserMedia(videoObj, function(stream){
        stream.getTracks()[0].stop();
        console.log("Video capture2: ");
      }, errBack);
    }
    else if(navigator.mozGetUserMedia) {
      navigator.mozGetUserMedia(videoObj, function(stream){
        stream.getTracks()[0].stop();
        console.log("Video capture3: ");
      }, errBack);
    }
  };
 
  // error handling.
  var errBack  = function(error) {
    $('.camBtn').hide(); // in case camera does not exists. hide the button.
    console.log("Video capture error: ", error.code);
  };
 
  // initiate function to detect.
  loadChecking();






// Load streaming once the modal opens.
$('#camMod').on('show.bs.modal', function (e) {
        console.log("Video capture8: ");
  var button = $(e.relatedTarget);
  $("#snap").data('type', button.data('type'));
  // Put video listeners into place
if(navigator.webkitGetUserMedia) { // WebKit-prefixed
    navigator.webkitGetUserMedia(videoObj, function(stream){
      console.log("Video capture5: ");
      video.src   = window.URL.createObjectURL(stream);
      localstream = stream;
      video.play();
      console.log("aquiiiiiiii")
    }, errBack);
  }
  else if(navigator.mozGetUserMedia) { // Firefox-prefixed
    navigator.mozGetUserMedia(videoObj, function(stream){
      console.log("Video capture6: ");
      video.src   = window.URL.createObjectURL(stream);
      localstream = stream;
      video.play();
      console.log("aquiiiiiiii")
    }, errBack);
  }
  console.log("camera on");
}).on('hide.bs.modal', function(e){
  video.pause();
  video.src = '';
  if(localstream)
    localstream.getTracks()[0].stop();
  console.log('camera off');
});
 


// Draw the image based on the streaming to a canvas.
$("#snap").click(function(){

  context.drawImage(video, 0, 0, 640, 480);
 
  // convert the content of the canvas to Data URI
  $datauri = $("#canvas")[0].toDataURL();

  $('#avatar').attr('src',$datauri);
   $('.hd').attr('value',$datauri);
   $('.croppedAvatar').html('<img src="'+$datauri+'" width="100%">');
  

 

    var options1 =
     {
         thumbBox: '.thumbBox',
         spinner: '.spinner',
         imgSrc: $datauri
     }
     cropper1 = $('.imageBox').cropbox(options1);
 console.log(cropper1 + "corepre");
  // From here you can place it on your hidden field
 $("#avatar_datafile").val($datauri);
 
 // [Optional] I prefer to close the modal once this is done. 
  $('#camMod').modal('hide')
  $('#modal-image').modal('show')
  $('.btnCrop').hide();
  $('.btnCrop1').show();
});


$('.btnCrop1').on('click', function(){
  console.log(cropper1 + "corepre");
      var img1 = cropper1.getDataURL();
      

console.log("hollaaaa")
      // Place the cropped image's datafile.
         $('.croppedAvatar').html('<img src="'+img1+'" width="100%">');
 
         // Place it to the default image. The one that triggers the modal.
         $('#avatar').attr('src', img1);
         $('.hd').val(img1);
 



     
     });
 
     $('.btnZoomIn').on('click', function(){        
      cropper1.zoomIn();         
     });
 
     $('.btnZoomOut').on('click', function(){         
      cropper1.zoomOut();         
     });

  $('.adjBtn').on('click', function(){        
      $('#patient_avatar').show();         
     });
 
     $('.camBtn').on('click', function(){         
       $('#patient_avatar').hide();        
     });





 });
 




</script>


