<% if action_name == "edit"%>
    <div id='cssmenu' style="margin-top: 40px;">
      <ul>
        <li><%= link_to "Inicio", root_path%></li> 
        <li><%= link_to "Pacientes", patients_path%></li> 
        <li><%= link_to "#{@patient.first_name} #{@patient.first_last_name}", patient_path(@patient.id)%></li>
        <li class="active"><%= link_to "Editar Paciente"%></label><li>

      </ul>
    </div>

<%else%>

    <div id='cssmenu' style="margin-top: 40px;">
      <ul>
        <li><%= link_to "Inicio", root_path%></li> 
        <li><%= link_to "Pacientes", patients_path%></li>
        <li class="active"><%= link_to "Registrar Paciente"%></label><li>

      </ul>
    </div>

<% end -%>

<div class="container">
   <br>
   <div class = "row row-form" style="background:white;">
      <br>
      <%= form_with(model: patient, local: true, id:"form") do |form| %>
      <% if patient.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
         <ul>
            <% patient.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <h2 class="h1-tittle" style="background-color: #f5f5f5;;"><%=action_type%> Paciente</h2>
      <br>
      <div class="row">
         <div class="col-md-3">
          <%= form.label "Primer Nombre" %> *
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user" style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :first_name, id: :patient_first_name, class: "form-control required", :title => "Es un Campo Obligatorio", id: "cambio"  %>
            </div>
         </div>
         <div class="col-md-3">
            <%= form.label "Segundo Nombre" %>
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user" style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :second_name, id: :patient_second_name , class: "form-control ", :title => "Es un Campo Obligatorio", id: "cambio1"%>
            </div>
         </div>
         <div class="col-md-3">
          <%= form.label "Primer Apellido" %> *
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user" style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :first_last_name, id: :patient_first_last_name, class: "form-control  required", :title => "Es un Campo Obligatorio", id: "cambio2" %>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Segundo Apellido" %>
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user" style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :second_last_name, id: :patient_second_last_name , class: "form-control ", :title => "Es un Campo Obligatorio", id: "cambio3"%>
             </div>
            </div>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-3">
            <div class="form-group">
               <%val1 = "" 
                  action_name == "edit" ? val1 = @patient.document_type : val1 = "" %>
               <%= form.label "Tipo de Documento" %>
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-id-card" style = "color: #f1f1f1;" ></i></span>
               <%= form.select 'document_type', options_for_select(@patient.select_documento, val1), {},{:class => 'form-control'}%>
             </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Documento (Registrar sin puntos)" %> *
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-id-card" style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :document, id: :patient_document , class: "form-control", :title => "Es un Campo Obligatorio", id: "cambio4" %>
             </div>
            </div>
         </div>
         <div class="col-md-6 sir">
            <div class="form-group">
               <%= form.label "Fecha de Nacimiento" %> * <br>
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-calendar-alt"  style = "color: #f1f1f1;" ></i></span>
               <%= form.date_select :birth_date,{
                  :start_year =>
                  Time.now.year,
                  :end_year => 1900,
                  :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
                  :use_short_month => true,
                  :order => [:day, :month, :year],
                  :prompt => {:month => 'Mes', :day => 'Día', :year => 'Año'}},
                  {:class => 'year form-control line1',
                  :id => 'patient_birth_date' , :title => "Es un Campo Obligatorio" }
                  %>
                </div>
            </div>
         </div>
      </div>
    <br>
     <hr>
      <div class="row">
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Ciudad de Residencia" %> *
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-building"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :city, id: :patient_city , class: "form-control required", :title => "Es un Campo Obligatorio", id: "cambio5"%>
            </div>
          </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Dirección de Residencia" %> *
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-home"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :address, id: :patient_address , class: "form-control required", :title => "Es un Campo Obligatorio", id: "cambio6"%>
            </div>
          </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Teléfono Fijo" %> 
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-phone"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :phone, id: :patient_phone ,class: "form-control", :title => "Es un Campo Obligatorio", id: "cambio7" %>
             </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Teléfono Móvil" %> 
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-mobile-alt"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :movil, id: :patient_movil  , class: "form-control", :title => "Es un Campo Obligatorio", id: "cambio8"%>
            </div>
          </div>
         </div>
         </div>
         <br>
         <div class="row">
           
         
         <div class="col-md-3">
               <%= form.label "Email (Si no tiene dejar en blanco)" %>
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-at"  style = "color: #f1f1f1;" ></i></span>
               <%= form.email_field :email, id: :patient_email ,class: "form-control ", :title => "Formato de email invalido", id: "cambio9"%>
            </div>
         </div>
         <!--<div class="col-md-3">
            <div class="form-group">
             
              <%= form.label "Grado Escolar" %>
               <%val1 = "" 
               action_name == "edit" ? val4 = @patient.school_grade : val4 = "" %>
               <%= form.select 'school_grade', options_for_select(@patient.select_grado, val4), {},{:class => 'form-control'}%>
            </div></div>-->
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Ocupación" %> 
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-briefcase"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :occupation, id: :patient_occupation , class: "form-control ", :title => "Es un Campo Obligatorio", id: "cambio10" %>
             </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Profesión" %> 
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-briefcase"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :profession, id: :patient_profession , class: "form-control ", :title => "Es un Campo Obligatorio", id: "cambio11"%>
             </div>
            </div>
         </div>
      </div>
      <hr>
      <div class="col-md-12">
         <h3>Informacion Basica</h3>
      </div>
      <div class="row">
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Género" %>
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-transgender"  style = "color: #f1f1f1;" ></i></span>
               <%val1 = "" 
                  action_name == "edit" ? val1 = @patient.gender : val1 = "" %>
               <%= form.select 'gender', options_for_select(@patient.select_genero, val1), {},{:class => 'form-control'}%>
             </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Estado Civil" %>
                 <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"  style = "color: #f1f1f1;" ></i></span>
               <%val1 = "" 
                  action_name == "edit" ? val1 = @patient.civil_status : val1 = "" %>
               <%= form.select 'civil_status', options_for_select(@patient.select_estado_civil, val1), {},{:class => 'form-control'}%>
             </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Grupo Sanguíneo" %>
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-medkit"  style = "color: #f1f1f1;" ></i></span>
               <%val2 = "" 
                  action_name == "edit" ? val2 = @patient.blood_type : val2 = "" %>
               <%= form.select 'blood_type', options_for_select(@patient.select_sangre, val2), {},{:class => 'form-control'}%>
             </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Grupo Étnico" %>
                <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-users"  style = "color: #f1f1f1;" ></i></span>
               <%val3 = "" 
                  action_name == "edit" ? val3 = @patient.ethnic_group : val3 = "" %>
               <%= form.select 'ethnic_group', options_for_select(@patient.select_grupo_etnico, val3), {},{:class => 'form-control'}%>
             </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Eps" %><br>
                  <div class="field_hpc">
               <%= render "field_hpc" , form: form  %>  
              </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <%= form.label "Convenio" %><br>
                  <div class="field_agreement">
               <%= render "field_agreement" , form: form  %>  
              </div>
            </div>
         </div>
     
         <div class="col-md-3">
          <%val5 = "" 
                  action_name == "edit" ? val5 = @patient.children : val5 = "" %>
            <%= form.label "Tienes Hijos?" %>
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"  style = "color: #f1f1f1;" ></i></span>
               <%= form.select 'children', options_for_select(["No", "Si"], val5), {},{:class => 'form form-control select', id:"principal"}%>
            </div>
         </div>
         <div class="col-md-3" style="display: none;" id="mostrar">
          <%val6 = "" 
                  action_name == "edit" ? val6 = @patient.children : val6 = "" %>
            <%= form.label "Cantidad de Hijos" %>
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"  style = "color: #f1f1f1;" ></i></span>
                <%= form.select 'number_children', options_for_select(["1", "2", "3", "4", "5", "6", "7", "8"], val1), {},{:class => 'form form-control select'}%>
            </div>
         </div>

      </div>
      <hr>
      <div class="row">
         <div class="col-md-3">
            <%= form.label "Nombre de Contacto" %> *
               <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :contact_name, id: :contact_name , class: "form-control  required", :title => "Es un Campo Obligatorio", id: "cambio12"%>
            </div>
         </div>
         <div class="col-md-3">
            <%= form.label "Teléfono de Contacto" %> *
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-phone"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :contact_phone, id: :patient_contact_phone , class: "form-control required", :title => "Es un Campo Obligatorio", id: "cambio13"%>
            </div>
         </div>
         <div class="col-md-3">
            <%= form.label "Parentesco del Contacto" %> *
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"  style = "color: #f1f1f1;" ></i></span>
               <%= form.text_field :contact_relationship, id: :patient_contact_relationship , class: "form-control required", :title => "Es un Campo Obligatorio", id: "cambio14"%>
            </div>
         </div>
         <%if action_name == "edit"%>
           <div class="col-md-3">
        <div class="form-group">
               <%= form.label "Trasladar Paciente" %><br>
               <%= form.select :user_id,
                  @users.map { |u| ["#{u.names}", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select1 form-control ch'  }
                  %>
            </div>
    </div>  <%end%>
         <div class="col-md-3">
         </div>
      </div>
      <hr>
      <div class="row">
         <div class="col-md-12 text-center">
            <% action_name == "edit" ? @hola = @patient.avatar.url : @hola = "" %>
            <image  src="<%=@hola%>" style="width:12%;display:inline-block" id="avatar" class="thumbnail" data-toggle="modal" data-target=".bs-example-modal-img" />
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-type="1" data-target="#modal-image">
            <i class="glyphicon glyphicon-paperclip" style = "font-size:20px; text-align: center;"></i>
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-type="1" data-target="#camMod">
            <i class="glyphicon glyphicon-camera" style = "font-size:20px; text-align: center;"></i>
            </button>
            <%= render 'modal_crop', form: form %>
         </div>
          <%if action_name == "new"%>
         <%= form.hidden_field :admin_user , :value => current_user.admin_user %>
         <%= form.hidden_field :user_id ,:value =>  current_user.id %>
          <% end -%>
      </div>
      <hr>
      <br>
      <div class="row text-center">
         <div class="col-md-12">
            <div class="actions">
               <%= form.submit "Guardar", class: "btn btn-primary " %> 
               <%= link_to "Cancelar", patients_path, class: "btn btn-default"%>
            </div>
         </div>
      </div>
      <% end -%>
   </div>
</div>

<div class="modal fade" id="camMod" tabindex="-1" role="dialog" aria-labelledby="camMLb">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Cámara</h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-12">
                  <div class="col-md-12 well text-center">
                     <video id="video" width="440" height="280" autoplay></video>
                     <canvas id="canvas" width="640" height="480" class="hide"></canvas>
                  </div>
                  <div class="text-center">
                     <a class="btn btn-primary" id="snap" data-dismiss="modal"  data-type='1'>Tomar Foto</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%= render "form_hpc"%>
<%= render "form_agreement"%>
<style>
   #patient_birth_date
   {
   width:30% !important;
   display: inline-block;
   }
   .error
   {
   color: red !important;
   }
   #patient_birth_date-error
   {
   position: absolute;
   top: 62px;
   left: 24px;
   } 
    .input-group-addon{
      background-color: #5EB8DF;
      border-color: #5EB8DF;
    }

    .btn{
      font-size: 20px;
    }
    .btn-default{
      background-color: #f1f1f1;
      color: #939393;
    }
</style>
<script type='text/javascript'>

    if ("<%=action_name%>" == "edit" && $('#principal').val() == "Si")

    {
      $('#mostrar').show() 
      
      

    }

$('#principal').change(function(){

    if ($(this).val() == "Si")
          {    
                console.log($(this).val())
               $('#mostrar').fadeIn();
          }
        else
          {
             console.log($(this).val() + "no entro")
                $('#mostrar').fadeOut();
          } 


})




 $( "#cambio" ).change(function () {
    var cambio =  $( "#cambio" ).val()
    if (cambio == "prueba") {
       $( "#cambio" ).val("Prueba"); 
      $( "#cambio1" ).val("Rodrigo"); 
      $( "#cambio2" ).val("Salazar")
      $( "#cambio3" ).val("Rivera")
      $( "#cambio4" ).val("1037521332"); 
      $( "#cambio5" ).val("Medellin");
      $( "#cambio6" ).val("Cra 80 20-30");
      $( "#cambio7" ).val("1294532"); 
      $( "#cambio8" ).val("3144566768");
      $( "#cambio9" ).val("rodrigo@hotmail.com");
      $( "#cambio10" ).val("ingeniero de pruebas"); 
      $( "#cambio11" ).val("ING Sistemas");
      $( "#cambio12" ).val("Antonio");
      $( "#cambio13" ).val("520 30 70"); 
      $( "#cambio14" ).val("Esposa");
      $("select[name*='patient[birth_date(3i)]']").val("5");
      $("select[name*='patient[birth_date(2i)]']").val("6");
      $("select[name*='patient[birth_date(1i)]']").val("1997");
    }else if ( cambio == "niño") {
      $( "#cambio" ).val("Prueban"); 
      $( "#cambio1" ).val("Cristian"); 
      $( "#cambio2" ).val("Moncada")
      $( "#cambio3" ).val("Restrepo")
      $( "#cambio4" ).val("1023476456"); 
      $( "#cambio5" ).val("Bogota");
      $( "#cambio6" ).val("Cra 70 50-40");
      $( "#cambio7" ).val("1887654"); 
      $( "#cambio8" ).val("3144566768");
      $( "#cambio9" ).val("cristian@hotmail.com");
      $( "#cambio10" ).val("Estudiante"); 
      $( "#cambio11" ).val("Estudiante");
      $( "#cambio12" ).val("santiago");
      $( "#cambio13" ).val("520 30 70"); 
      $( "#cambio14" ).val("Madre");
      $("select[name*='patient[birth_date(3i)]']").val("5");
      $("select[name*='patient[birth_date(2i)]']").val("6");
      $("select[name*='patient[birth_date(1i)]']").val("2010");
    }
  })
   $(document).on('turbolinks:load',function() {
   
   
   
   
   
   $(document).ready(function(){
     $('#form').validate();
     console.log($('#patient_birth_date').val()); 
     $('.chosen-select1').chosen(
           {
   
             allow_single_deselect: true,
             no_results_text: 'No hay resultados',
             width: '230px',
             height: '50px',
             placeholder_text_single: "Seleccione una opción",
             placeholder_text_multiple: "Seleccione una varias opciones"
   
           });
   
   })
   
   
   
   
        var options =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: '<%=@hola%>'
        }
      $('.btnCrop1').hide();
     $('.btnCrop').show();
       
     var cropper = $('.imageBox').cropbox(options);
   
   
     $("#patient_avatar").on('change', function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
               
                cropper = $('#avatarBox').cropbox(options);
                $('.btnCrop1').hide();
     $('.btnCrop').show();
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
              
      
        });
    
    
        // Crop handler.
        $('.btnCrop').on('click', function(){
         var img = cropper.getDataURL();
         console.log(options.imgSrc + "alejandro");
   
   
   
         // Place the cropped image's datafile.
            $('.croppedAvatar').html('<img src="'+img+'" width="100%">');
    
            // Place it to the default image. The one that triggers the modal.
            $('#avatar').attr('src', img);
            $('.hd').val(img);
    
   
   
   
            // Place the datafile value in the hidden field
     $('#avatar_datafile').val(img);       
        });
    
        $('.btnZoomIn').on('click', function(){        
         cropper.zoomIn();         
        });
    
        $('.btnZoomOut').on('click', function(){         
         cropper.zoomOut();         
        });
    
   
   
   
     //Convierte en mayuscula la primera letra.
           $('#patient_first_name').change(function()
   
           {
           $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
           }
           )
           $('#patient_second_name').change(function()
   
           {
           $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
           }
           )
           $('#patient_first_last_name').change(function()
   
           {
           $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
           }
           )
           $('#patient_second_last_name').change(function()
   
           {
           $(this).val($(this).val().replace(/\b\w/g, l => l.toUpperCase()))
           }
           )
   
   
     
   
   
    // Apertura de Camara
   
    var localstream;
     var canvas   = document.getElementById("canvas");
     var context  = canvas.getContext("2d");
     var video    = document.getElementById("video");
     var videoObj = { "video": true };
    
     // for checking of camera and getting the stream.
     var loadChecking = function(){
       console.log("Video capture: ");
       if(navigator.getUserMedia) {
         navigator.getUserMedia(videoObj, function(stream) {
           stream.getTracks()[0].stop();
           console.log("Video capture1: ");
         }, errBack);
       } else if(navigator.webkitGetUserMedia) {
         navigator.webkitGetUserMedia(videoObj, function(stream){
           stream.getTracks()[0].stop();
           console.log("Video capture2: ");
         }, errBack);
       }
       else if(navigator.mediaDevices.getUserMedia) {
         navigator.mediaDevices.getUserMedia(videoObj, function(stream){
           stream.getTracks()[0].stop();
           console.log("Video capture3: ");
         }, errBack);
       }
     };
    
     // error handling.
     var errBack  = function(error) {
       $('.camBtn').hide(); // in case camera does not exists. hide the button.
       console.log("Video capture error: ", error.code);
     };
    
     // initiate function to detect.
     loadChecking();
   
   
   
   
   
   
   // Load streaming once the modal opens.
   $('#camMod').on('show.bs.modal', function (e) {
           console.log("Video capture8: ");
     var button = $(e.relatedTarget);
     $("#snap").data('type', button.data('type'));
     // Put video listeners into place
   if(navigator.webkitGetUserMedia) { // WebKit-prefixed
       navigator.webkitGetUserMedia(videoObj, function(stream){
         console.log("Video capture5: ");
         video.src   = window.URL.createObjectURL(stream);
         localstream = stream;
         video.play();
         console.log("aquiiiiiiii")
       }, errBack);
     }
     else if(navigator.mediaDevices.getUserMedia) { // Firefox-prefixed
       navigator.mediaDevices.getUserMedia(videoObj, function(stream){
         console.log("Video capture6: ");
         video.src   = window.URL.createObjectURL(stream);
         localstream = stream;
         video.play();
         console.log("aquiiiiiiii")
       }, errBack);
     }
     console.log("camera on");
   }).on('hide.bs.modal', function(e){
     video.pause();
     video.src = '';
     if(localstream)
       localstream.getTracks()[0].stop();
     console.log('camera off');
   });
    
   
   
   // Draw the image based on the streaming to a canvas.
   $("#snap").click(function(){
   
     context.drawImage(video, 0, 0, 640, 480);
    
     // convert the content of the canvas to Data URI
     $datauri = $("#canvas")[0].toDataURL();
   
     $('#avatar').attr('src',$datauri);
      $('.hd').attr('value',$datauri);
      $('.croppedAvatar').html('<img src="'+$datauri+'" width="100%">');
     
   
    
   
       var options1 =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: $datauri
        }
        cropper1 = $('.imageBox').cropbox(options1);
    console.log(cropper1 + "corepre");
     // From here you can place it on your hidden field
    $("#avatar_datafile").val($datauri);
    
    // [Optional] I prefer to close the modal once this is done. 
     $('#camMod').modal('hide')
     $('#modal-image').modal('show')
     $('.btnCrop').hide();
     $('.btnCrop1').show();
   });
   
   
   $('.btnCrop1').on('click', function(){
     console.log(cropper1 + "corepre");
         var img1 = cropper1.getDataURL();
         
   
   console.log("hollaaaa")
         // Place the cropped image's datafile.
            $('.croppedAvatar').html('<img src="'+img1+'" width="100%">');
    
            // Place it to the default image. The one that triggers the modal.
            $('#avatar').attr('src', img1);
            $('.hd').val(img1);
    
   
   
   
        
        });
    
        $('.btnZoomIn').on('click', function(){        
         cropper1.zoomIn();         
        });
    
        $('.btnZoomOut').on('click', function(){         
         cropper1.zoomOut();         
        });
   
     $('.adjBtn').on('click', function(){        
         $('#patient_avatar').show();         
        });
    
        $('.camBtn').on('click', function(){         
          $('#patient_avatar').hide();        
        });
   
   
   
   
   
    });
    
   
   
   
   
</script>

<style>
.form-control {
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 0px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.chosen-container-single .chosen-single {
    padding: 0px 0 0px 9px !important;
    height: 30px !important;
   border-radius: 0px !important;
}

@media only screen and (max-width: 600px) {

    .col-md-3 {
        margin-bottom: 15px;
    }

    .h1-tittle{
      font-size: 20px;
    }

    #patient_birth_date{
      width: 75px !important;
    }
    
}

</style>
    