
<div class="row margin-top-40" >
   <div class="col-md-12" style="padding-left: 50px;">
      <%= link_to "inicio", root_path%>

   </div>
</div>




<div class="container" >

<div class="row">

<div class="col-md-12 export-icons text-right">
  
     
  
</div>
</div>

<br>
   <div class="row"  >

      <div class = "row title-table">
         <div class = "col-md-8">
            <p class="title-h2"><%=@type%>PACIENTES   <span class="label label-primary"><%=@patients.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @patients, :entry_name => 'Pacientes' %></span> </p>
         </div>
       <!--  <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @patients%>
         </div>-->
         <div class = "col-md-4 text-right">
           
            <%= link_to 'Nuevo Paciente', new_patient_path, class: "btn btn-primary" if current_user.rol.create_patient  %>
         </div>
      </div>
      <br>
      <br>
      <div class = "row busqueda hidden-xs hidden-sm">
   <div class = "col-md-9">
      <div class="form-group fil">
         <%= form_tag(@route, :method => "get", id: "search-form") do %>
   
  <%= text_field_tag :search, params[:search], placeholder: "Nombre, Apellido, Documento", class: "form-control search" %>
   <%=select_tag 'search1', options_for_select(get_users.collect{ |u| ["#{u.names}", u.id, ] }),{:class => "form-control search psi", include_blank: "Psicologo" , placeholder: "hola"}%>
 

  
      
         <%= submit_tag "Buscar", :class => "btn btn-primary" %>
            <%= link_to "Cancelar Filtros", @route, style: "    margin-left: 20px;
    
    position: relative;
    top: 8px;"%>
    
         <% end %>
      </div>
   </div>
   <div class="col-md-3 text-right">
   
<% if action_name == "index" %>
        <%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/file-formats-4-1/100/file_formats_4_csv-512.png"), patients_csv_path(format: "csv"), class: "icon-export"%>

       <%= link_to image_tag("http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png"), patients_path(:format => "pdf"), target:"_blank", class: "icon-export"%>
     <%end%>

  <% if action_name == "all_patients" %>
        <%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/file-formats-4-1/100/file_formats_4_csv-512.png"), patients_csv_all_path(format: "csv"), class: "icon-export"%>

       <%= link_to image_tag("http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png"), all_patients_path(:format => "pdf"), target:"_blank", class: "icon-export"%>
     <%end%>   
   </div>

</div>


      <div class = "row"> 
        <div class="col-md-12">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Fecha de Nacimiento</th>
      <th>Edad</th>
      <th>Psicologo</th>
      <th>Estado</th>

    
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %> <%= patient.second_name %></td>
        <td><%= patient.first_last_name %> <%= patient.second_last_name %></td>
         <td><%= patient.document_type%>: <%= patient.document%></td>
        <td><%= patient.birth_date %></td>
         <td><%= patient.age %> Años</td>
                  <td><%= patient.user.names %></td>
             <td class="text-center"><%= get_state(patient.state).html_safe %></td>
        <td>
        <%if current_user.rol.show_patient%>
        <%= link_to  patient, class: "btnl btn-primary" do %>
             <i class="fa fa-eye" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
      <%end%>
        <%if current_user.rol.edit_patient%>
          <%= link_to  edit_patient_path(patient), class: "btnl btn-primary" do%>
             <i class="fas fa-edit" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
<%end%>
       <%if current_user.rol.delete_patient%>
      <%= link_to  patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btnl btn-danger" do%>
             <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%><%end%>
</td>
               </tr>
               <%end%>
            </tbody>
         </table>
         </div>
      </div>
   </div>
   <div class="row">
        <div class = "col-md-12 paginate text-center title-table1">
            <%= will_paginate @patients%>
        </div>
     
   </div>
</div>

<style>
.table td
{ /*border: 1px solid #e8e8e8;*/
  padding: 3px 5px !important;
  vertical-align: initial !important;
  border-bottom: 1px solid #c1c1c1;
  background: #fafafa;
  font-size: 11px;
}

.table th{
    padding: 6px 5px !important;
    vertical-align: initial !important;

}
.icon-export img
{
  width: 30px;
}  
.search
   {
   width:250px !important;
   height: 35px!important;
   display:inline-block !important;
   }
</style>

<script>
  $('.psi').val("<%=params[:search1]%>") ;
</script>