


<% if action_name == "index" 
  a = "btn btn-primary"
  b = ""
else
  b = "btn btn-primary"
  a = ""

  end%>

<div class="container">
<%if current_user.rol.show_all_patient%>
<div class="row">
  <div class = "col-md-6">
  
            <%= link_to 'Mis Pacientes', patients_path, class: "#{a}"  %>&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'Todos los Pacientes', all_patients_path, class: "#{b}"  %>
            
         </div>
<div class="col-md-6 export-icons text-right">
   <%= link_to image_tag("http://www.pvhc.net/img119/pjakzpmufndbotncoiml.png"), patients_csv_path(format: "csv")%>
       <%= link_to image_tag("http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png"), patients_path(:format => "pdf"), target:"_blank"%>
     
  
</div>
</div>
<%end%>
<br>
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p><%=action_name == "index" ? "Mis " : "Todos los " %>Pacientes <span class="label label-primary"><%=@patients.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @patients, :entry_name => 'Pacientes' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @patients%>
         </div>
         <div class = "col-md-2">
           
            <%= link_to 'Nuevo Paciente', new_patient_path, class: "btn btn-primary" if current_user.rol.create_patient  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Fecha de Nacimiento</th>
      <th>Edad</th>
      <th>Estado</th>


      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %> <%= patient.second_name %></td>
        <td><%= patient.first_last_name %> <%= patient.second_last_name %></td>
         <td><%= patient.document_type%>: <%= patient.document%></td>
        <td><%= patient.birth_date %></td>
         <td><%= patient.age %> Años</td>
             <td class="text-center"><%= get_state(patient.state).html_safe %></td>
        <td>
        <%if current_user.rol.show_patient%>
        <%= link_to  patient, class: "btnl btn-primary" do %>
             <i class="fa fa-eye" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
      <%end%>
        <%if current_user.rol.edit_patient%>
          <%= link_to  edit_patient_path(patient), class: "btnl btn-primary" do%>
             <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
<%end%>
       <%if current_user.rol.delete_patient%>
      <%= link_to  patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btnl btn-danger" do%>
             <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%><%end%>
</td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>

<style>
.table td
{ border: 1px solid #e8e8e8;
  padding: 3px 5px !important;
  vertical-align: initial !important;

}

.table th{
    padding: 6px 5px !important;
    vertical-align: initial !important;

}
.export-icons img
{
  width: 40px;
}  
</style>