



<div class="container">
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p>Pacientes <span class="label label-primary"><%=@patients.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @patients, :entry_name => 'Pacientes' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @patients%>
         </div>
         <div class = "col-md-2">
            <%= link_to 'Nuevo Paciente', new_patient_path, class: "btn btn-primary"  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Fecha de Nacimiento</th>
      <th>Edad</th>


      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %> <%= patient.second_name %></td>
        <td><%= patient.first_last_name %> <%= patient.second_last_name %></td>
         <td><%= patient.document_type%>: <%= patient.document%></td>
        <td><%= patient.birth_date %></td>
         <td><%= patient.age %> Años</td>
        <td><%= link_to  patient, class: "btnl btn-primary" do%>
             <i class="fa fa-eye" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
      
          <%= link_to  edit_patient_path(patient), class: "btnl btn-warning" do%>
             <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>

       
      <%= link_to  patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btnl btn-danger" do%>
             <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
</td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>