

<div class="row margin-top-40" >
   <div class="col-md-12" style="padding-left: 10px;">
      <div id='cssmenu'>
       <ul>
          <li><%= link_to "Inicio", root_path%></li> 
          <li class="active"><%= link_to "Pacientes", patients_path%></li>
      </ul>
   </div>
</div>



<div class="container" >

<div class="row">

<div class="col-md-12 export-icons text-right">
  
     
  
</div>
</div>

<br>
   <div class="row" style="    margin-left: 10px;"  >

      <div class = "row title-table hidden-xs hidden-sm" >
         <div class = "col-md-6">
            <p class="title-h2"><%=@type%>PACIENTES   <span class="label label-primary"><%=@patients.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @patients, :entry_name => 'Pacientes' %></span> </p>
         </div>
       <!--  <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @patients%>
         </div>-->
         <div class = "col-md-6 text-right">
           
            
   

            <div class="dropdown" style="display:inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-download" aria-hidden="true"></i> Exportar
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% if action_name == "index" %>
                                  <li><%= link_to image_tag("https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/244/file_formats_4_csv-512.png") + " Excel", patients_csv_path(format: "csv"), class: "icon-export"%></li>

                                <li><%= link_to image_tag("https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/243/52ff0e80b07d28b590bbc4b30befde52.png")+ " PDF", patients_path(:format => "pdf"), target:"_blank", class: "icon-export"%></li>
                              <%end%>

                            <% if action_name == "all_patients" %>
                                <li>  <%= link_to image_tag("https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/244/file_formats_4_csv-512.png")+ " Excel" , patients_csv_all_path(format: "csv"), class: "icon-export"%></li>

                              <li>  <%= link_to image_tag("https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/243/52ff0e80b07d28b590bbc4b30befde52.png"), all_patients_path(:format => "pdf")+ " PDF", target:"_blank", class: "icon-export"%></li>
                              <%end%>  
              </ul>
            </div>

            <%= link_to 'Nuevo Paciente', new_patient_path, class: "btn btn-primary" if current_user.rol.create_patient  %>


         </div>
      </div>
      <hr>

    <div class = "col-md-12" style="padding: 0px;">
      <div class="form-group fil">
         <%= form_tag(@route, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Nombre, Apellido, Documento", class: "form-control search" %>      
         <%= submit_tag "Buscar", :class => "btn btn-primary  btn_search" %>
            <%if params[:commit]%>    
            <%= link_to "Cancelar Filtros", @route, style: "    margin-left: 20px;position: relative;top: 8px;"%>
            <% end %>
         <% end %>
      </div>
   </div>
  

      <div class = "row"> 
        <div class="col-md-12 hidden-xs hidden-sm">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      <th>Foto</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Documento</th>
      <th>Fecha de Nacimiento</th>
      <th>Edad</th>
      <th>Estado</th>
      <th>¿Historia?</th>



      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
      <% imagen = !patient.avatar.blank? ? patient.avatar_url : "https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/242/default-user-300x300.png" %>
      <td><%= image_tag imagen, style: "border-radius: 60px;width:50px" %></td>
       <td><%= patient.first_name %> <%= patient.second_name  %></td>
 
        <td><%= patient.first_last_name %> <%= patient.second_last_name %></td>
         <td><%= patient.document_type%>: <%= patient.document%></td>
        <td><%= patient.birth_date %></td>
         <td><%= patient.age %> Años</td>
             <td class="text-center"><%= get_state(patient.state).html_safe %></td>
              <td class="text-center"><%= get_state(patient.clinic_histories.count != 0).html_safe %></td>
        <td>
          <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-list"></i>  <i class="fas fa-sort-down" style="font-size: 19px;"></i>
                   
            </button>
           
              <div class="dropdown-menu dropdown-menu-right" style="font-size: 14px; min-width: 230px;"  >
                 <ul style="padding: 0px;">

                  <ol style="padding-left: 5px; padding-top: 4px;"><%= link_to patient, style: "width: 20px !important;" do%>
                  <i class="fas fa-address-card" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Gestionar Historia Clínica

                  <% end -%>
                  </ol>

                  <%if patient.clinic_histories.any? %>
                  <ol style="padding-left: 5px;"><%= link_to patient_clinic_history_path(patient.id, patient.clinic_histories.first.id), style: "width: 20px !important;" do%>
                  <i class="fas fa-address-book" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Ver Historia Clínica
                  <% end -%>
                  </ol>
                  <%end%>


                  <%if current_user.rol.edit_patient%>
                    <ol style="padding-left: 5px;"><%= link_to edit_patient_path(patient) do %>
                    <i class="fas fa-user-edit" style="padding-left: 5px; color: #306C95;"></i> Editar Paciente
                    <% end -%></ol>
                  <% end -%>

                  <%if current_user.rol.delete_patient%>
                      <ol style="padding-left: 5px;"><%= link_to patient, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} do %>
                      <i class="fas fa-trash-alt" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Eliminar Paciente
                      <% end -%></ol>
                  <% end -%>

                 </ul>
              </div>
             </div>

              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>


  </div>

<div class="container hidden-md hidden-lg ">
  <div class="row">
    <div class="col-md-10">
      <div class="thumbnail">
        <div class="row" style="margin-top: 10px;">
            <h5 align="center" style="font-size: 25px;">Pacientes</h5>
            <hr>
        </div>
        <br>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <% @patients.each do |patient| %>
            <li class="list-group-item">
              <% imagen = !patient.avatar.blank? ? patient.avatar_url : "https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/242/default-user-300x300.png" %>
              <%= image_tag imagen, style: "border-radius: 60px;width:50px" %>
              <b><%= patient.first_name %> <%= patient.second_name  %></b>
              <div class="btn-group" style="float: right;">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-list"></i>  <i class="fas fa-sort-down" style="font-size: 19px;"></i>
                   
            </button>
           
              <div class="dropdown-menu dropdown-menu-right" style="font-size: 14px; min-width: 230px;"  >
                 <ul style="padding: 0px;">

                  <ol style="padding-left: 5px; padding-top: 4px;"><%= link_to patient, style: "width: 20px !important;" do%>
                  <i class="fas fa-address-card" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Gestionar Historia Clinica

                  <% end -%>
                  </ol>

                  <%if patient.clinic_histories.any? %>
                  <ol style="padding-left: 5px;"><%= link_to patient_clinic_history_path(patient.id, patient.clinic_histories.first.id), style: "width: 20px !important;" do%>
                  <i class="fas fa-address-book" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Ver Historia Clinica
                  <% end -%>
                  </ol>
                  <%end%>


                  <%if current_user.rol.edit_patient%>
                    <ol style="padding-left: 5px;"><%= link_to edit_patient_path(patient) do %>
                    <i class="fas fa-user-edit" style="padding-left: 5px; color: #306C95;"></i> Editar Paciente
                    <% end -%></ol>
                  <% end -%>

                  <%if current_user.rol.delete_patient %>
                      <ol style="padding-left: 5px;"><%= link_to patient, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} do %>
                      <i class="fas fa-trash-alt" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Eliminar Paciente
                      <% end -%></ol>
                  <% end -%>

                 </ul>
              </div>
             </div><br><br>
              <b style="margin-right: 5px;"><%= patient.document_type%>:</b> <%= patient.document%>
            </li>
          <% end -%>       
        </div>

        <div class="row">
          <hr>
            <div class="col-md-12" style="padding: 0px; margin-bottom: 10px;">

            <%= link_to "Nuevo Paciente",new_patient_path, class: "btn btn-primary new" %>
              <div class="dropdown" style="display:inline-block">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-download" aria-hidden="true"></i> Exportar
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% if action_name == "index" %>
                <li><%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/file-formats-4-1/100/file_formats_4_csv-512.png") + " ", patients_csv_path(format: "csv"), class: "icon-export"%></li>

                <li><%= link_to image_tag("https://www.codot.gov/business/civilrights/ada/assets/adobe-pdf-icon.png/image_preview")+ "", patients_path(:format => "pdf"), target:"_blank", class: "icon-export"%></li>
                <%end%>

                <% if action_name == "all_patients" %>
                <li><%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/file-formats-4-1/100/file_formats_4_csv-512.png")+ " Excel" , patients_csv_all_path(format: "csv"), class: "icon-export"%></li>

                <li><%= link_to image_tag("http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png"), all_patients_path(:format => "pdf")+ " PDF", target:"_blank", class: "icon-export"%></li>
                <%end%>  
              </ul>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



       <div class="row">
        <div class = "col-md-12 paginate text-center title-table1">
            <%= will_paginate @patients%>
        </div>
   </div>
  </div>

<style>


@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 900px) {

} 


@media only screen and (max-width: 1000px) {
  
}


.table td
{ /*border: 1px solid #e8e8e8;*/
  padding: 3px 5px !important;
  vertical-align: initial !important;
  border-bottom: 1px solid #c1c1c1;
  background: #fafafa;
  font-size: 11px;
}

.table th{
    padding: 6px 5px !important;
    vertical-align: initial !important;


}
.icon-export img
{
  width: 30px;
}  
.search
   {
   width:250px !important;
   height: 34px!important;
   display:inline-block !important;
   }

   .btn_search
   {
    position: relative;
    left: -4px;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 10px 7px 10px;
   }
   .dropdown-menu>li>a {
      color:gray;
   }

   .btn-default {
    color: #277394;
    background-color: #fff;
    border-color: #ccc;
}

.new {
    margin-left: 31px;
}


.thumbnail{
  border: none;
}


ol{
  padding-bottom: 4px;
}
</style>