<div class="row" style="margin-left: 0px !important;
   margin-right: 0px !important;">
   <div class="col-md-12">
      <%if @clinic_history != nil%>
      <div class="">
         <div class="row">
         <div class="col-md-12" style="display:none">
          <% display = "none" 
           display = @clinic_history.first_contact_state && @clinic_history.desenlace_first ? "block" : "none" %>
           <div class="alert-warning ch-close" style="display:<%=display%>;padding:10px;margin-bottom:10px;">
                  Historia Clinica cerrada, puede subir Herramientas de Evaluacion hacer Seguimientos y crear citas 
            </div>
         <%if !(@clinic_history.first_contact_state && @clinic_history.desenlace_first)%>            
           <div class="alert-warning msg-history" style="padding:10px;">
            Si ya completaste el Primer Contacto y el Diagnostico y tratamiento puedes cerrar la Historia Clinica ya no podras modificarla, pero aun podras ingresar Herramientas de Evaluacion, Crear Seguimientos y crear Citas <br><br>
                  <%= link_to "Cerrar Historia Clinica", close_clinic_history_path(@clinic_history.id),remote:true , data: {
              confirm: '¿Estas seguro de Cerrar la Historia Clinica?',
              'confirm-button-text': 'Cerrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',

               text: 'Recuerda que ya no podras modificarla',

              'image-url': ''}, class: "btnl btn-warning" %>  
           </div>
         <%end%>

            <br>
         </div>
            <div class="col-md-5
               ">
               <div class="panel panel-default">
                  <div class="panel-heading" ><strong><i class="fa fa-calendar" style = "font-size:20px;" aria-hidden="true"></i><span> PRÓXIMA CITA </strong></span>
                  </div>
                  <div class="panel-body" style="min-height: 100px;padding-bottom:10px;">
                     <%if !@appointment_l.nil?%>
                     <span style="font-size: 18px;color: #1d96ff;"> <%=get_date_hora(@appointment_l.start_datetime)%></span><br>
                     <% color = @appointment_l.state == "Vigente"  ? "success" : "danger" %>
                     <% color_text = @appointment_l.state == "Vigente" ? "#46765a" : "#a94442" %>
                     <br>
                     <strong>Observaciones:</strong> <%=@appointment_l.observations%><br><br>
                    <!-- <%= link_to "Realizada", cambiar_path(@appointment_l.id, "Realizada"),remote: true, method: :post, class: "btn btn-success", style: "font-size: 10px;"%>
                     <%= link_to "Cancelada", cambiar_path(@appointment_l.id, "Cancelada" ),remote: true, method: :post, class: "btn btn-danger", style: "font-size: 10px;"  %>
                     <%= link_to "No Asistio", cambiar_path(@appointment_l.id , "No Asistio"),remote: true, method: :post, class: "btn btn-info", style: "font-size: 10px;"  %>-->
                     <%else%>
                     <h3 style="text-align: center">NO TIENES CITA PROGRAMADA</h3>
                     <%end%>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading"><strong><i class="fa fa-thumb-tack" style="font-size:20px;" aria-hidden="true"></i> TAREAS <span style="float:right">  <%= link_to '+ Crear Tarea', new_patient_task_path(@patient.id), remote:true, class: ""  %></span></strong></div>
                  <div class="panel-body">
                     <div class="alert-success msg-task text-center" style="padding-left: 5px;display: none;margin-bottom: 10px;">
                       Tarea enviada al historial
                     </div>
                     
                     <div class="tasks_patient">
                        <%if @patient.tasks.abiertas.count > 0%>
                          <%= render "patients/tasks/tasks", patient: @patient%>
                         <%else%>
                          <h3 style="text-align: center">NO HAY TAREAS</h3>
                         <%end%>
                     </div>
                  </div>
                  <div class="panel-footer text-right">
                  <strong> <%= link_to patient_tasks_path(@patient.id),  class: ""  do%>
                     <span class="glyphicon glyphicon-folder-open"></span>&nbsp;  Historial <%end%>
                  </strong>
                  </div>
               </div>
            </div>
            <div class="col-md-7
               ">
               <div class="panel panel-default">
                  <div class="panel-heading"> <span class="glyphicon glyphicon-edit"></span> <strong>ULTIMO SEGUIMIENTO </strong></div>
                  <div class="panel-body" style="min-height: 100px;">
                     <%if !@last_tracing.nil?%>
                     <strong>Fecha:</strong> <%=@last_tracing.tracing_date %> &nbsp;
                     <%= link_to 'Ver <i class="fa fa-file-text" aria-hidden="true"></i>'.html_safe ,@last_tracing.attachment_url if @last_tracing.attachment_url%><br>
                     <br><strong>Descripción:</strong> <%=@last_tracing.description%><br>
                     <% if @field_default.observation_tracing_state  == true%>
                     <br><strong>Observaciones:</strong> <%=@last_tracing.observation%><br>
                     <% end -%>
                     <% if @field_default.evolution_tracing_state  == true %>
                     <br><strong>Evolucion:</strong> <%=@last_tracing.evolution%><br>
                     <% end -%>
                     <% @clinic_history.crete_fields.where(tracing_id: @last_tracing.id).order(id: :asc).each do |field| %>
                     <%if field.field.form == "Seguimiento" && field.field.state %>
                     <strong><%=field.field.name%>: </strong><br> <%=field.content%><br>
                     <%end%>
                     <%end%>
                     <%else%>
                     <h3 style="text-align: center">AÚN NO HAY SEGUIMIENTOS</h3>
                     <%end%>
                  </div>

               </div>
            </div>
         </div>
  
      <%else%>
      <div class="alert-info" style="padding:20px;">
         <h2 class="text-center" >El paciente no tiene Historia Clinica <br><br> 
            <%= link_to "Crear Historia Clinica", new_patient_clinic_history_path(@patient.id), class: "btn btn-primary", style: "font-size:20px" if current_user.rol.create_hc%>
         </h2>
      </div>
      <%end%>
   </div>
</div>
<%= render "form_send_history", patient: @patient%>


