         <%if @clinic_history != nil%>
               <div class="">
         
                  <div class="row tit1">
                     <div class="col-md-6">
                        <h2 style="color:gray" >INFORMACION GENERAL</h2>
                     </div>
                     <div class="col-md-6 text-right">
        
                        <%= link_to  patient_clinic_history_path(@patient.id,@clinic_history), class: "btnl btn-primary" do%>
                        <i class="fa fa-eye" style = "font-size:30px;"  aria-hidden="true"></i> Ver Historia Completa
                        <%end%>
                        
                                        <button type="button" class="btnl btn-info" data-toggle="modal" data-target="#send-mail"><i class="fa fa-envelope" style = "font-size:30px;"  aria-hidden="true"></i> Enviar</button>
                     </div>
                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title"> Motivo de consulta</h3>
                     </div>
                     <div class="panel-body">
                       <strong>Tipo: </strong> <%=@clinic_history.consult_reason.name if @clinic_history.consult_reason%><br><br>
                        <strong>Descripcion: </strong><%= @clinic_history.consultation_reason %>
                     </div>
                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title"> Estado Actual</h3>
                     </div>
                     <div class="panel-body">
                        <%= @clinic_history.actual_state %>
                     </div>
                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Hipotesis diagnostica</h3>
                     </div>
                     <div class="panel-body">
                        <%= @clinic_history.diagnostic_hypothesis %>
                     </div>
                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title"> Objetivo Terapeoutico</h3>
                     </div>
                     <div class="panel-body">
                        <%= @clinic_history.therapeutic_goal %>
                     </div>
                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Tipo de Tratamiento</h3>
                     </div>
                     <div class="panel-body">
                        <%= @clinic_history.type_of_treatment %>
                     </div>
                  </div>
               </div>
               <%else%>
            
               <div class="alert-info" style="padding:20px;">
                  <h2 class="text-center" >El paciente no tiene Historia Clinica <br><br> 
                     <%= link_to "Crear Historia Clinica", new_patient_clinic_history_path(@patient.id), class: "btn btn-primary", style: "font-size:20px" if current_user.rol.create_hc%>
                  </h2>
               </div>
               <%end%>