




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Generar PFD</h4>
      </div>
    
      <div class="modal-body">
          <%= form_tag generar_hc_path, method: :get, target: "_blank", id: "form-tag" do%>
         
          <div class=" row">
            <div class="col-md-8">
                <h3>Motivo de Consulta</h3>
            </div>
            <div class="col-md-4">
                <%= check_box_tag :motivo_de_consulta, true ,class: "", id: "toggle-one"  %></span>
            </div>
            <div class="col-md-8">
                <h3>Estado Acual</h3>
            </div>
            <div class="col-md-4">
                  <%= check_box_tag :estado_actual, true ,class: "", id: "toggle-two"  %></span>
            </div>
            <div class="col-md-8">
                <h3>Dinamica Familiar</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :dinamica_familiar, true ,class: "", id: "toggle-three"  %></span>
            </div>
          </div>
       
         
          
          <%=hidden_field_tag :patient_id, patient.id%>
          <%=hidden_field_tag :clinic_history, clinic_history.id%>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= submit_tag "Crear", class:"btn btn-default" %>
      </div>
      <%end%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
 
</div><!-- /.modal -->


<script>
  $('#form-tag').submit(function(){

       
  })

</script>
