




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Generar PFD</h4>
      </div>
     <%= form_tag generar_hc_path, method: :get, target: "_blank", id: "form-tag" do%>
      <div class="modal-body">
         
         
          <div class=" row">
            <div class="col-md-8">
                <h3>Motivo de Consulta</h3>
            </div>
            <div class="col-md-4">
                <%= check_box_tag :motivo_de_consulta, true   %></span>
            </div>
          </div>  
             <div class=" row">
            <div class="col-md-8">
                <h3>Estado Acual</h3>
            </div>
            <div class="col-md-4">
                  <%= check_box_tag :estado_actual, true %></span>
            </div>
            </div>
            <div class=" row">
            <div class="col-md-8">
                <h3>Dinamica Familiar</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :dinamica_familiar, true  %></span>
            </div>
          </div>


          <% @clinic_history.crete_fields.order(id: :asc).each do |field| %>
            <%if field.field.form == "Primer Contacto" && field.field.state %>
              <div class=" row">
              <div class="col-md-8">
                <h3><%=field.field.name%></h3>
            </div>
            <div class="col-md-4">
                <%= check_box_tag "pr#{field.id}" , true   %></span>
            </div>
            </div>  
            
           <%end%>
           <%end%>

            <div class=" row">
             <div class="col-md-8">
                <h3>Historia Familiar</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :historia_familiar, true  %></span>
            </div>
         </div>  

         <% if @clinic_history.child_history %>
         <div class=" row">
             <div class="col-md-8">
                <h3>Historia Personal</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :historia_personal, true  %></span>
            </div>
         </div>
         <%end%>   

        <div class=" row">
            <div class="col-md-8">
                <h3>Antecedentes</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :antecedentes , true  %></span>
            </div>
          </div>  
         <div class=" row">
            <div class="col-md-8">
                <h3>Herramientas de Evaluación</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :herramientas_evaluacion , true  %></span>
            </div>

          </div>  
         <div class=" row">
            <div class="col-md-8">
                <h3>Hipotesis Diagnóstica</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :hipotesis_diagnostica , true  %></span>
            </div>
          </div>  
         <div class=" row">
            <div class="col-md-8">
                <h3>Objetivo Terapéutico</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :objetivo_terapeoutico , true  %></span>
            </div>
          </div>
           <div class=" row">
             <div class="col-md-8">
                <h3>Tipo de Tratamiento</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :tipo_tratamiento , true  %></span>
            </div>
           </div>

          <% @clinic_history.crete_fields.order(id: :asc).each do |field| %>
            <%if field.field.form == "Diagnostico y Tratamiento" && field.field.state %>
              <div class=" row">
              <div class="col-md-8">
                <h3><%=field.field.name%></h3>
            </div>
            <div class="col-md-4">
                <%= check_box_tag "dt#{field.id}" , true   %></span>
            </div>
            </div>  
            
           <%end%>
           <%end%>





            <div class=" row"> 
             <div class="col-md-8">
                <h3>Seguimientos</h3>
            </div>
            <div class="col-md-4">
                 <%= check_box_tag :seguimientos , true  %></span>
            </div>
          
          </div>



             
          
          <%=hidden_field_tag :patient_id, patient.id%>
          <%=hidden_field_tag :clinic_history, clinic_history.id%>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
         <%= submit_tag "Crear", class:"btn btn-default" %>
      </div>
      <%end%>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
 
</div><!-- /.modal -->

 <script>
   $(document).on('turbolinks:load',function() {

       $('#motivo_de_consulta').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });
      $('#estado_actual').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });
       $('#dinamica_familiar').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });
        $('#historia_familiar').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });

        $('#historia_personal').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });

 $('#antecedentes').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });

 $('#herramientas_evaluacion').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });

 $('#hipotesis_diagnostica').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });

 $('#objetivo_terapeoutico').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });

 $('#tipo_tratamiento').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });

 $('#seguimientos').bootstrapToggle({
            on: 'Si',
            off: 'No'
          });


         <% @clinic_history.crete_fields.order(id: :asc).each do |field| %>
            <%if field.field.form == "Primer Contacto" && field.field.state %>
                  
                  $('#pr<%=field.id%>').bootstrapToggle({
                           on: 'Si',
                           off: 'No'
                      });

                  $('#pr<%=field.id%>').bootstrapToggle('on');
           <%end%>
           <%end%>

           <% @clinic_history.crete_fields.order(id: :asc).each do |field| %>
            <%if field.field.form == "Diagnostico y Tratamiento" && field.field.state %>
                  
                  $('#dt<%=field.id%>').bootstrapToggle({
                           on: 'Si',
                           off: 'No'
                      });

                  $('#dt<%=field.id%>').bootstrapToggle('on');
           <%end%>
           <%end%>


  

$("#motivo_de_consulta").bootstrapToggle('on');
$("#estado_actual").bootstrapToggle('on');
$("#dinamica_familiar").bootstrapToggle('on');

$("#historia_familiar").bootstrapToggle('on');
$("#historia_personal").bootstrapToggle('on');

$("#antecedentes").bootstrapToggle('on');
$("#herramientas_evaluacion").bootstrapToggle('on');

$("#hipotesis_diagnostica").bootstrapToggle('on');
$("#objetivo_terapeoutico").bootstrapToggle('on');
$("#tipo_tratamiento").bootstrapToggle('on');

$("#seguimientos").bootstrapToggle('on');

  });

$('#form-tag').on('submit', function(e) {
     
     setTimeout(function(){
        window.location.reload(true);
      }, 1000)
 
});


     </script>


<style>
.modal-body .row
{
  background: whitesmoke;
  margin-bottom: 3px;
  padding-top: 8px;
}
.modal-body h3
{
    color: gray !important;
    font-size: 18px !important;
}
       
     </style>     