
<div class="container">


<div class = "row row-form">
  <h1 class="h1-tittle"><%=action_type%> Historia Clinica</h1>

  <br><br><br>

<%= form_for([@patient, @clinic_history], :html => { :id => "signup" })  do |form| %>
  <% if @clinic_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_history.errors.count, "error") %> prohibited this clinic_history from being saved:</h2>

      <ul>
      <% @clinic_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="row">



<div class="col-md-10 col-md-offset-1">
<h3>1. Motivo de consulta</h3>
    <div class="form-group">
    
    <%= form.text_area :consultation_reason, id: :clinic_history_consultation_reason, class: "form form-control area" %>
  </div>
  <hr>
  <br>
<h3>2. Estado Actual</h3>
  <div class="form-group">
  
    <%= form.text_area :actual_state, id: :clinic_history_actual_state, class: "form form-control area"  %>
  </div>
<h3>3. Hipotesis Diagnostica</h3>
   <div class="form-group">
    
    <%= form.text_area :diagnostic_hypothesis, id: :clinic_history_diagnostic_hypothesis, class: "form form-control area"  %>
  </div>
  


</div>








<%= form.hidden_field :admin_user , :value => current_user.admin_user %>
<%= form.hidden_field :user_id ,:value =>  current_user.id %>
<%= form.hidden_field :patient_id ,:value =>  @patient.id %>







  

 <div class="row text-center">
<div class="col-md-12">
   <div class="actions">
    <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>

    
  </div>
  </div>
  </div>
<% end %>
</div>
  
</div>

<style>

  
</style>