
<div class="container">
<br>
<h1 class="h1-tittle"><%=action_type%> Historia Clinica</h1>

<div class = "row row-form">
  <br>

<%= form_for([@patient, @clinic_history], :html => { :id => "signup" })  do |form| %>
  <% if @clinic_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_history.errors.count, "error") %> prohibited this clinic_history from being saved:</h2>

      <ul>
      <% @clinic_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="row">



<div class="col-md-6">
<h3>1. Motivo de consulta</h3>
    <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :consultation_reason, id: :clinic_history_consultation_reason, class: "form form-control area" %>
  </div>
<h3>2. Estado Actual</h3>
  <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :actual_state, id: :clinic_history_actual_state, class: "form form-control area"  %>
  </div>
<h3>3. Hipotesis Diagnostica</h3>
   <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :diagnostic_hypothesis, id: :clinic_history_diagnostic_hypothesis, class: "form form-control area"  %>
  </div>
  


</div>

<div class="col-md-6">
  <h3>4 .Objetivo del Tratamientol</h3>
    <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :therapeutic_goal, id: :clinic_history_therapeutic_goal , class: "form form-control area" %>
  </div>
    <h3>5. Tipo de Tratamiento</h3>
    <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :type_of_treatment, id: :clinic_history_type_of_treatment, class: "form form-control area" %>
  </div>

<h3>7 .Tiempo probable de atención y frecuencia en citas</h3>
<div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :description_appointment, id: :clinic_history_description_appointment, class: "form form-control area" %>
  </div>
<div class="row">
<div class="col-md-6">

  
  <div class="field">
    <%= form.label "Cantidad de Citas" %>
    <%= form.number_field :quantity_appointment, id: :clinic_history_quantity_appointment %>
  </div>
</div>
<div class="col-md-6">

  <div class="form-group">
     <%val1 = "" 
 action_name == "edit" ? val1 = @clinic_history.frequency_appointment : val1 = "" %>
    <%= form.label "Frecuencia" %>
     <%= form.select 'frequency_appointment', options_for_select(["Semanal", "Mensual", "Anual"], val1), {},{:class => 'form-control'}%>
  </div>


  
</div>
</div>
  
</div>







<%= form.hidden_field :admin_user , :value => current_user.admin_user %>
<%= form.hidden_field :user_id ,:value =>  current_user.id %>
<%= form.hidden_field :patient_id ,:value =>  @patient.id %>







  

 <div class="row text-center">
<div class="col-md-12">
   <div class="actions">
    <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>

    
  </div>
  </div>
  </div>
<% end %>
</div>
  
</div>
