



<div class = "row row-form">
  



<%= nested_form_for([@patient, @clinic_history], :html => { :id => "signup" })  do |form| %>
  <% if @clinic_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_history.errors.count, "error") %> prohibited this clinic_history from being saved:</h2>

      <ul>
      <% @clinic_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="row step1">



<div class="col-md-10 col-md-offset-1">
<h3> Motivo de consulta</h3>
    <div class="form-group">
    
    <%= form.text_area :consultation_reason, id: :clinic_history_consultation_reason, class: "form form-control area" %>
  </div>
  <hr>
  <br>
<h3> Estado Actual</h3>
  <div class="form-group">
  
    <%= form.text_area :actual_state, id: :clinic_history_actual_state, class: "form form-control area"  %>
  </div>
<h3> Dinamica Familiar</h3>
   <div class="form-group">
    
    <%= form.text_area :family_dinamic, id: :clinic_history_family_dinamic, class: "form form-control area"  %>
  </div>
  


</div>

<br>

<div class="row">
<br>
<div class="col-md-10 col-md-offset-1" style="background: #f7f7f7;" >
  <h3 class = "" style = "margin :20px 0px 15px 0;color:gray">Antecedentes Familiares </h3>
 
<br>
      <%= form.fields_for :backgrounds do |contact|  %>
      <div class="clearfix" style="margin-bottom: 30px;">
         <div class="col-md-12" >
            <div class="col-md-1 pdd" >
              <%= contact.link_to_remove do %>
               <i style = "    color: #e74b09;
                  font-size: 18px;
                  margin-left: 0px;
                  position: relative;
                  left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
            </div>
            <div class="col-md-4 pdd" >
               
                  <div class="form-group acc1">

                  <div class="col-md-6">
    
               <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psicologico', class: 'rb cksi check1' %><span style = "margin-left:10px">Psicologico</span>
               </label>
                  </div>
              <div class="col-md-6">
              <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psiquiatrico', class: 'rb ckno check1' %><span style = "margin-left:10px">Psiquiatrico</span>
                </label> </div>
                   <div class="col-md-6">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Toxico', class: 'rb ckno check1' %><span style = "margin-left:10px">Toxico</span>
                </label></div>
                            <div class="col-md-6">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Medico', class: 'rb ckno check1' %><span style = "margin-left:10px">Medico </span>
                </label></div>
           
    </div>  
            </div>
              <div class="col-md-3 pdd" >
               <%= contact.label "Descripcion" %>
               <%= contact.text_area :description, :class => 'form-control' %>
            </div>
              <div class="col-md-4 pdd" >
               <%= contact.label "Adjuntar" %>
               <%= contact.file_field :attachment, :class => 'form-control' %>
            </div>
        


<%= contact.hidden_field :admin_user , :value => current_user.admin_user %>
<%= contact.hidden_field :user_id ,:value =>  current_user.id %>
<%= contact.hidden_field :patient_id ,:value =>  @patient.id %>
<%= contact.hidden_field :codigo ,:value =>  @patient.document %>
           
         </div>

      </div><hr>
      <%end%>
      <div class="col-md-12" style="
         margin-bottom: 25px;">
         <%= form.link_to_add "Agregar", :backgrounds, :class => 'btn btn-primary top10'  %>
      </div>
   </div>
   </div>



   <div class="row">
<br>
<div class="col-md-10 col-md-offset-1" style="background: #f7f7f7;" >
  <h3 class = "" style = "margin :20px 0px 15px 0;color:gray">Antecedentes Personales</h3>
 
<br>
      <%= form.fields_for :personal_backgrounds do |contact|  %>
      <div class="clearfix" style="margin-bottom: 30px;">
         <div class="col-md-12" >
          <div class="col-md-1" >
               <%= contact.link_to_remove do %>
               <i style = "    color: #e74b09;
                  font-size: 18px;
                  margin-left: 0px;
                  position: relative;
                  left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
            </div>  
            <div class="col-md-4 pdd" >
              
                  <div class="form-group acc1">

                  <div class="col-md-6">
                     
               <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psicologico', class: 'rb cksi check1' %><span style = "margin-left:10px">Psicologico</span>
               </label>
                  </div>
              <div class="col-md-6">
              <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psiquiatrico', class: 'rb ckno check1' %><span style = "margin-left:10px">Psiquiatrico</span>
                </label> </div>
                   <div class="col-md-6">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Toxico', class: 'rb ckno check1' %><span style = "margin-left:10px">Toxico</span>
                </label></div>
                            <div class="col-md-6">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Medico', class: 'rb ckno check1' %><span style = "margin-left:10px">Medico </span>
                </label></div>
           
    </div>  
            </div>
              <div class="col-md-3 pdd" >
               <%= contact.label "Descripcion" %>
               <%= contact.text_area :description, :class => 'form-control' %>
            </div>
              <div class="col-md-4 pdd" >
               <%= contact.label "Adjuntar" %>
               <%= contact.file_field :attachement, :class => 'form-control' %>
            </div>  
        

<%= contact.hidden_field :admin_user , :value => current_user.admin_user %>
<%= contact.hidden_field :user_id ,:value =>  current_user.id %>
<%= contact.hidden_field :patient_id ,:value =>  @patient.id %>


           
         </div>

      </div><hr>
      <%end%>
      <div class="col-md-12" style="
         margin-bottom: 25px;">
         <%= form.link_to_add "Agregar", :personal_backgrounds, :class => 'btn btn-primary top10'  %>
      </div>
   </div>
   </div>


     

<br><br>

<div class="row step1">



<div class="col-md-10 col-md-offset-1">
<h3 style="margin-bottom: 10px;"> Frecuencia en Citas</h3>
<div class="col-md-3">
  <div class="form-group">
    
    <%= form.label "Numero de Veces" %>
     <%= form.number_field "quantity_appointment" , class: "form form-control"%>
  </div>
</div>
 <div class="col-md-3">
  <div class="form-group">
    <%val1 = "" 
 action_name == "edit" ? val1 = @clinic_history.frequency_appointment : val1 = "" %>
    <%= form.label "Cada cuanto" %>
     <%= form.select 'frequency_appointment', options_for_select(["Semana","Quincena" ,"Mes","Semestre", "Año"], val1), {},{:class => 'form-control'}%>
  </div>
</div>

  </div>



<%= form.hidden_field :admin_user , :value => current_user.admin_user %>
<%= form.hidden_field :user_id ,:value =>  current_user.id %>
<%= form.hidden_field :patient_id ,:value =>  @patient.id %>







  

 <div class="row text-center">
<div class="col-md-12">
   <div class="actions">
    <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>

    
  </div>
  </div>
  </div>
<% end %>
</div>
  
