<p id="notice"><%= notice %></p>

<h1>Clinic Histories</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>

      <th>Motivo de Consulta</th>
      <th>Estado Actual</th>
      <td>Dinamica Familiar</td>
      

      <th>Hipotesis Diagnostica</th>
      <th>Objetivo Terapeutico</th>
      <th>Tipo de Tratamieneto</th>
      


      <th>Admin user</th>
      <th>Patient</th>
      

      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinic_histories.each do |clinic_history| %>
      <tr>
        <td><%= clinic_history.id %></td>

        <td><%= clinic_history.consultation_reason %></td>
        <td><%= clinic_history.actual_state %></td>
        <td><%= clinic_history.family_dinamic %></td>



        <td><%= clinic_history.diagnostic_hypothesis %></td>
        <td><%= clinic_history.therapeutic_goal %></td>
        <td><%= clinic_history.type_of_treatment%></td>
 

        <td><%= clinic_history.user.email %></td>
        <td><%= clinic_history.patient_id %></td>
       
         <td><%=clinic_history.first_contact_state%>-<%= get_date(clinic_history.first_contact_created_at)%> </td>
                    <td><%=clinic_history.first_child_state%>-<%=get_date(clinic_history.child_first_created_at)%></td>
                    <td><%=clinic_history.second_child_state%>-<%=get_date(clinic_history.second_child_created_at)%> </td>
                    <td><%=clinic_history.third_child_state%>-<%=get_date(clinic_history.third_child_created_at)%> </td>
                    <td><%=clinic_history.four_child_state%>-<%=get_date(clinic_history.four_child_created_at)%> </td>
                    <td><%=clinic_history.desenlace_first%>-<%=get_date(clinic_history.desenlace_created_at)%> </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
