<p id="notice"><%= notice %></p>

<h1>Clinic Histories</h1>
<div style="overflow: scroll;">
<table  >
  <thead>
    <tr>
      <th>id</th>

      <th >Motivo de Consulta</th>
      <th>Estado Actual</th>
      <th>Dinamica Familiar</th>
      

      <th>Hipotesis Diagnostica</th>
      <th>Objetivo Terapeutico</th>
      <th>Tipo de Tratamieneto</th>
      


      <th>Admin user</th>
       <th>Admin</th>
      <th>Patient</th>
      

      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinic_histories.order(admin_user: :desc).each do |clinic_history| %>
      <tr>
        <td ><div>  <%= clinic_history.id %></div></td>

        <td><div class="info"><%= clinic_history.consultation_reason %></div></td>
        <td><div class="info"><%= clinic_history.actual_state %></div></td>
        <td><div class="info"><%= clinic_history.family_dinamic %></div></td>



        <td><div class="info"><%= clinic_history.diagnostic_hypothesis %></div></td>
        <td><div class="info"><%= clinic_history.therapeutic_goal %></div></td>
        <td><div class="info"><%= clinic_history.type_of_treatment%></div></td>
 

        <td ><div class="info"><%= clinic_history.user.email %></div></td>
         <td><div class="info"><%= clinic_history.user.id %></div></td>
       <td><div class="info"><%= clinic_history.patient_id %></div></td>
       
         <td ><div class="info"><%=clinic_history.first_contact_state%>-<%= get_date(clinic_history.first_contact_created_at)%> </div></td>
                   <td><div class="info"><%=clinic_history.first_child_state%>-<%=get_date(clinic_history.child_first_created_at)%></div></td>
                   <td ><div class="info"><%=clinic_history.second_child_state%>-<%=get_date(clinic_history.second_child_created_at)%> </div></td>
                    <td ><div class="info"><%=clinic_history.third_child_state%>-<%=get_date(clinic_history.third_child_created_at)%></div> </td>
                    <td ><div class="info"><%=clinic_history.four_child_state%>-<%=get_date(clinic_history.four_child_created_at)%> </div></td>
                   <td ><div class="info"><%=clinic_history.desenlace_first%>-<%=get_date(clinic_history.desenlace_created_at)%> </div></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
 

 <style>
   .info
   {
    width: 200px;
    height: 80px;
    overflow: hidden;
    max-height: 80px;
   }
 </style>