
<div class="container">
<div class="row">
    <div class="col-md-12" style="padding-left: 50px;">
        <%= link_to "inicio", root_path%><span> | </span> 
        <%= link_to "pacientes", patients_path%> <span> | </span> 
        <%= link_to "#{@patient.first_name} #{@patient.first_last_name}", patient_path(@patient.id)%>
    </div>
</div>
<br>
<div class="row">
<!--<div class="col-md-10">
	<h1 class="h1-tittle imgedit"><%=action_type%> Historia Clinica de <%=@patient.first_name%> <%=@patient.first_last_name%></h1>

</div>
	<div class="col-md-2">
	<h1 class="h1-tittle imgedit"> <%=image_tag @patient.avatar_url if @patient.avatar?  %></h1>
</div>
</div>-->
<h1 class="h1-tittle imgedit"><%=action_type%> Historia Clinica de <%=@patient.first_name%> <%=@patient.first_last_name%> <%=image_tag @patient.avatar_url if @patient.avatar?  %></h1><br>

<div class= "menu-history">

<%if @clinic_history.child_history%>
	<%=render "menu_child"%>
    <%else%>	
    <%=render "menu"%>
<%end%>	



  </div>

<%= render 'form', clinic_history: @clinic_history %>

</div>

