<%if @clinic_history.child_history%>
<div class= "menu-history">
   <%=render "menu_child"%>
</div>

<%else%>
  <%if @clinic_history.child_general_date %>
  <div class= "menu-history">
   <%=render "menu"%>
   <%end%>
</div>


<%end%> 

<div class = "row row-form" style="margin-left: 0px !important;margin-right:  0px !important">
<%= nested_form_for([@patient, @clinic_history], :html => { :id => "signup" })  do |form| %>
<% if @clinic_history.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(@clinic_history.errors.count, "error") %> prohibited this clinic_history from being saved:</h2>
   <ul>
      <% @clinic_history.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="row step1">
<div class="col-md-12">
   <h3 style="margin:0px 0px 20px 0px;color:gray" class="title-formulario"> <%=get_open(@clinic_history.first_contact_state).html_safe%> PRIMER CONTACTO</h3>
   <h3>Fecha de Creacion</h3>
   <br>
   <div class="row">
      <div class="col-md-6">
         <div class="form-group date_select">
            <%= form.date_select :created_date,{
               :start_year =>
               Time.now.year + 1,
               :end_year => 1900,
               :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
               :use_short_month => true,
               :order => [:day, :month, :year]},
               {:class => 'year form-control line1 required',
               :id => 'event_date_event' , :title => "Es un Campo Obligatorio" , disabled: false}
               %>
         </div>
      </div>
   </div>
   <br>
   <h3> Motivo de Consulta</h3>
   <br>
   <div class="form-group">
      <%= form.label "Tipo" %><br>
      <%= form.select :consult_reason_id,
         ConsultReason.all.map { |u| ["#{u.name}", u.id] },
                    { include_blank: "Ninguna" },
                    { class: 'chosen-select1 form-control ch' ,disabled: false }
         %>
   </div>
   <div class="form-group">
      <%= form.label "Descripcion" %><br>
      <%= form.text_area :consultation_reason, id: :clinic_history_consultation_reason, class: "form form-control area required", :title => "Es un Campo Obligatorio"%>
   </div>
   <hr>
   <br>
   <h3> Estado Actual</h3>
   <div class="form-group">
      <%= form.text_area :actual_state, id: :clinic_history_actual_state, class: "form form-control area required", :title => "Es un Campo Obligatorio", disabled: false %>
   </div>
   <h3> Dinamica Familiar</h3>
   <div class="form-group">
      <%= form.text_area :family_dinamic, id: :clinic_history_family_dinamic, class: "form form-control area required", :title => "Es un Campo Obligatorio" , disabled: false%>
   </div>


  <!-- inicio de los campos adicionales -->
   <% Field.where(admin_user: current_user.admin_user).where(state: true).where(form: "Primer Contacto").order(id: :asc).each do |field| %>
   <h3> <%= field.name%></h3>
   <div class="form-group">
      <%if field.type_field == "Textarea"%>
      <div class="form-group">
         <% if !CreteField.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).any? %>
         <%= text_area_tag "#{field.name}", nil , class: "form-control area" %>
         <%else%>
         <%= text_area_tag "#{field.name}", field.crete_fields.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).last.content , class: "form-control area" %>      
         <%end%>
         <%else%>
      </div>
      <div class="form-group">
         <% if !CreteField.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).any? %>
         <%= select_tag field.name, options_for_select(field.fieldselects.collect{ |u| ["#{u.option}", u.option] },{:selected=>nil}), {:multiple => false,class: 'form-control' , style: "width:50%"}%>
         <%else%>
         <%= select_tag field.name, options_for_select(field.fieldselects.collect{ |u| ["#{u.option}", u.option] },{:selected=>field.crete_fields.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).last.content }), {:multiple => false,class: 'form-control', style: "width:50%"}%>
         <%end%>
      </div>
      <%end%>  
      <br>
      
   </div>
   <%end%>  
   <!-- Fin de los campos adicionales -->

   <br>
   <br><br>
   <div class="row step1">
      <%= form.hidden_field :admin_user , :value => current_user.admin_user %>
      <%= form.hidden_field :user_id ,:value =>  current_user.id %>
      <%= form.hidden_field :patient_id ,:value =>  @patient.id %>
      <div class="row text-center">
         <div class="col-md-12">
            <div class="actions">
               <br>
               <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>
            </div>
         </div>
      </div>
      <% end %>
   </div>
   <style>
      #event_date_event {
      width: 130px;
      }
      .pdd
      {
      display: inline-block;
      vertical-align: top;
      padding: 0px 20px
      }

   

 .error
   {
   color: red !important;
   }
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
       font-size: 1em;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-weight: 100!important;
    color: white;
    background-color: #f9f9f9;
    padding: 4px 20px;
    display: inline-block;
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
     </style>

   <script>
      'use strict';
      
      ;( function ( document, window, index )
      {
        var inputs = document.querySelectorAll( '.inputfile' );
        Array.prototype.forEach.call( inputs, function( input )
        {
          var label  = input.nextElementSibling,
            labelVal = label.innerHTML;
      
          input.addEventListener( 'change', function( e )
          {
            var fileName = '';
            if( this.files && this.files.length > 1 )
              fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
            else
              fileName = e.target.value.split( '\\' ).pop();
      
            if( fileName )
              label.querySelector( 'span' ).innerHTML = fileName;
            else
              label.innerHTML = labelVal;
          });
      
          // Firefox bug fix
          input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
          input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
        });
      }( document, window, 0 ));
      
         
   </script>
</div>
<script>
   $(document).ready(function(){
       $('#signup').validate();
   
   
   //Inicio de las funciones para guardar mientras se copia
    $('#clinic_history_consultation_reason').change(function(){
   
        $.ajax({
          type: "POST",
          async: true,
          url: '/actualizar_hc',
          data:  { 'value': $(this).val(), 'id': <%=@clinic_history.id%>, 'campo': "consultation_reason" },
          success: function (msg) 
                  { console.log(msg) 
                    $('.msg').fadeIn();
                    $('.msg strong').html(msg);
                    setTimeout(function(){
                      $('.msg').fadeOut();
                    }, 3000);
                    
                  },
          error: function (err)
          { alert(err.responseText)}
      });
        
   
    })
   
   
      $('#clinic_history_actual_state').change(function(){
   
        $.ajax({
          type: "POST",
          async: true,
          url: '/actualizar_hc',
          data:  { 'value': $(this).val(), 'id': <%=@clinic_history.id%>, 'campo': "actual_state" },
         success: function (msg) 
                  { console.log(msg) 
                    $('.msg').fadeIn();
                    $('.msg strong').html(msg);
                    setTimeout(function(){
                      $('.msg').fadeOut();
                    }, 3000);
                    
                  },
          error: function (err)
          { alert(err.responseText)}
      });
        
   
    })

    $('#clinic_history_family_dinamic').change(function(){
   
        $.ajax({
          type: "POST",
          async: true,
          url: '/actualizar_hc',
          data:  { 'value': $(this).val(), 'id': <%=@clinic_history.id%>, 'campo': "family_dinamic" },
          success: function (msg) 
                  { console.log(msg) 
                    $('.msg').fadeIn();
                    $('.msg strong').html(msg);
                    setTimeout(function(){
                      $('.msg').fadeOut();
                    }, 3000);
                    
                  },
          error: function (err)
          { alert(err.responseText)}
      });
        
   
    })  
   
   //Fin de las funciones para guardar mientras se copia
   
     })
</script>