<%if @clinic_history.child_history%>

<div class= "menu-history">

    <%=render "menu_child"%>
 </div>
  <br>
<%end%> 



 
 




<div class = "row row-form" style="margin-left: 0px !important;margin-right:  0px !important">
  



<%= nested_form_for([@patient, @clinic_history], :html => { :id => "signup" })  do |form| %>
  <% if @clinic_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic_history.errors.count, "error") %> prohibited this clinic_history from being saved:</h2>

      <ul>
      <% @clinic_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="row step1"> 



<div class="col-md-12">
<h3 style="margin:0px 0px 20px 0px;color:gray" class="title-formulario"> <%=get_open(@clinic_history.first_contact_state).html_safe%> PRIMER CONTACTO</h3>

<h3>Fecha de Creacion</h3><br>

<div class="row">
<div class="col-md-6">

  <div class="form-group date_select">
         <%= form.date_select :created_date,{
            :start_year =>
            Time.now.year + 1,
            :end_year => 1900,
            :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
            :use_short_month => true,
            :order => [:day, :month, :year]},
            {:class => 'year form-control line1 required',
            :id => 'event_date_event' , :title => "Es un Campo Obligatorio" , disabled: @clinic_history.first_contact_state}
            %>
</div>

</div>

  
</div>  <br>
<h3> Motivo de Consulta</h3>
<br>
     <div class="form-group">
              <%= form.label "Tipo" %><br>
               <%= form.select :consult_reason_id,
                  ConsultReason.all.map { |u| ["#{u.name}", u.id] },
                             { include_blank: "Ninguna" },
                             { class: 'chosen-select1 form-control ch' ,disabled: @clinic_history.first_contact_state }
                  %>
    </div>


 <div class="form-group">
  <%= form.label "Descripcion" %><br>
    <%= form.text_area :consultation_reason, id: :clinic_history_consultation_reason, class: "form form-control area" , disabled: @clinic_history.first_contact_state%>
  </div>
  <hr>
  <br>
<h3> Estado Actual</h3>
  <div class="form-group">
  
    <%= form.text_area :actual_state, id: :clinic_history_actual_state, class: "form form-control area", disabled: @clinic_history.first_contact_state %>
  </div>
<h3> Dinamica Familiar</h3>
   <div class="form-group">
    
    <%= form.text_area :family_dinamic, id: :clinic_history_family_dinamic, class: "form form-control area" , disabled: @clinic_history.first_contact_state%>
  </div>
  


</div>

<br>

<!--<div class="row">
<br>
<div class="col-md-10 col-md-offset-1" style="background: #f7f7f7;" >
  <h3 class = "" style = "margin :20px 0px 15px 0;color:gray">Antecedentes Familiares </h3>
 
<br>
      <%= form.fields_for :backgrounds do |contact|  %>
      <div class="clearfix" style="margin-bottom: 30px;">
         <div class="" >
            <div class="pdd" >

              <%= contact.link_to_remove do %>
               <i style = "    color: #e74b09;
                  font-size: 18px;
                  margin-left: 0px;
                  position: relative;
                  left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
            </div>
            <div class=" pdd" >
               
                  <div class="form-group acc1">

                  <div class="">
    
               <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psicologico', class: 'rb cksi check1' %><span style = "margin-left:10px">Psicologico</span>
               </label>
                  </div>
              <div class="">
              <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psiquiatrico', class: 'rb ckno check1' %><span style = "margin-left:10px">Psiquiatrico</span>
                </label> </div>
                   <div class="">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Toxico', class: 'rb ckno check1' %><span style = "margin-left:10px">Toxico</span>
                </label></div>
                            <div class="">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Medico', class: 'rb ckno check1' %><span style = "margin-left:10px">Medico </span>
                </label></div>
           
    </div>  
            </div>
              <div class="pdd" >
               <%= contact.label "Descripcion" %>
               <%= contact.text_area :description, :class => 'form-control' %>
            </div>
              <div class=" pdd" >
               <%= contact.label "Adjuntar" %>
               <%= contact.file_field :attachment, :class => 'form-control' %>
            </div>
        

<%if action_name == "new"%>
<%= contact.hidden_field :admin_user , :value => current_user.admin_user %>
<%= contact.hidden_field :user_id ,:value =>  current_user.id %>
<%= contact.hidden_field :patient_id ,:value =>  @patient.id %>
 <%end%> 
<%= contact.hidden_field :codigo ,:value =>  @patient.document %>
         
         </div>

      </div><hr>
      <%end%>
      <div class="col-md-12" style="
         margin-bottom: 25px;">
         <%= form.link_to_add "Agregar", :backgrounds, :class => 'btn btn-primary top10'  %>
      </div>
   </div>
   </div>



   <div class="row">
<br>
<div class="col-md-10 col-md-offset-1" style="background: #f7f7f7;" >
  <h3 class = "" style = "margin :20px 0px 15px 0;color:gray">Antecedentes Personales</h3>
 
<br>
      <%= form.fields_for :personal_backgrounds do |contact|  %>
      <div class="clearfix" style="margin-bottom: 30px;">
         <div class="" >

          <div class="pdd" >
               <%= contact.link_to_remove do %>
               <i style = "    color: #e74b09;
                  font-size: 18px;
                  margin-left: 0px;
                  position: relative;
                  left: -18px;" class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
            </div>  
            <div class=" pdd" >
              
                  <div class="form-group acc1">

                  <div class="">
                     
               <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psicologico', class: 'rb cksi check1' %><span style = "margin-left:10px">Psicologico</span>
               </label>
                  </div>
              <div class="">
              <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Psiquiatrico', class: 'rb ckno check1' %><span style = "margin-left:10px">Psiquiatrico</span>
                </label> </div>
                   <div class="">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Toxico', class: 'rb ckno check1' %><span style = "margin-left:10px">Toxico</span>
                </label></div>
                            <div class="">
                  <label class="radio-inline">
               <%= contact.radio_button :type_background, 'Medico', class: 'rb ckno check1' %><span style = "margin-left:10px">Medico </span>
                </label></div>
           
    </div>  
            </div>
              <div class=" pdd" >
               <%= contact.label "Descripcion" %>
               <%= contact.text_area :description, :class => 'form-control' %>
            </div>
              <div class=" pdd" >
               <%= contact.label "Adjuntar" %>
               <%= contact.file_field :attachement, :class => 'form-control' %>
            </div>  
        

<%= contact.hidden_field :admin_user , :value => current_user.admin_user %>
<%= contact.hidden_field :user_id ,:value =>  current_user.id %>
<%= contact.hidden_field :patient_id ,:value =>  @patient.id %>


           
         </div>

      </div><hr>
      <%end%>
      <div class="col-md-12" style="
         margin-bottom: 25px;">
         <%= form.link_to_add "Agregar", :personal_backgrounds, :class => 'btn btn-primary top10'  %>
      </div>
   </div>
   </div>-->


     

<br><br>

<div class="row step1">



<div class="col-md-10">
<h3 style="margin-bottom: 10px;"> Frecuencia en Citas</h3>
<div class="col-md-3">
  <div class="form-group">
    
    <%= form.label "Numero de Veces" %>
     <%= form.number_field "quantity_appointment" , class: "form form-control"%>
  </div>
</div>
 <div class="col-md-3">
  <div class="form-group">
    <%val1 = "" 
 action_name == "edit" ? val1 = @clinic_history.frequency_appointment : val1 = "" %>
    <%= form.label "Cada cuanto" %>
     <%= form.select 'frequency_appointment', options_for_select(["Semana","Quincena" ,"Mes","Semestre", "Año"], val1), {},{:class => 'form-control'}%>
  </div>
</div>

  </div>



<%= form.hidden_field :admin_user , :value => current_user.admin_user %>
<%= form.hidden_field :user_id ,:value =>  current_user.id %>
<%= form.hidden_field :patient_id ,:value =>  @patient.id %>






  

 <div class="row text-center">
<div class="col-md-12">
   <div class="actions">
   <br>
    <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>

    
  </div>
  </div>
  </div>
<% end %>
</div>
  



<style>
#event_date_event {
    
    width: 130px;
    
}
.pdd
{
  display: inline-block;
  vertical-align: top;
  padding: 0px 20px
}
</style>



<script>

</script>




<script>

'use strict';

;( function ( document, window, index )
{
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label  = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      else
        fileName = e.target.value.split( '\\' ).pop();

      if( fileName )
        label.querySelector( 'span' ).innerHTML = fileName;
      else
        label.innerHTML = labelVal;
    });

    // Firefox bug fix
    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
  });
}( document, window, 0 ));

   
</script>



<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
       font-size: 1em;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-weight: 100!important;
    color: white;
    background-color: #f9f9f9;
    padding: 4px 20px;
    display: inline-block;
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
  
</style>

</div>