<div class = "row row-form" style="margin-left: 0px !important;margin-right:  0px !important">
   <%= form_tag patient_update_step3_path(@clinic_history), method: :patch do %>
   <% if @clinic_history.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(@clinic_history.errors.count, "error") %> prohibited this clinic_history from being saved:</h2>
      <ul>
         <% @clinic_history.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
      </ul>
   </div>
   <% end %>
   <div class="row step1">

<h3 style="margin:0px 0px 20px 20px;color:gray" class="title-formulario"><%=get_open(@clinic_history.outcome_state).html_safe%> Diagnóstico y Tratamiento</h3>


      <div class="col-md-12">
         <h3 style="padding-left: 0px;">Diagnóstico</h3>
         <br>
         <div class="col-md-12">
            <div class="form-group">
               <%=label_tag "Descripción" %>
               <%= text_area_tag :diagnostic_hypothesis, @clinic_history.diagnostic_hypothesis , class: "form-control area" %>
            </div>
            <div class="form-group">
               <%=label_tag "" %> <span style="color:#888888  !important;font-weight: bold">DSMV</span>       
               <%= select_tag 'diagnostic_ids', options_for_select(get_diagnostic.collect{ |u| ["#{u.count} - #{u.name}", u.id] },{:selected=>@clinic_history.diagnostic_ids}), {:multiple => true,class: 'form-control chosen-select1'}%>
            </div>
  

             <div class="form-group">
              <%=label_tag "" %> <span style="color:#888888  !important;font-weight: bold">Diagnóstico Principal (CIE10)</span>
             <%= select_tag 'diagnostico_id', options_for_select(get_diagnostico.collect{ |u| ["#{u.codigo} - #{u.name}", u.id] },{:selected=>@clinic_history.diagnostico_id}), {:multiple => false,class: 'form-control chosen-select1', include_blank: true}%>
              
            </div>

            <div class="form-group">
               <%=label_tag "" %> <span style="color:#888888  !important;font-weight: bold">Diagnósticos Secundarios (CIE10)</span>  <br>   
               <%= select_tag 'diagnostico_ids', options_for_select(get_diagnostico.collect{ |u| ["#{u.codigo} - #{u.name}", u.id] },{:selected=>@clinic_history.diagnostico_ids}), {:multiple => true,class: 'form-control chosen-select1'}%>
            </div>

           

         </div>
         <div class="col-md-12">
            <br>
            <hr>
            <h3 style="padding-left: 0px; margin-left: 0px;">Objetivo Terapeoutico</h3>
            <br>
            <div class="form-group">
               <%= text_area_tag :therapeutic_goal, @clinic_history.therapeutic_goal , class: "form-control area" %>
            </div>
         </div>

         <div class="col-md-12">
            <br>
            <hr>
            <h3 style="padding-left: 0px; margin-left: 0px;">Tipo de Tratamiento</h3>
            <br>
            <div class="form-group">
               <%= text_area_tag :type_of_treatment, @clinic_history.type_of_treatment , class: "form-control area" %>
            </div>
         </div>


       <%Field.where(admin_user: current_user.admin_user).where(state: true).where(form: "Desenlace").order(id: :asc).each do |field| %>
                <div class="col-md-12">
            <br>
            <hr>
            <h3><%= field.name%></h3>
            <br>
            <%if field.type_field == "Textarea"%>
            <div class="form-group">
              <% if !CreteField.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).any? %>
               <%= text_area_tag "#{field.name}", nil , class: "form-control area" %>
              <%else%>
               <%= text_area_tag "#{field.name}", field.crete_fields.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).last.content , class: "form-control area" %>      

              <%end%>
               </div>
              <%else%>
            
            
            <div class="form-group">
              <% if !CreteField.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).any? %>
                 <%= select_tag field.name, options_for_select(field.fieldselects.collect{ |u| ["#{u.option}", u.option] },{:selected=>nil}), {:multiple => false,class: 'form-control', style: "width:50%"}%>
              <%else%>
                 <%= select_tag field.name, options_for_select(field.fieldselects.collect{ |u| ["#{u.option}", u.option] },{:selected=>field.crete_fields.where(clinic_history_id: @clinic_history.id).where(field_id: field.id).last.content }), {:multiple => false,class: 'form-control', style: "width:50%"}%>
      
                




              <%end%>
             
             </div>
             <%end%>  
              
            




         </div>
               

       <%end%>  


      </div>
      <%if action_name == "step3"%>
    
<%end%>

      <div class="row text-center">
         <div class="col-md-12">
            <div class="actions">
               <%=  submit_tag "Guardar", class: "btn-lg btn-primary btn-form" %>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>

