<div class="container hidden-md hidden-lg movil">
    <br>
      <div class="row">
        <ul class="list-group">
          <li class="list-group-item active" style="    padding-bottom: 19px;">Usuarios  

              <%= link_to  new_user_path, remote: true, style: "float: right;", class: "btn btn-primary new" do %>
                <i class="fas fa-plus-circle" style="color: #fff;"></i>
              <% end -%>

          </li> 

        <% @users.each do |user|%>
            <li class="list-group-item" style="padding: 10px 8px; ">
              <b><%=user.names%> <%=user.last_names%></b> <p class="name"><%=user.rol.name%></p> <p><%=user.email%></p>
        
            <div class="btn-group ">

            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-list"></i>  <i class="fas fa-sort-down" style="font-size: 19px;"></i>
                    
            </button>

           
              <div class="dropdown-menu dropdown-menu-right" style="font-size: 14px; min-width: 149px;"  >
                 <ul style="padding: 0px;">
                  
                  <ol style="padding-left: 5px;"><%= link_to show_user_path(user) do %>
                    <i class="far fa-eye" style="padding-left: 5px; color: #306C95;"></i> Mostrar Usuario
                    <% end -%>
                  </ol>
                    
                  <ol style="padding-left: 5px;"><%= link_to edit_user_path(user),remote: true do %>
                    <i class="fas fa-user-edit" style="padding-left: 5px; color: #306C95;"></i> Editar Usuario
                    <% end -%>
                  </ol>

                  
                      <ol style="padding-left: 5px;"><%= link_to delete_user_path(user), method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} do %>
                      <i class="fas fa-trash-alt" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Eliminar Usuario
                      <% end -%></ol>
                </ul>
              <% end -%>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
<style type="text/css">

    @media only screen and (max-width: 600px) {


      .movil{
        margin-left: 10px;
        margin-right: 10px;

      }


      b{
        margin-right: 25px;
        text-transform: capitalize;
      }

      .name{
        margin-right: 10px;
      }

      .btn-group{
        position: absolute;
        right:10px !important;
        top: 10px !important;


      }

      .t{
        font-size: 11px !important;
        width: 227px;

      }


}

</style>