<%= tinymce_assets %>
<div class="container-fluid">
   <div class="col-md-12">
      <div class="row margin-top-40" >
         <div class="col-md-12" style="padding-left: 50px;">
            <%= link_to "Volver al Usuario", show_user_path(@user.id)%>
         </div>
      </div>
      <div class="row text-center" style="padding: 20px 50px;">
         <div class="col-md-12">
            <h5>Actualizar Firma</h5>
         </div>

         <div class="col-md-12">
           <span class="span_firma"><%= radio_button_tag :tipo_firma, "Adjunta" , @adjunta, class: "radio_firma"  %>Adjunta</span>
              <span class="span_firma"><%= radio_button_tag :tipo_firma, "Firma Digital"  , @digital ,class: "radio_firma"  %>Firma Digintal  </span>
             <span class="span_firma"> <%= radio_button_tag :tipo_firma, "Ninguna" ,  @sinfirma,class: "radio_firma" %> Sin Firma </span>
            <hr>
         </div>
         <div class="col-md-6" style="border-right:1px solid gray">
           <h3 style="text-align:center">Firma Digital</h3>
           <hr>


           <div class="row">
           <div class="col-md-12">
             
           
             <%= form_tag crear_formato_path, multipart: true , method: :post, class: "" do %>
              <div class="form-group">

               <%= text_area_tag :signature_format, @user.signature_format, id: "mytextarea", :class => "tinymce" , :rows => 8, :cols => 10%>
               <%= tinymce %>
                
                  <%= hidden_field_tag :user_id, @user.id, id: "firma_adjunta "%>
               </div>
               <div class="form-group">
                  <%= submit_tag "Subir firma", class: "btn btn-primary"%>
              </div>
              <%end%>
              </div>
                </div> 
            <div class="clase_img text-left" >
               <img style="width: 250px" src="<%=@user.firma_psicologo%>" alt=""><br>
               <br>
               <p>Firma del Psicologo </p>
            </div>
            <div  class= "clase_form" >
               <div class="wrapper">
                  <canvas id="signature-pad" class="signature-pad" width=400 height=200 ></canvas>
               </div>
               <br>
               <div>
                  <%=form_tag crear_firma_psicologo_path, remote: true, class: "form_firma" do %>
                  <%= hidden_field_tag :firma_psicologo, nil, id: "firma_paciente"%>
                  <%= hidden_field_tag :user_id, @user.id, id: "firma_paciente"%>
                  <%= submit_tag "Confirmar", id: "save-png"%>
                  <%end%> 
                  <button id="clear">Limpiar</button>
                  <div class="alert alert-success" style="display:none;    padding: 4px;" role="alert">ยก Guardada !</div>
               </div>
            </div>

          
         </div>
         <div class="col-md-6 ">
           <h3 style="text-align:center">Firma Adjunta</h3>
           <hr>
           <br>
          <%= form_tag crear_firma_adjunta_path, multipart: true , method: :post, class: "form-inline" do %>
              <div class="form-group">
                  <%= file_field_tag :firma_adjunta %>
                  <%= hidden_field_tag :user_id, @user.id, id: "firma_adjunta"%>
               </div>
               <div class="form-group">
                  <%= submit_tag "Subir firma", class: "btn btn-primary"%>
              </div>
              
          <%end%>
          <br>
          <%= image_tag @user.firma_adjunta_url, style: "width:300px"%>
         </div>
      </div>
      <style>
         .form-inline
         {
          background: #e8e8e8;
          padding: 15px;
         }
         th
         {
         width: 50%;
         }
         h5
         {
         text-align: center;
         margin: 50px 20px 50px 20px;
         background: #5bc0de;
         color: white;
         padding: 12px;
         font-size: 36px;
         }
         .pdf
         {
         text-align: center;
         }
         .form_firma
         {
         display: inline-block;
         }
         .span_firma
         {
          margin-right: 10px;
         }
      </style>
   </div>
</div>

<style>
   th
   {
   width: 50%;
   }
</style>
<style>
   .wrapper {
   position: relative;
   width: 400px;
   height: 200px;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   }
   .signature-pad {
   position: absolute;
   left: 0;
   top: 0;
   width:400px;
   height:200px;
   border:1px solid whitesmoke;
   }
   .tinymce_p
   {
    margin: 0px !important;
   }
   .tinymce-content p {
    padding: 0 !important;
    margin: 0px 0 0 !important;
}
</style>
<script>
   $(document).on('turbolinks:load',function() {

     $('.radio_firma').on("change",function(){

          $.get("/users/cambiar_tipo_firma/"+ $(this).val() + "/<%=@user.id%>", function(data) {
        
               }).done(function() {
                   
                })


     });


     var canvas = document.getElementById('signature-pad');
     
                   // Adjust canvas coordinate space taking into account pixel ratio,
                   // to make it look crisp on mobile devices.
                   // This also causes canvas to be cleared.
                   function resizeCanvas() {
                       // When zoomed out to less than 100%, for some very strange reason,
                       // some browsers report devicePixelRatio as less than 1
                       // and only part of the canvas is cleared then.
                       var ratio =  Math.max(window.devicePixelRatio || 1, 1);
                       canvas.width = canvas.offsetWidth * ratio;
                       canvas.height = canvas.offsetHeight * ratio;
                       canvas.getContext("2d").scale(ratio, ratio);
                   }
     
                   window.onresize = resizeCanvas;
                   resizeCanvas();
     
                   var signaturePad = new SignaturePad(canvas, {
                   backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
                   });
     
                   document.getElementById('save-png').addEventListener('click', function () {
                   /*if (signaturePad.isEmpty()) {
                       return alert("Por favor ingresa la firma");
                   }*/
                   
                   var data = signaturePad.toDataURL('image/png');
                   console.log(data);
                   $('#firma_paciente').val(data);
                   signaturePad.clear();
                   
   
                   /*window.open(data);*/
                   });
     
                    
                   document.getElementById('clear').addEventListener('click', function () {
                   signaturePad.clear();
                   $('#firma_paciente').val("");
                   });
   
              
                   
                       
          
   
   
     
   
   
                   document.getElementById('draw').addEventListener('click', function () {
                   var ctx = canvas.getContext('2d');
                   console.log(ctx.globalCompositeOperation);
                   ctx.globalCompositeOperation = 'source-over'; // default value
                   });
     
                   document.getElementById('erase').addEventListener('click', function () {
                   var ctx = canvas.getContext('2d');
                   ctx.globalCompositeOperation = 'destination-out';
                   });


     tinymce.init({
 
  selector: "#mytextarea",  // change this value according to your HTML
  plugins: "spellchecker",
  menubar: "tools",
  toolbar: 'fontsizeselect',
  language: 'es',
  forced_root_block_attrs: { "style": "margin: 0px 0px;" },
  setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });

}
});



   
    });   



           
</script>