  <div id='cssmenu' style="margin-top: 10px;" >
      <ul>
          <li><%= link_to "Inicio", root_path%></li> 
          <li class="active"><%= link_to "Usuarios", users_index_path%></li>
      </ul>
  </div>
<div class="container  margin-top-40">
   <div class="row">
      <div class = "row title-table">
         <div class = "col-md-6" style="padding: 0px;">
            <p class="title-h2">Usuarios <span class="label label-primary"><%=@users.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @users, :entry_name => 'Usuarios' %></span> </p>
         </div>
         <div class = "col-md-2"  style="right: -44%; padding: 0px; width: 80px !important;">
            <%= link_to 'Nuevo', new_user_path, remote: true, class: "btn btn-primary hidden-xs hidden-sm"  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table hidden-xs hidden-sm">
            <thead>
               <tr class = "tr-table">
                  <th>Email</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Cédula</th>
                  <th>Registro Médico</th>
                  <th>Rol</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <% @users.each do |user|%>
               <tr>
                  <td><%=user.email%></td>
                  <td><%=user.names%></td>
                  <td><%=user.last_names%></td>
                  <td><%=user.document%></td>
                  <td><%=user.medical_record%></td>
                  <td><%=user.rol.name%></td>

                  <td><%= link_to show_user_path(user.id), :class => "btnl btn-info" do %>
                      <i class="far fa-eye" style = "font-size:20px;" aria-hidden="true"></i>
                    <% end -%>

                  <%= link_to  edit_user_path(user),remote: true,  :class => "btnl btn-warning" do %>
                     <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>
                  <% end %>

                <%= link_to  delete_user_path(user),method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, :class => "btnl btn-danger" do %>
                    <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
                    
                <% end %></td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>

<%= render "movil.htm.erb"%>
  
<div class = "col-md-4 paginate text-left title-table1">
  <%= will_paginate @users%>
</div>
<style type="text/css">
  @media only screen and (max-width: 600px) { 

      .title-h2{
       font-size: 17px;

      }
  } 
</style>
