<div class="container  margin-top-40">
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
            <p class="title-h2">Usuarios <span class="label label-primary"><%=@users.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @users, :entry_name => 'Usuarios' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @users%>
         </div>
         <div class = "col-md-2">
            <%= link_to 'Nuevo', new_user_path, remote: true, class: "btn btn-primary"  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
                  <th>Email</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Cedula</th>
                  <th>Registro Medico</th>
                  <th>Rol</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <% @users.each do |user|%>
               <tr>
                  <td><%=user.email%></td>
                  <td><%=user.names%></td>
                  <td><%=user.last_names%></td>
                  <td><%=user.document%></td>
                  <td><%=user.medical_record%></td>
                  <td><%=user.rol.name%></td>
                  <td>  <%= link_to  edit_user_path(user),remote: true,  :class => "btnl btn-warning" do %>
                    
                     <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>

                <% end %>
                <%= link_to  delete_user_path(user),method: :delete, data: { confirm: 'Are you sure?' }, :class => "btnl btn-danger" do %>
                    <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>

                    
                <% end %></td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>