<br>
<div class="container hidden-xs hidden-sm">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Perfil de Usuario<hr></div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-10">
              <span class="count">
                <label style="font-size: 12px;" class="lab">Pacientes Atendidos </label><br>
                <%=@patient.where(user_id:@user.id).count%>
              </span>

            </div>
			     <div class="col-md-2 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;"  width="100px" src="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/242/default-user-300x300.png">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%=@user.names%> <%=@user.last_names%></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span> <%=@user.email%><br>
                  <span class="text-muted">Fecha de Nacimiento:</span> <%=@user.birth_date%><br>
                  <span class="text-muted">Documento:</span> <%=@user.document%><br>
                  <span class="text-muted">Registro Medico:</span> <%=@user.medical_record%><br>
                  <span class="text-muted">Tarjeta Professional:</span> <%=@user.professional_card%><br>
                 
                </div>
                <div class="col-md-6" style="display:none">
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-comment text-muted"></i> 200
                  </div>
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-thumbs-up text-muted"></i> 2500
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
        

               <%= link_to  edit_user_registration_path(@user.id), :class => "btn btn-warning pull-right" do %>
                <i class="glyphicon glyphicon-pencil"></i>
                <span >Editar Usuario</span>
              <% end %>
                  
               <%= link_to  firma_psicologo_path(@user.id), :class => "btn btn-default pull-right" do %>
                <i class="fas fa-quidditch"></i>
              <span >Editar Firma</span>
              <% end %>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "show_movil"%>

<style>

.count{

  margin-left: 5px;
  border-radius: 4px;
  padding: 11px;
  position: absolute;
  bottom: -142px;
  font-size: 98px;
  color: gray;
  padding-right: 74px;

  

}

.lab{
  position: absolute;
  bottom: 5px;
}

.text-muted{
  font-weight: bold;
}

.btn{
  margin-right: 10px;
}

  h1{
    text-transform: capitalize;
  }
</style>