<div class="container margin-top-40">
<br>


<div class = "row row-form">
  <br>
<%= form_for([@patient, @clinic_history, two_child_history]) do |form| %>
  <% if two_child_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(two_child_history.errors.count, "error") %> prohibited this two_child_history from being saved:</h2>

      <ul>
      <% two_child_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2 style="margin:0px 20px;color:gray"> Historia Personal</h2>
<hr>
<h3 style="margin:0px 0px 20px 20px;color:gray">Antecedentes Escolares</h3>


<div class="row">
    <div class="col-md-4">
          <div class="form-group">
            <%= form.label "Nivel Escolar" %>
           

            <%val4 = "" 
 action_name == "edit" ? val4 = @two_child_history.nivel_escolar : val4 = "" %>
     <%= form.select 'nivel_escolar', options_for_select((['Jardin','Prescolar','Transición','Primero de Primaria']), val4), {},{:class => 'form-control'}%>
          </div>
    </div>
       <div class="col-md-4">
          <div class="form-group">
            <%= form.label "Indice academico" %>
            <%= form.text_field :indice_academico, id: :two_child_history_indice_academico, class: "form form-control" %>
          </div>
    </div>
    <div class="col-md-4">
          <div class="form-group">
            <%= form.label "Escuela" %>
            <%= form.text_field :escuela, id: :two_child_history_escuela, class: "form form-control" %>
          </div>
    </div>
        <div class="col-md-12">
          <div class="form-group">
            ¿ <%= form.label "Cómo fue el proceso de adaptación a la escuela ?" %>
            <%= form.text_field :adaptacion_escolar, id: :two_child_history_adaptacion_escolar, class: "form form-control" %>
          </div>
    </div>
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label "Problemas escolares (académicos), (conductales)" %>
            <%= form.text_field :problemas_escolares, id: :two_child_history_problemas_escolares, class: "form form-control" %>
          </div>
    </div>
            <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué le gusta mas de la escuela ?" %>
            <%= form.text_field :gustos_escolares, id: :two_child_history_gustos_escolares, class: "form form-control" %>
          </div>
    </div>
     <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué no le gusta de la escuela ?" %>
            <%= form.text_field :disgustos_escolares, id: :two_child_history_disgustos_escolares, class: "form form-control" %>
          </div>
    </div>
         <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Cómo es con las tareas ?" %>
            <%= form.text_field :tareas, id: :two_child_history_tareas, class: "form form-control" %>
          </div>
    </div>
         <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Cómo maneja los útiles escolares ?" %>
            <%= form.text_field :utiles_escolares, id: :two_child_history_utiles_escolares, class: "form form-control" %>
          </div>
    </div>
        <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué problemas posee a nivel de lectura, escritura, cálculo ?" %>
            <%= form.text_field :problemas_materias, id: :two_child_history_problemas_materias, class: "form form-control" %>
          </div>
    </div>
       <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Cómo ser ralaciona con la maestra ?" %>
            <%= form.text_field :relacion_maestro, id: :two_child_history_relacion_maestro, class: "form form-control" %>
          </div>
    </div>   <div class="col-md-12">
          <div class="form-group">
            ¿ <%= form.label "Cómo ser ralaciona con los compañeros ?" %>
            <%= form.text_field :relacion_companeros, id: :two_child_history_relacion_companeros, class: "form form-control" %>
          </div>
    </div>


</div>
<hr>
<div class="row"> <div class="col-md-12">

<h3 style="margin:0px 0px 20px 20px;color:gray">Aspectos de Socialización y afectivos</h3>

</div></div>


<div class="row">
 <div class="col-md-12">
          <div class="form-group">
             <%= form.label "¿Hace amigos con facilidad? (comunicativo, poco comunicativo, participa en grupo, tendencia al aislamiento, pasivo, agresivo, dependiente, independiente)" %>
            <%= form.text_field :frecuencia_amigos, id: :two_child_history_frecuencia_amigos, class: "form form-control" %>
          </div>
    </div>
     <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "De que edad son los niños con los que se realciona ?" %>
            <%= form.text_field :edad_amigos, id: :two_child_history_edad_amigos, class: "form form-control" %>
          </div>
    </div>
        <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué tipos de juegos realiza ?" %>
            <%= form.text_field :tipo_juegos, id: :two_child_history_tipo_juegos, class: "form form-control" %>
          </div>
    </div>
     <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué hace con otros niños del mismo sexo ?" %>
            <%= form.text_field :actividades_mismo_sexo, id: :two_child_history_actividades_mismo_sexo, class: "form form-control" %>
          </div>
    </div>
     <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Cómo se realciona con los niños de otro sexo ?" %>
            <%= form.text_field :actividades_otro_sexo, id: :two_child_history_actividades_otro_sexo, class: "form form-control" %>
          </div>
    </div>
     <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Por qué se pelea con otros niños ?" %>
            <%= form.text_field :pelea, id: :two_child_history_pelea, class: "form form-control" %>
          </div>
    </div>
       <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué lo hace feliz ?" %>
            <%= form.text_field :motivo_felicidad, id: :two_child_history_motivo_felicidad, class: "form form-control" %>
          </div>
    </div>
    <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué lo entristece ?" %>
            <%= form.text_field :motivo_tristeza, id: :two_child_history_motivo_tristeza, class: "form form-control" %>
          </div>
    </div>
        <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué lo enoja ?" %>
            <%= form.text_field :motivo_enojo, id: :two_child_history_motivo_enojo, class: "form form-control" %>
          </div>
    </div>

        <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Sobre que aspectos de la vida pregunta constantemente?" %>
            <%= form.text_field :motivos_pregunta, id: :two_child_history_motivos_pregunta, class: "form form-control" %>
          </div>
    </div>
 
       <div class="col-md-6">
          <div class="form-group">
            ¿ <%= form.label "Qué tan bien se baña, se viste, come, duerme, en la actualidad ?" %>
            <%= form.text_field :habitos, id: :two_child_history_habitos, class: "form form-control" %>
          </div>
    </div>
 
    </div>





<div class="row"><div class="col-md-12">

<h3 style="margin:0px 0px 20px 20px;color:gray">Intereses y pasatiempos</h3>

</div>
</div>


 <div class="row">

    <div class="col-md-12">
          <div class="form-group">
            ¿ <%= form.label "Qué le gusta hacer en su tiempo libre?" %>
            <%= form.text_field :tiempo_libre, id: :two_child_tiempo_libre, class: "form form-control" %>
          </div>
    </div>
    <div class="col-md-12">
          <div class="form-group">
            ¿ <%= form.label "Qué hace cuando esta solo?" %>
            <%= form.text_field :hace_solo, id: :two_child_hace_solo, class: "form form-control" %>
          </div>
    </div>
      <div class="col-md-12">
          <div class="form-group">
            ¿ <%= form.label "Qué no le gusta hacer?" %>
            <%= form.text_field :no_gusta, id: :two_child_no_gusta, class: "form form-control" %>
          </div>
    </div>
          <div class="col-md-12">
          <div class="form-group">Qué tipo de deportes le gustan
            ¿ <%= form.label "Qué tipo de deportes le gustan?" %>
            <%= form.text_field :deportes, id: :two_child_deportes, class: "form form-control" %>
          </div>
    </div>
          <div class="col-md-12">
          <div class="form-group">
            ¿ <%= form.label "Cuales son sus juegos favoritos? ¿ Alguan vez a jugado al doctor, mamá y papá ?" %>
            <%= form.text_field :juegos, id: :two_child_juegos, class: "form form-control" %>
          </div>
    </div>
        <div class="col-md-12">
          <div class="form-group">
            ¿ <%= form.label "Qué programas de televisión mira?" %>
            <%= form.text_field :programa_tv, id: :two_child_programa_tv, class: "form form-control" %>
          </div>
    </div>





  <div class="row text-center">
<div class="col-md-12">
   <div class="actions">
    <%= form.submit "Guardar", class: "btn-lg btn-primary btn-form" %>

    
  </div>
  </div>
  </div>
<% end %>
</div>
  
</div>