<p id="notice"><%= notice %></p>

<p>
  <strong>Nivel escolar:</strong>
  <%= @two_child_history.nivel_escolar %>
</p>

<p>
  <strong>Indice academico:</strong>
  <%= @two_child_history.indice_academico %>
</p>

<p>
  <strong>Escuela:</strong>
  <%= @two_child_history.escuela %>
</p>

<p>
  <strong>Adaptacion escolar:</strong>
  <%= @two_child_history.adaptacion_escolar %>
</p>

<p>
  <strong>Problemas escolares:</strong>
  <%= @two_child_history.problemas_escolares %>
</p>

<p>
  <strong>Gustos escolares:</strong>
  <%= @two_child_history.gustos_escolares %>
</p>

<p>
  <strong>Disgustos escolares:</strong>
  <%= @two_child_history.disgustos_escolares %>
</p>

<p>
  <strong>Tareas:</strong>
  <%= @two_child_history.tareas %>
</p>

<p>
  <strong>Utiles escolares:</strong>
  <%= @two_child_history.utiles_escolares %>
</p>

<p>
  <strong>Problemas materias:</strong>
  <%= @two_child_history.problemas_materias %>
</p>

<p>
  <strong>Relacion maestro:</strong>
  <%= @two_child_history.relacion_maestro %>
</p>

<p>
  <strong>Relacion companeros:</strong>
  <%= @two_child_history.relacion_companeros %>
</p>

<p>
  <strong>Frecuencia amigos:</strong>
  <%= @two_child_history.frecuencia_amigos %>
</p>

<p>
  <strong>Edad amigos:</strong>
  <%= @two_child_history.edad_amigos %>
</p>

<p>
  <strong>Tipo juegos:</strong>
  <%= @two_child_history.tipo_juegos %>
</p>

<p>
  <strong>Actividades mismo sexo:</strong>
  <%= @two_child_history.actividades_mismo_sexo %>
</p>

<p>
  <strong>Actividades otro sexo:</strong>
  <%= @two_child_history.actividades_otro_sexo %>
</p>

<p>
  <strong>Pelea:</strong>
  <%= @two_child_history.pelea %>
</p>

<p>
  <strong>Motivo felicidad:</strong>
  <%= @two_child_history.motivo_felicidad %>
</p>

<p>
  <strong>Motivo tristeza:</strong>
  <%= @two_child_history.motivo_tristeza %>
</p>

<p>
  <strong>Motivo enojo:</strong>
  <%= @two_child_history.motivo_enojo %>
</p>

<p>
  <strong>Motivos pregunta:</strong>
  <%= @two_child_history.motivos_pregunta %>
</p>

<p>
  <strong>Habitos:</strong>
  <%= @two_child_history.habitos %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @two_child_history.admin_user %>
</p>

<p>
  <strong>User:</strong>
  <%= @two_child_history.user_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @two_child_history.patient_id %>
</p>

<p>
  <strong>Clinic history:</strong>
  <%= @two_child_history.clinic_history_id %>
</p>

<%= link_to 'Edit', edit_two_child_history_path(@two_child_history) %> |
<%= link_to 'Back', two_child_histories_path %>
