

<div class="row sign_form">
<div class="col-lg-4 col-lg-offset-4 login1">
<p class = "logop text-center" style = "color:#9a9a9a;    font-size: 30px"><img style= "width:200px;" id="slack" src="https://farm5.staticflickr.com/4539/38260696042_45b37e8f87_n.jpg"></p>
<br>

<h3 class="text-center linka" style="color:gray">Restablecer contrase単a</h3><br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nueva contrase単a" %><br />
    
      <em>(Debe tener minimo 6 caracteres)</em><br />

    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar nueva contrase単a" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form form-control"  %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Cambiar mi contrase単a" , class: "btn btn-primary btn-block"%>
  </div>
<% end %>

</div>

</div>