  <div id='cssmenu' style="margin-top: 10px;" >
      <ul>
          <li><%= link_to "Inicio", root_path%></li> 
          <li class="active"><%= link_to "Convenios", agreements_path%></li>
      </ul>
  </div>
<div class="container margin-top-40">
   <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6" style="padding: 0px;">
            <p>Convenios <span class="label label-primary"><%=@agreements.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @agreements, :entry_name => 'Convenio' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @agreements%>
         </div>
         <div class = "col-md-2">
            <%= link_to 'Nuevo Convenio', new_agreement_path,remote:true, class: "btn btn-primary"  %>
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      <th>Nombre</th>
      <th>Descripción</th>
 <th width="10%" ></th>
 
    </tr>
  </thead>

  <tbody>
  
    <% @agreements.each do |agreement| %>
      <tr>
        <td><%= agreement.name %></td>
        <td><%= agreement.description %></td>
       
      
        <td> <%= link_to  edit_agreement_path(agreement),remote: true,  :class => "btnl btn-warning" do %>
                    
                     <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>

                <% end %>
                <%= link_to  agreement,method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, :class => "btnl btn-danger" do %>
                    <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>

                    
                <% end %></td>
      </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
</div>