<table class="table1">
	<tbody>
		<tr style="height:100px">
	      <td class="text-center" style="width:20%"></td>
	      <td class="text-center" style="width:60%;font-size:20px;text-align: center;font-weight: bold"> HISTORIA FAMILIAR  </td>
	      <td class="text-center imgedit" style="width:20%;font-size:20px;text-align: center"> </td>
	   </tr>
	</tbody>
</table>

<h3 class="h3">Datos de los Pacientes (<% @clinic_history_family.patients.each do |patient| %>  
           <%= patient.first_name + " " + patient.first_last_name + "," %>
          <% end %>)</h3>
<% @clinic_history_family.patients.each do |patient| %>
	<table class="table table-responsive">
	   <tr>
	   	 <h3 class="h3">Nombre: <%= patient.first_name %> <%= patient.first_last_name %> </h3>
	      <td> <strong> Nombres</strong><br> <%= patient.first_name %> <%= patient.second_name %> </td>
	      <td> <strong>Apellidos</strong><br> <%= patient.first_last_name%> <%= patient.second_last_name %> </td>
	      <td> <strong>Documento</strong><br> <%=  type_document(patient.document_type) %> -  <%=patient.document %> </td>
	      <td> <strong>Fecha de Nacimiento:</strong><br> <%= patient.birth_date %> </td>
	   </tr>

	    <tr>
	      <% year = patient.age == 1 ? "Año" : " Años"
	         month = patient.birthdate_month == 1 ? " Mes" : " Meses"
	         day =  patient.birthdate_day == 1 ?  " Día" : " Días"
	         %>
	      <td> <strong>Edad:</strong> <br><%= patient.age.to_s + year  %> <%= patient.birthdate_month.to_s + month   %> <%= patient.birthdate_day.to_s +  day %></td>
	      <td> <strong>Ciudad:</strong> <br><%= patient.city %> </td>
	      <td> <strong>Dirección de Residencia</strong> <br><%= patient.address %> </td>
	      <td> <strong>Teléfono fijo:</strong><br> <%= patient.phone %> </td>
	   </tr>

	    <tr>
      	  <td> <strong>Teléfono Móvil:</strong> <br><%= patient.movil %> </td>
	      <td> <strong>Email</strong><br> <%= patient.email %> </td>
	      <td> <strong>Ocupación:</strong><br> <%= patient.occupation %> </td>
	      <td> <strong>Profesión:</strong> <br><%= patient.profession %> </td>
	   </tr>

		<tr>
	      <td> <strong>Género:</strong> <br><%= patient.gender %> </td>
	      <td> <strong>Estado Civil</strong><br> <%= patient.civil_status %> </td>
	      <td> <strong>Grupo sanguíneo:</strong><br> <%= patient.blood_type %> </td>
	      <td> <strong>Grupo Étnico:</strong> <br><%= patient.ethnic_group %> </td>
	   </tr>

	    <tr>
	      <td> <strong>Eps:</strong> <br><%= patient.hpc.name if patient.hpc %>  </td>
	      <td> <strong>Convenio</strong><br><%= patient.agreement.name if patient.agreement %> </td>
	      <td> <strong>Nombre Contacto:</strong> <br><%= patient.contact_name %> </td>
	      <td> <strong>Teléfono Contacto</strong> <br> <%= patient.contact_phone %> </td>
	   </tr>


	</table>
<% end -%>

<% if !@clinic_history_family.family_group.any? %>

<% else %>
	<h3 class="h3">Familiares que no han sido ingresados como pacientes </h3>
		<% @clinic_history_family.family_group.each do |familia| %>
			<table class="table table-responsive">

			    <tr>
		      	  <td> <strong>Nombre: </strong> <br><%= familia.name %> </td>
			      <td> <strong>Apellido: </strong><br> <%= familia.last_name %> </td>
			      <td> <strong>Documento: </strong><br> <%= familia.document_number %> </td>
			      <td> <strong>Edad: </strong> <br><%= familia.age %> </td>
			   </tr>

			   	<tr>
		      	  <td> <strong>Sexo: </strong> <br><%= familia.sex %> </td>
			      <td> <strong>Estado Civil: </strong><br> <%= familia.civil_status %> </td>
			      <td> <strong>Ocpacion: </strong><br> <%= familia.occupation %> </td>
			      <td> <strong>Parentesco: </strong> <br><%= familia.relationship %> </td>
			   </tr>

			</table>
		<% end -%>
<% end -%>


<% if !@seguimientos.any? %>

<% else %>
<h3 class="h3">Seguimientos</h3>
	
	<% @seguimientos.each do |seguimientos| %>
		<table class="table table-responsive">

			   <tr>
				 <td> <strong>Fecha del Seguimiento: </strong> <br><%= seguimientos.tracing_date %> </td>   	
		      	 <td> <strong>Descripcion: </strong> <br><%= seguimientos.description %> </td>
			     <td> <strong>Observaciones: </strong><br> <%= seguimientos.observation %> </td>
			     <td> <strong>Evolucion: </strong><br> <%= seguimientos.evolution %> </td>
			  </tr>

		</table>
	<% end -%>
<% end -%>


<% if !@documentos_tool.any? %>

<% else %>
<h3 class="h3">Gestion Documental Familiar</h3>

	<% @documentos_tool.each do |documentos| %>
		<table class="table table-responsive">

			   <tr>
				 <td> <strong>Tipo de Herramienta: </strong> <br><%= documentos.tool_type %> </td>   	
		      	 <td> <strong>Descripcion: </strong> <br><%= documentos.descripcion %> </td>
			  </tr>

		</table>
	<% end -%>
<% end -%>

<% if !@documentos_diagnostic.any? %>

<% else %>
	<h3 class="h3">Gestion Diagnostico Familiar</h3>

	<% @documentos_diagnostic.each do |documentos| %>
		<table class="table table-responsive">

			   <tr>
				 <td> <strong>Tipo de Herramienta: </strong> <br><%= documentos.tool_type %> </td>   	
		      	 <td> <strong>Descripcion: </strong> <br><%= documentos.descripcion %> </td>
			  </tr>

		</table>
	<% end -%>
<% end -%>

<% if !@documentos_legal.any? %>

<% else %>
<h3 class="h3">Gestion Legal Familiar</h3>

	<% @documentos_legal.each do |documentos| %>
		<table class="table table-responsive">

			   <tr>
				 <td> <strong>Tipo de Herramienta: </strong> <br><%= documentos.tool_type %> </td>   	
		      	 <td> <strong>Descripcion: </strong> <br><%= documentos.descripcion %> </td>
			  </tr>

		</table>
	<% end -%>
<% end -%>


<style type="text/css" media="screen">

.table1{
   border-collapse: collapse;
   color: #7a7a7a;
   border:1px solid #0000;
   font-size:16px !important;
   width: 1100px;
}   
.table1 td{
   padding: 6px 20px;
   width:25%;
   border:1px solid #cecece;
   font-size:18px !important;
}

.table1 th{
   padding: 6px 20px;
   width:25%;
   border:1px solid #cecece;
}

.h3{
   color: #ffffff;
   width: 80%;
   background: #5bc0de;
   padding: 6px;
   width: 1100px;
   
}

</style>