
<div class="row margin-top-40" >
  
   <div class="col-md-10" style="padding-left: 10px;">
    <div id='cssmenu'>
       <ul>
          <li><%= link_to "inicio", root_path%></li> 
          <li class="active"><%= link_to "Citas", @appointments_path%></li>
      </ul>
    </div>
   </div>
   <div class="col-md-2">
       <%= link_to "Crear Cita", new_calendar_path(Time.now), remote:true , class:"btn btn-primary"%></li>
   </div>
</div>


<div class="container">

<br>

<ul class="nav nav-tabs">
  <li class="active"><%=link_to "Lista", citas_path %></li>
  <li ><%=link_to "Calendario", citas_calendar_path %></li>

</ul>

 


<div class="row">
<div class="col-md-12" style="padding: 0px 50px 0px 50px">


 <div class="row" >
      <div class = "row ">
        <br>
         <div class = "col-md-5 title-table" style="padding: 0px;">
    
            <p>Citas <span class="label label-primary"><%=@appointments.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @appointments, :entry_name => 'Citas' %></span></p>
          
         </div>
          <div class="col-md-1">
             <%= link_to citas_pdf_path(@params, @params1, :format => "pdf" )  , class: "" ,target: :_blank do%><img src="http://iconbug.com/data/5b/507/52ff0e80b07d28b590bbc4b30befde52.png" width="30px" alt="">
      <%end%>
          </div>
            <%= form_tag  citas_path, :method => 'get' do%>
              <div class="col-md-2" style=" right: -162px;">
                <%= select_tag 'search', options_for_select(get_patient.collect{ |u| ["#{u.first_name} #{u.second_name}", u.id] },{}), {:multiple => false,class: 'form-control', include_blank: "Paciente"}%>
              </div>
                <div class="input-group" style="width: 10px; right: -172px;">
                  <%= date_field_tag "search1",{
                      :start_year =>
                      Time.now.year,
                      :end_year => 1900,
                      :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
                      :use_short_month => true,
                      :order => [:day, :month, :year],
                      :prompt => {:month => 'Mes', :day => 'Dia', :year => 'Año'}},
                      {:class => 'year form-control line1 required',
                      :id => 'patient_birth_date' , :title => "Es un Campo Obligatorio" }
                      %>
                      <span class="input-group-btn">
                        <%= button_tag class: "btn btn-info" do%>
                          <i class="fas fa-search"></i>
                        <% end -%>
                    </span>
                </div>
            <% end -%>
         </div>
      </div>

      
    
      <hr class="hr">

      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      
    <th style= "width:20%">Fecha</th>
      <th style= "width:10%">Paciente</th>
      <th style= "width:10%">Eps</th>
      <th style= "width:10%">Convenio</th>
      <th style= "width:20%">Observaciones</th>
      <th style= "width:10%">Estados</th>
      <th style= "width:10%">Acciones</th>
    </tr>
  </thead>

  <tbody>
     <% @appointments.each do |appointment| %>
      <tr>
        <td><%= get_only_date(appointment.start_datetime) %><br><%= get_date_hora_only(appointment.start_datetime) %></td>
               <td><%= appointment.patient.first_name %> <%= appointment.patient.first_last_name %></td>
        <td><%= appointment.patient.hpc.name %></td>
        <td><%= appointment.patient.agreement.name %></td>
         <td><%= appointment.observations %></td>
      <td><%= appointment.state %>
                     <%if appointment.state == "Cancelada"%>
                <button type="button" class="btn btn-danger btn-lg" style="padding: 0px 6px;font-size: 15px;" data-toggle="modal" data-target="#myModal<%=appointment.id%>">
  ?
</button>

<div class="modal fade" id="myModal<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Razon de Cancelacion</h4>
      </div>
      <div class="modal-body">
        <%=appointment.reason_cancel%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
     
      </div>
    </div>
  </div>
</div>
             <%end%>


      </td>
   <td>

        <%if current_user.rol.show_cita %>
       <%= link_to  patient_appointment_path(appointment.patient_id, appointment), class: "btnl btn-primary" do%>
             <i class="fa fa-eye" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
      <%end%>
         <%if current_user.rol.edit_cita%>
          <%= link_to  edit_patient_appointment_path(appointment.patient_id, appointment), remote:true , class: "btnl btn-warning" do%>
             <i class="fas fa-edit" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
<%end%>
        <%if current_user.rol.delete_cita%>
      <%= link_to  patient_appointment_path(appointment.patient_id, appointment), method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btnl btn-danger" do%>
             <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
 <%end%>
             </td>
      </tr>
               <%end%>
            </tbody>
         </table>
            <div class = "col-md-4 paginate text-left title-table1">
              <%= will_paginate @appointments%>  
            </div>
      </div>

  
           
</div>


  </div>
</div>
</div>
