



<div class="container margin-top-40">


   <div class="row">
  <div class = "col-md-6">
  
       
          <h2 class="title-h2">Citas</h2>
            
         </div>
</div> 

<br>
 <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Calendario</a></li>
  <li><a data-toggle="tab" href="#menu1">Lista</a></li>

</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">




    <h3>CITAS</h3>

     <div class="row">
<div class="col-md-12" style="padding: 0px 50px 0px 50px">
 <div id="calendar"></div> 


</div>
  
</div>

  </div>
  <div id="menu1" class="tab-pane fade">

  <div class="row" >
      <div class = "row title-table">
         <div class = "col-md-6">
    
            <p>Citas <span class="label label-primary"><%=@appointments.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @appointments, :entry_name => 'Citas' %></span> </p>
         </div>
         <div class = "col-md-4 paginate text-left title-table1">
            <%= will_paginate @appointments%>
         </div>
         <div class = "col-md-2">
 
         </div>
      </div>
      <hr class="hr">
      <div class = "row">
         <table class="table">
            <thead>
               <tr class = "tr-table">
      
      <th style= "width:20%">Fecha</th>
      <th style= "width:20%">Paciente</th>
      <th style= "width:20%">Lugar</th>
      <th style= "width:20%">Observaciones</th>
      <th style= "width:20%">Acciones</th>
    </tr>
  </thead>

  <tbody>
     <% @appointments.each do |appointment| %>
      <tr>
        <td><%= get_date_hora(appointment.start_datetime) %></td>
               <td><%= appointment.patient.first_name %> <%= appointment.patient.first_last_name %></td>
        <td><%= appointment.place %></td>
         <td><%= appointment.observations %></td>

   <td>

        <%if current_user.rol.show_cita %>
       <%= link_to  patient_appointment_path(appointment.patient_id, appointment), class: "btnl btn-primary" do%>
             <i class="fa fa-eye" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
      <%end%>
         <%if current_user.rol.edit_cita%>
          <%= link_to  edit_patient_appointment_path(appointment.patient_id, appointment), remote:true , class: "btnl btn-warning" do%>
             <i class="fa fa-pencil" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
<%end%>
        <%if current_user.rol.delete_cita%>
      <%= link_to  patient_appointment_path(appointment.patient_id, appointment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btnl btn-danger" do%>
             <i class="fa fa-trash" style = "font-size:20px;" aria-hidden="true"></i>
             <%end%>
 <%end%>
             </td>
      </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
  </div>

</div>
</div>



