



  <div class="row" style = "padding: 10px 45px;">    
<div class = "row title-table">
    <div class = "col-md-8">
            <p>CITAS <span class="label label-primary"><%=@appointments.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @appointments, :entry_name => 'Citas' %></span> </p>
         </div>
       
         <div class = "col-md-4">

            <%= link_to 'Nueva Cita', new_patient_appointment_path(@patient.id),remote:true, class: "btn btn-primary"  %>
         
         </div>
           <div class = "col-md-12 paginate text-left title-table1">
            <%= will_paginate @appointments%>
         </div>
      </div>
    
       
      <div class = "row">


 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Vigentes</a></li>
    <li><a data-toggle="tab" href="#menu1">Historial</a></li>

  </ul>

  <br>


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
               <% @appointments.where(state: "Vigente").each do |appointment| %>
    
             <% color = appointment.state == "Vigente" ? "success" : "danger" %>
             <% color_text = appointment.state == "Vigente" ? "#46765a" : "#a94442" %>

      <div class="col-md-4">
          <div class="panel panel-<%=color%>">


              <div class="panel-heading" ><i class="fa fa-calendar" style = "font-size:20px;" aria-hidden="true"></i>    <%=get_date_hora(appointment.start_datetime)%><span style="float:right"> <%= link_to edit_patient_appointment_path(appointment.patient_id, appointment), remote:true ,class:"icon", style: "color: #{color_text}" do  %>



        <i class="fa fa-pencil" aria-hidden="true"></i><%end%>


                    <%= link_to patient_appointment_path(appointment.patient_id, appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:"icon", style: "color: #{color_text}" do %>
        <i class="fa fa-trash" aria-hidden="true"></i><%end%></span></h3>
              </div>
              <div class="panel-body" style="height: 100px;max-height: 100px;overflow: hidden;padding-bottom:10px;">
                
               
                <strong>Observaciones:</strong> <%=appointment.observations%><br><br>
                <strong>Estado:</strong> <%=appointment.state%>
                <%if appointment.state == "Cancelada"%>
                <button type="button" class="btn btn-danger btn-lg" style="padding: 0px 6px;font-size: 15px;" data-toggle="modal" data-target="#myModal<%=appointment.id%>">
  ?
</button>

<div class="modal fade" id="myModal<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Razon de Cancelacion</h4>
      </div>
      <div class="modal-body">
        <%=appointment.reason_cancel%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
     
      </div>
    </div>
  </div>
</div>
<%end%>
              </div>
          </div>
      </div>


     <%end%>

    </div>
    <div id="menu1" class="tab-pane fade">
               <% @appointments.where("state != ?", "Vigente").each do |appointment| %>
    
             <% color = appointment.state == "Vigente" ? "success" : "danger" %>
             <% color_text = appointment.state == "Vigente" ? "#46765a" : "#a94442" %>

      <div class="col-md-4">
          <div class="panel panel-<%=color%>">


              <div class="panel-heading" ><i class="fa fa-calendar" style = "font-size:20px;" aria-hidden="true"></i>    <%=get_date_hora(appointment.start_datetime)%><span style="float:right"> <%= link_to edit_patient_appointment_path(appointment.patient_id, appointment), remote:true ,class:"icon", style: "color: #{color_text}" do  %>



        <i class="fa fa-pencil" aria-hidden="true"></i><%end%>


                    <%= link_to patient_appointment_path(appointment.patient_id, appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:"icon", style: "color: #{color_text}" do %>
        <i class="fa fa-trash" aria-hidden="true"></i><%end%></span></h3>
              </div>
              <div class="panel-body" style="height: 100px;max-height: 100px;overflow: hidden;padding-bottom:10px;">
                
               
                <strong>Observaciones:</strong> <%=appointment.observations%><br><br>
                <strong>Estado:</strong> <%=appointment.state%>
                <%if appointment.state == "Cancelada"%>
                <button type="button" class="btn btn-danger btn-lg" style="padding: 0px 6px;font-size: 15px;" data-toggle="modal" data-target="#myModal<%=appointment.id%>">
  ?
</button>

<div class="modal fade" id="myModal<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Razon de Cancelacion</h4>
      </div>
      <div class="modal-body">
        <%=appointment.reason_cancel%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
     
      </div>
    </div>
  </div>
</div>
<%end%>
              </div>
          </div>
      </div>


     <%end%>
   </div>

  </div>

        

          
      </div>





 </div>



<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: white !important;
    background-color: #5bc0de !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
  
</style>

