
<%if @appointments.count != 0%>



  <div class="row" style = "padding: 10px 45px;">    
<div class = "row title-table">
    <div class = "col-md-8">
            <p>CITAS <span class="label label-primary" ><%=@appointments.count%></span> <span style = "font-size:12px;margin-left:20px;"> <!--<%= page_entries_info @appointments, :entry_name => 'Citas' %>--></span></p>
         </div>
       
         <div class = "col-md-4 text-right">

            <%= link_to 'Nueva Cita', new_patient_appointment_path(@patient.id),remote:true, class: "btn btn-primary"  %>
         
         </div>
           <!--<div class = "col-md-12 paginate text-left title-table1">
            <%= will_paginate @appointments%>
         </div>-->
      </div>
    
       <br>
      <div class = "row">


 <ul class="nav nav-tabs" style="margin-left: 15px;">
    <li class="active"><a data-toggle="tab" href="#home">Abiertas</a></li>
    <li><a data-toggle="tab" href="#menu1">Historial</a></li>

  </ul>

  <br>


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
         


            <%if @appointment_abiertas.count != 0%>

     <p  style="margin-top: 10px;">
      <span class="exp"><i class="fas fa-calendar-check"></i></i> Citas Vigentes</span>
      <span class="exp1"><i class="fas fa-calendar-times"></i></i> Citas Vencidas</span>
      </p>

    <br>
                                  <% @appointment_abiertas.each do |appointment| %>
                                



                                <% color = appointment.state == "Vigente"  ? "success" : "danger" %>
                                <% color_text = appointment.state == "Vigente" ? "#46765a" : "#a94442" %>

                          <div class="col-md-6">
                              <div class="panel panel-<%=color%>">


                                  <div class="panel-heading" ><i class="fa fa-calendar" style = "font-size:20px;" aria-hidden="true"></i><%=appointment.start_datetime%>    <%=get_date_hora(appointment.start_datetime)%>
                                  </div>
                                  <div class="panel-body" style="height: 100px;max-height: 100px;overflow: auto;padding-bottom:10px;">
                                    
                                  
                                    <strong>Observaciones:</strong> <%=appointment.observations%><br><br>

                                    <%appointment.tasks.each do |task|%>
                                        
                                        <%= task.description%>

                                    <%end%>
                                    
                                    <%if appointment.state == "Cancelada"%>
                                    <button type="button" class="btn btn-danger btn-lg" style="padding: 0px 6px;font-size: 15px;" data-toggle="modal" data-target="#myModal<%=appointment.id%>">
                      ?
                    </button>

                    <div class="modal fade" id="myModal<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Razon de Cancelacion</h4>
                          </div>
                          <div class="modal-body">
                            <%=appointment.reason_cancel%>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        
                          </div>
                        </div>
                      </div>
                    </div>
                    <%end%>
                                  </div>
                                   <div class="panel-heading text-right" style="padding: 0px 15px;">
                                   <%= link_to edit_patient_appointment_path(appointment.patient_id, appointment), remote:true ,class:"icon", style: "color: #{color_text}" do  %>



                            <i class="fas fa-edit" aria-hidden="true"></i><%end%>


                                        <%= link_to patient_appointment_path(appointment.patient_id, appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:"icon", style: "color: #{color_text}" do %>
                            <i class="fa fa-trash" aria-hidden="true"></i><%end%></span>
                                   </div>
                              </div>
                          </div>


                        <%end%>

            <%else%>
             <div class="row">
                  <div class="col-md-12 np">


                  <h3>! NO HAY CITAS VIGENTES ยก</h3>
                  
                  <%= link_to "CREA CITA", new_patient_appointment_path(@patient.id),remote:true, class: "btn btn-primary"  %>
                  
                  </div>
      
    </div>
            <%end%>            
 
    </div>
    <div id="menu1" class="tab-pane fade">


     <p  style="margin-top: 10px;">
      <span class="exp"><i class="fas fa-calendar-check"></i> Citas realizadas</span>
      <span class="exp1"><i class="fas fa-calendar-times"></i> Citas canceladas</span>
      <span class="exp2"><i class="fas fa-calendar-minus"></i> Citas sin asistencia</span>
      </p>

    <br>
               <% @appointment_cerradas.each do |appointment| %>
             <% if appointment.state == "Realizada"
                
                color = "success"
                color_text = "#46765a"

               elsif  appointment.state == "Cancelada"
                
                color = "danger"
                color_text = "#46765a"

               else

                color = "warning"
                color_text = "#8a6d3b"

              end %>

            

      <div class="col-md-4">
          <div class="panel panel-<%=color%>">


              <div class="panel-heading" ><i class="fa fa-calendar" style = "font-size:20px;" aria-hidden="true"></i>    <%=get_date_hora(appointment.start_datetime)%>
              </div>
              <div class="panel-body" style="height: 80px;max-height: 80px;overflow: hidden;padding-bottom:10px;">
                
               
                <strong>Observaciones:</strong> <%=appointment.observations%><br><br>
                <strong>Estado:</strong> <%=appointment.state%>
                <%if appointment.state == "Cancelada"%>
                <button type="button" class="btn btn-danger btn-lg" style="padding: 0px 6px;font-size: 15px;" data-toggle="modal" data-target="#myModal<%=appointment.id%>">
  ?
</button>

<div class="modal fade" id="myModal<%=appointment.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Razon de Cancelacion</h4>
      </div>
      <div class="modal-body">
        <%=appointment.reason_cancel%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
     
      </div>
    </div>
  </div>
</div>


<%end%>
              </div>
              <div class="panel-heading text-right" style="padding: 0px 15px;">
                                   <%= link_to edit_patient_appointment_path(appointment.patient_id, appointment), remote:true ,class:"icon", style: "color: #{color_text}" do  %>



                            <i class="fas fa-edit" aria-hidden="true"></i><%end%>


                                        <%= link_to patient_appointment_path(appointment.patient_id, appointment), method: :delete, data: { confirm: 'Are you sure?' }, class:"icon", style: "color: #{color_text}" do %>
                            <i class="fa fa-trash" aria-hidden="true"></i><%end%></span>
                                   </div>
          </div>
      </div>


     <%end%>
   </div>

  </div>

        

          
      </div>





 </div>
<%else%>
 <div class="row">
        <div class="col-md-12 np">


        <h3>! AUN NO HAY CITAS ยก</h3>
        
        <%= link_to "CREA LA PRIMERA", new_patient_appointment_path(@patient.id),remote:true, class: "btn btn-primary"  %>
        
        </div>
      
    </div>
<%end%>
<style>
  .np
{
    text-align: center;
    color: gray;
    background: #f4f4f4;
    font-size: 40px;
    padding: 30px 0px;


}
.np h3
{ 
  
    font-size: 30px;
    margin-bottom: 30px;
  

}
.crear_paciente
{
  font-size: 20px;
  padding: 20px;
 
}
.exp
{
    padding: 5px;
    color: #46765a;
}
.exp1
{
    padding: 5px;
    color: #a94442;
}
.exp2
{
    padding: 5px;
    color: #8a6d3b;
}
</style>


<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: white !important;
    background-color: #5bc0de !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
  
</style>

