<p id="notice"><%= notice %></p>

<p>
  <strong>Start datetime:</strong>
  <%= @appointment.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @appointment.end_datetime %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @appointment.observations %>
</p>

<p>
  <strong>Place:</strong>
  <%= @appointment.place %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @appointment.admin_user %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_id %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @appointment.attachment %>
</p>

