    <div id='cssmenu' style="margin-top: 30px;" >
      <ul>
          <li><%= link_to "Inicio", root_path%></li> 
          <li class="active"><%= link_to "Citas", citas_path%></li>
      </ul>
    </div>
<div class="container">
  <div class="row">

</div>



<br><br><div class="row">
                       <div class="col-md-4 ">
                     <p>
  <strong style="font-size:20px">Paciente:</strong>
 <span style="font-size:20px"> <%= @appointment.patient.first_name %> <%= @appointment.patient.first_last_name %></span>
</p>




 </div>

 <% a =  get_date_array(@appointment.start_datetime)%>
 <div class="row">

                  <div class="col-md-8" style="color:gray">
                   <img style = "width:135px" src="https://blog.rankwatch.com/wp-content/uploads/2017/09/if_calendar-clock_299096-1.png" alt="">
                     <% if @appointment != nil%>
                     <span style="font-size:70px;"><%=a[5] %></span><br>
                     <span style="font-size:20px;"><%=a[1]%> <%= a[0] %> de <%= a[2]%> de <%= a[4] %></span>
                     <%else%>
                     <span style="font-size:20px;position: relative;
                        top: 50px;">No hay citas programadas</span>
                     <%end%>  
                  </div>  </div> 
<br><br><div class="row">
                       <div class="col-md-4 ">
                     <p>
  <strong style="font-size:20px">Observaciones:</strong>
  <%= @appointment.observations %>
</p>

<p>
  <strong style="font-size:20px">Lugar:</strong>
  <%= @appointment.place %>
</p>
                  </div> </div>


 </div>
                </div>
          