
<div class="container">
<div class="row">
    <div class="col-md-12" style="padding-left: 50px;">
        <%= link_to "inicio", root_path%><span> | </span> 
        <%= link_to "pacientes", patients_path%> <span> | </span> 
        <%= link_to "#{@patient.first_name} #{@patient.first_last_name}", patient_path(@patient.id)%>
    </div>
</div>
<br>
<div class="row">
<!--<div class="col-md-10">
	<h1 class="h1-tittle imgedit"><%=action_type%> Historia Clinica de <%=@patient.first_name%> <%=@patient.first_last_name%></h1>

</div>
	<div class="col-md-2">
	<h1 class="h1-tittle imgedit"> <%=image_tag @patient.avatar_url if @patient.avatar?  %></h1>
</div>
</div>-->
<h1 class="h1-tittle imgedit"><%=action_type%> Historia Clinica de <%=@patient.first_name%> <%=@patient.first_last_name%> <%=image_tag @patient.avatar_url if @patient.avatar?  %></h1><br>

<div class= "menu-history">
	
 <%= link_to "Primer Contacto", edit_patient_clinic_history_path(@clinic_history.patient_id,@clinic_history.id), class: "btn btn-primary noactive" ,style: ""%>


 <%= link_to "H. Familiar", edit_patient_clinic_history_child_general_date_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.child_general_date.id), class: "btn btn-primary noactive"%>



<%= link_to "H. Personal P1", edit_patient_clinic_history_personal_history_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.personal_history.id), class: "btn btn-primary noactive"%>


<%= link_to "H. Personal P2", edit_patient_clinic_history_two_child_history_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.two_child_history.id), class: "btn btn-primary noactive"%>

<%= link_to "H. Personal P3", edit_patient_clinic_history_three_child_history_path(@clinic_history.patient_id,@clinic_history.id,@clinic_history.three_child_history.id), class: "btn btn-primary edit-active"%>



<%= link_to "Htas de Evaluacion", patient_clinic_history_tool_tests_path(@clinic_history.patient_id,@clinic_history.id), class: "btn btn-primary noactive"%>




<%= link_to "Segunda Fase", patient_step3_path(@clinic_history.patient_id,@clinic_history.id), class: "btn btn-primary noactive"%>




<%= link_to "Seguimientos", patient_clinic_history_tracings_path(@clinic_history.patient_id,@clinic_history.id), class: "btn btn-primary noactive"%>




  </div>

<%= render 'form', three_child_history: @three_child_history %>

  </div>
