<p id="notice"><%= notice %></p>

<p>
  <strong>Destete:</strong>
  <%= @three_child_history.destete %>
</p>

<p>
  <strong>Gustos alimentos:</strong>
  <%= @three_child_history.gustos_alimentos %>
</p>

<p>
  <strong>Dejado alimentacion:</strong>
  <%= @three_child_history.dejado_alimentacion %>
</p>

<p>
  <strong>Tipo alimentacion:</strong>
  <%= @three_child_history.tipo_alimentacion %>
</p>

<p>
  <strong>Reaccion defecacion:</strong>
  <%= @three_child_history.reaccion_defecacion %>
</p>

<p>
  <strong>Succion dedo:</strong>
  <%= @three_child_history.succion_dedo %>
</p>

<p>
  <strong>Masturbacion:</strong>
  <%= @three_child_history.masturbacion %>
</p>

<p>
  <strong>Duerme con:</strong>
  <%= @three_child_history.duerme_con %>
</p>

<p>
  <strong>Visto acto sexual:</strong>
  <%= @three_child_history.visto_acto_sexual %>
</p>

<p>
  <strong>Conocimientos sexualidad:</strong>
  <%= @three_child_history.conocimientos_sexualidad %>
</p>

<p>
  <strong>Informacion sexual:</strong>
  <%= @three_child_history.informacion_sexual %>
</p>

<p>
  <strong>Menarquia:</strong>
  <%= @three_child_history.menarquia %>
</p>

<p>
  <strong>Experiencia menarquia:</strong>
  <%= @three_child_history.experiencia_menarquia %>
</p>

<p>
  <strong>Polucion:</strong>
  <%= @three_child_history.polucion %>
</p>

<p>
  <strong>Experiencia polucion:</strong>
  <%= @three_child_history.experiencia_polucion %>
</p>

<p>
  <strong>Fue informado:</strong>
  <%= @three_child_history.fue_informado %>
</p>

<p>
  <strong>Reacciones emocionales:</strong>
  <%= @three_child_history.reacciones_emocionales %>
</p>

<p>
  <strong>Noviazgo:</strong>
  <%= @three_child_history.noviazgo %>
</p>

<p>
  <strong>Aceptacion noviazgo:</strong>
  <%= @three_child_history.aceptacion_noviazgo %>
</p>

<p>
  <strong>Sintomas neuroticos:</strong>
  <%= @three_child_history.sintomas_neuroticos %>
</p>

<p>
  <strong>Descripcion sintomas:</strong>
  <%= @three_child_history.descripcion_sintomas %>
</p>

<p>
  <strong>Responsable disiplina:</strong>
  <%= @three_child_history.responsable_disiplina %>
</p>

<p>
  <strong>Comportamientos molestos:</strong>
  <%= @three_child_history.comportamientos_molestos %>
</p>

<p>
  <strong>Tipos de castigo:</strong>
  <%= @three_child_history.tipos_de_castigo %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @three_child_history.observaciones %>
</p>

<p>
  <strong>User:</strong>
  <%= @three_child_history.user_id %>
</p>

<p>
  <strong>Admini user:</strong>
  <%= @three_child_history.admini_user %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @three_child_history.patient_id %>
</p>

<p>
  <strong>Clinic history:</strong>
  <%= @three_child_history.clinic_history_id %>
</p>

<%= link_to 'Edit', edit_three_child_history_path(@three_child_history) %> |
<%= link_to 'Back', three_child_histories_path %>
