<div class="container hidden-md hidden-lg movil">
    <br>
      <div class="row">
        <ul class="list-group">
          <li class="list-group-item active" style="padding-bottom: 19px;">Campos Creados

              <%= link_to  new_field_path, remote: true, style: "float: right;", class: "btn btn-primary new" do %>
                <i class="fas fa-plus-circle" style="color: #fff;"></i>
              <% end -%>

          </li> 

        <% @fields.each do |field| %>
            <li class="list-group-item" style="padding: 10px 8px; ">
              <strong>Nombre: </strong><%= field.name %><br>
              <div class="btn-group ">

            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-list"></i>  <i class="fas fa-sort-down" style="font-size: 19px;"></i>
                    
            </button>

           
              <div class="dropdown-menu dropdown-menu-right" style="font-size: 14px; min-width: 94px;"  >
                 <ul style="padding: 0px;">
                
                    
                  <ol style="padding-left: 5px;"><%= link_to edit_field_path(field),remote: true do %>
                    <i class="fas fa-user-edit" style="padding-left: 5px; color: #306C95;"></i> Editar
                    <% end -%>
                  </ol>

                  
                      <ol style="padding-left: 5px;"> <%= link_to field, method: :delete,data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} do %>
                      <i class="fas fa-trash-alt" style="padding-left: 5px; color: #306C95; padding-right: 4px;"></i> Eliminar
                      <% end -%></ol>
                </ul>
              
              </div>
            </div>
              <strong>De Tipo:</strong><%= field.type_field%><br> 
              <strong>Para el Formulario:</strong><%= field.form%>
      <% end -%>
          </li>
        </ul>
      </div>
    </div>
<style type="text/css">

    @media only screen and (max-width: 600px) {


      .movil{
        margin-left: 10px;
        margin-right: 10px;

      }


      strong{
        margin-right: 9px;
        text-transform: capitalize;
        white-space: pre-wrap !important;
      }

      .name{
        margin-right: 10px;
      }

      .btn-group{ 
        float: right;


      }

      .t{
        font-size: 11px !important;
        width: 227px;

      }


}

</style>