<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo prestador:</strong>
  <%= @second_rip.codigo_prestador %>
</p>

<p>
  <strong>User:</strong>
  <%= @second_rip.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @second_rip.admin_user %>
</p>

<p>
  <strong>Tipo identificacion:</strong>
  <%= @second_rip.tipo_identificacion %>
</p>

<p>
  <strong>Numero identificacion:</strong>
  <%= @second_rip.numero_identificacion %>
</p>

<p>
  <strong>Numero factura:</strong>
  <%= @second_rip.numero_factura %>
</p>

<p>
  <strong>Fecha expedicion factura:</strong>
  <%= @second_rip.fecha_expedicion_factura %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @second_rip.fecha_inicio %>
</p>

<p>
  <strong>Fecha final:</strong>
  <%= @second_rip.fecha_final %>
</p>

<p>
  <strong>Codigo entidad administradora:</strong>
  <%= @second_rip.codigo_entidad_administradora %>
</p>

<p>
  <strong>Nombre entidad :</strong>
  <%= @second_rip.nombre_entidad_ %>
</p>

<p>
  <strong>Administradora:</strong>
  <%= @second_rip.administradora %>
</p>

<p>
  <strong>Numero contrato:</strong>
  <%= @second_rip.numero_contrato %>
</p>

<p>
  <strong>Plan beneficiados:</strong>
  <%= @second_rip.plan_beneficiados %>
</p>

<p>
  <strong>Numero poliza:</strong>
  <%= @second_rip.numero_poliza %>
</p>

<p>
  <strong>Valor pago compartido:</strong>
  <%= @second_rip.valor_pago_compartido %>
</p>

<p>
  <strong>Valor comision:</strong>
  <%= @second_rip.valor_comision %>
</p>

<p>
  <strong>Valor total descuentos:</strong>
  <%= @second_rip.valor_total_descuentos %>
</p>

<p>
  <strong>Valor pagar entidad:</strong>
  <%= @second_rip.valor_pagar_entidad %>
</p>

<%= link_to 'Edit', edit_second_rip_path(@second_rip) %> |
<%= link_to 'Back', second_rips_path %>
