<!DOCTYPE html>
<html>
   <head>
      <title>Psicloud</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="turbolinks-cache-control" content="no-cache">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <meta name="turbolinks-cache-control" content="no-cache">
        <%= favicon_link_tag 'https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/192/Sin-t_tulo-1.png' %>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



       
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
<%= javascript_include_tag 'https://unpkg.com/axios/dist/axios.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js', 'data-turbolinks-track': 'reload' %>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
         <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
   </head>
   <body class="admin">
    <div class="alert alert-warning alert-dismissible msg text-center" role="alert" style="position:fixed;z-index:10;
    background: #26a054;
    color: white;display:none;width:40%;margin-left:30%">
  <strong class="text-center" style = "width: 100%">La historia clinica se actualizo correctamente</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 
    
       <% menu %>
     
      <nav class="navbar navbar-default first-navbar">
         <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
             <a class="navbar-brand" style = "background:white" href="#"><img src="https://farm5.staticflickr.com/4539/38260696042_45b37e8f87_n.jpg" alt=""></a>
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                                
          

                        
                  
             
               </ul>
              <ul class="nav navbar-nav navbar-right">
                  <%if current_user.rol.configuracion%>
                  <li class="dropdown <%=@menu[4]%> "  >
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cog color-gray icon" aria-hidden="true"></i>Configuración <span class="caret"></span></a>

                      <ul class="dropdown-menu" style="width: 164% !important;">
                        <li ><%= link_to  users_index_path, style: "color:gray !important" do %>
                        <i class="fas fa-users" style="padding-left: 4px; color: #306C95;"></i>  Usuarios
                        <% end -%>
                        </li>

                        <li><%= link_to rols_path, style: "color:gray !important" do %>
                        <i class="fas fa-briefcase" style="padding-left: 4px; color: #306C95;"></i> Roles
                        <% end -%>
                        </li>

                        <li><%= link_to hpcs_path , style: "color:gray !important" do%>
                         <i class="fas fa-heart" style="padding-left: 4px; color: #306C95;"></i>  Eps
                        <% end -%>
                        </li>

                        <li><%= link_to  agreements_path , style: "color:gray !important" do %>
                        <i class="fas fa-building" style="padding-left: 4px; color: #306C95;"></i> Convenio
                        <% end -%>
                        </li>

                        <li><%= link_to account_path(get_account), style: "color:gray !important" do %>
                        <i class="fa fa-cog color-gray" style="padding-left: 4px; color: #306C95;"></i> Configuración de Cuenta
                        <% end -%>
                        </li>

                        <li><%= link_to fields_path , style: "color:gray !important" do %>
                        <i class="fas fa-clipboard" style="padding-left: 4px; color: #306C95;"></i> Configuración de Formularios
                        <% end -%>
                        </li>

                        <li><%= link_to  consents_path , style: "color:gray !important" do %>
                        <i class="far fa-address-book" style="padding-left: 4px; color: #306C95;"></i> Configuración de Consentimiento
                        <% end -%>
                        </li>
                        <%if current_user.super_admin%>

                         <li><%= link_to  accounts_path, style: "color:gray !important" do  %>
                           <i class="fas fa-users" style="padding-left: 4px; color: #306C95;"></i>  Cuentas
                         <% end -%>
                         </li>
                        <%end%>
                     </ul>
                  </li>
                  <%end%>

              <li class="hidden-xs hidden-sm" style = "height: 51px;margin-left: 20px;margin-right: 15px;" class="l1"> <%= (image_tag Account.where(admin_user: current_user.admin_user).first.logo_url , style: "width:150px;height:60px") if Account.where(admin_user: current_user.admin_user).first.logo? %></li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style=""> <i class="fa fa-user"  style = "font-size:20px;" color-gray icon" aria-hidden="true"></i> <%=current_user.names  %> <span class="caret"></span></a>
                      <ul class="dropdown-menu" style="padding: 10px;" >

                        <li> <%= link_to  edit_user_registration_path(current_user.id), :class => "indicadores" do %>
                           <i class="fas fa-pencil-alt color-gray icon" aria-hidden="true"></i>
                           <span class = "color-gray hidden-xs hidden-sm" " ">Editar</span>
                           <% end %>
                        </li>

                        <li> <%= link_to show_user_path(current_user.id), :class => "indicadores" do %>
                           <i class="far fa-eye color-gray icon" aria-hidden="true"></i>
                           <span class = "color-gray hidden-xs hidden-sm" " ">Ver Usuario</span>
                           <% end %>
                        </li>

                        <li> <%= link_to  destroy_user_session_path, :method => :delete,:class => "indicadores" do %>
                           <i class="fas fa-sign-out-alt color-gray icon" aria-hidden="true"></i>
                           <span class = "color-gray hidden-xs hidden-sm" " ">Cerrar Sesion</span>
                           <% end %>
                        </li>
                     </ul>
                  </li>
               </ul>
               <!--<form class="navbar-form navbar-left">
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
               </form>-->
              
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>

<% menu %>
  <div id='menu1'>
    <ul>

      <li class="<%=@menu[0]%>"><%= link_to root_path do %>
        <i class="fa fa-home color-gray icon" aria-hidden="true"></i>
        <span class = "color-gray hidden-xs hidden-sm" " ">Inicio</span>
        <% end %>
      </li>

      <li  class="<%=@menu[2]%>"><%= link_to patients_path do %>
        <i class="fas fa-address-card icon" aria-hidden="true"></i>
        <span class = "color-gray hidden-xs hidden-sm">Pacientes</span>
        <% end %>
      </li>


      <li class="<%=@menu[3]%>"><%= link_to citas_path do %>
        <i class="fas fa-calendar-check" style = "font-size:20px;" aria-hidden="true"></i>
        <span class = "color-gray hidden-xs hidden-sm">Citas</span>
        <% end %>
      </li>

      <li  class="<%=@menu[5]%>"><%= link_to documents_path do %>
        <i class="fas fa-file-alt"  style = "font-size:20px;" aria-hidden="true"></i>
        <span class = "color-gray hidden-xs hidden-sm"> Formatos</span>
        <% end %>
       </li>

      <li  class="<%=@menu[6]%>"><%= link_to stats_path do %>
        <i class="fa fa-bar-chart-o icon"  style = "font-size:20px;" aria-hidden="true"></i>
        <span class = "color-gray hidden-xs hidden-sm"> Estadísticas</span>
        <% end %>
      </li>

    <%if current_user.rol.configuracion%>

      <li class="has-sub"><a style="user-select: none;">
        <i class="fa fa-list color-gray icon" style = "font-size:20px;" aria-hidden="true"></i>
        <span class = "color-gray hidden-xs hidden-sm">Información General</span>
        </a>
        <ul>

          <li ><%= link_to all_patients_path , style: "color:gray !important" do%>
              <i class="fas fa-users" style="padding-left: 4px; color: #306C95;"></i> Todos los Pacientes 
          <% end -%>
          </li>
          

          <li><%= link_to citas_admin_path , style: "color:gray !important" do%>
              <i class="fas fa-calendar-alt" style="padding-left: 4px; color: #306C95; padding-right: 6px;"></i> Todas las Citas
          <% end -%>
          </li>
          
          <li><%= link_to general_stats_path , style: "color:gray !important" do%>
              <i class="fas fa-chart-bar" style="padding-left: 4px; color: #306C95; padding-right: 6px;"></i> Estadísticas Generales
          <% end -%>
          </li>

        </ul>
      </li>
    <% end -%>

    </ul>
  </div>


<% menu_patient %>
<div class="container-fluid">
<div class="row">
<div class="row" style="margin-top:30px">
  

 <div class="col-md-6 " style="padding: 0px;">
    <div id='cssmenu'>
      <ul>
        <li><%= link_to "Inicio", root_path%></li> 
        <li><%= link_to "Pacientes", patients_path%></li>
        <li class="active"><%= link_to "#{@patient.first_name} #{@patient.first_last_name}", patient_path(@patient.id)%></li>
      </ul>
    </div>
 </div>



   <div class="col-md-6 text-right aciones">
         <%if (@clinic_history != nil && action_name != "new") %>
                        <%= link_to  patient_clinic_history_path(@patient.id,@clinic_history), class: "btnl btn-primary", style: "margin-right:20px" do%>
                        <i class="fa fa-eye" style = "font-size:30px;"  aria-hidden="true"></i> Ver Historia Completa
                        <%end%>
                        
                                     <!--   <button type="button" class="btnl btn-info" data-toggle="modal" data-target="#send-mail"><i class="fa fa-envelope" style = "font-size:30px;"  aria-hidden="true"></i> Enviar</button>
                  <%end%>
                     </div>-->
</div>
<br>
<!-- ############################### MOVIL MENU ######################################### -->

<div class="col-md-2  hidden-md hidden-lg contenido" style="padding-right: 0px !important; padding-left: 0px;">

      <div class="col-md-2" style="padding: 0px;">
         <%= link_to  patient_path(@patient.id) , class: "btn btn-primary #{menu_patient[6]} btn1 ", style: "width: 194px; text-align: left; padding-left: 5px;" do %>
          <i class="fa fa-address-card  hidden-xs hidden-sm " style = "font-size:20px;" aria-hidden="true"></i> Información General
         <%end%>

        <%if (@clinic_history != nil && (action_name != "new" || controller_name == "tracings")) %>
          <%= link_to  edit_patient_clinic_history_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[5]} btn4", style: "float: right; width: 145px; padding-right: 4px;     text-align: left;" do %>
          <i class="fa fa-file  hidden-xs hidden-sm" style = "font-size: 18px; padding-right: 0px !important; margin-right: 15px;" aria-hidden="true"></i>
          Primer Contacto <span style="float:right;display:none"><%=state_history(@clinic_history.id).html_safe%></span>
         <%end%>

       </div>





        
        <!-- <%= link_to  patient_clinic_history_backgrounds_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[0]}" do %>
          <i class="fa fa-undo" style = "font-size:20px;" aria-hidden="true"></i>
          Antecedentes <span class="span-num"><%=@clinic_history.backgrounds.count + @clinic_history.personal_backgrounds.count %></span>
         <%end%>-->
         <div class="col-md-2" style="padding: 0px;">
        <%= link_to  patient_clinic_history_tool_tests_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[1]} btn2", style: "width: 194px;  padding-left: 5px; text-align: left;" do %>
          <i class="fa fa-wrench  hidden-xs hidden-sm" style = "font-size:20px;" aria-hidden="true"></i>
          Htas de Evaluación <span class="span-num" style="margin-left: 10px;"> <%=@clinic_history.tool_tests.count%></span>
         <%end%>
          <%= link_to  patient_appointments_path(@patient.id), class: "btn btn-primary #{menu_patient[2]} btn5", style: "float: right; width: 145px; padding-right: 4px;     text-align: left;" do %>
          <i class="fa fa-calendar  hidden-xs hidden-sm" style = "font-size:18px; position: relative; left: -38px;" aria-hidden="true"></i>
          Citas <span class="span-num"><%=@patient.appointments.count%></span>
         <%end%>
         </div>

         <%= link_to  patient_step3_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[7]} btn3" , style: "width: 194px; padding-left: 5px; text-align: left; padding-bottom: 9px;" do %>
          <i class="fa fa-file  hidden-xs hidden-sm" style = "font-size:20px;" aria-hidden="true"></i>
          Diagnóstico y Tratamiento <span style="float:right;display:none"><%=state_history_desenlace(@clinic_history.id).html_safe%></span>
         <%end%>
       <%end%> 


         
       
      
            
            <%if (@clinic_history != nil && (action_name != "new" || controller_name == "tracings")) %>
         <%= link_to   patient_clinic_history_tracings_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[3]} btn6", style: "float: right; width: 145px; padding-right: 4px;text-align: left;
             padding-bottom: 3px;" do %>
          
           <span class="glyphicon glyphicon-edit  hidden-xs hidden-sm" style = "font-size:18px; margin-right: 10px;"></span>
          Seguimientos <span class="span-num"><%=@clinic_history.tracings.count%></span>
         <%end%>
         

        <!-- <%= link_to  patient_tasks_path(@patient.id) , class: "btn btn-primary #{menu_patient[4]}" do %>
          <i class="fa fa-tasks" style = "font-size:20px;" aria-hidden="true"></i>
          Tareas <span class="span-num"><%=@patient.tasks.count%></span>
         <%end%>
            <%end%>--> 
        
   </div>
  </div>

<!-- ################################################################################### -->


<div class="col-md-2  hidden-xs hidden-sm" style="padding-left:0px !important;padding-right: 0px !important;">



  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 toppad menu_paciente" style="padding-left:0px !important;padding-right: 0px !important;">
         <%= link_to  patient_path(@patient.id) , class: "btn btn-primary #{menu_patient[6]}" do %>
          <i class="fa fa-address-card" style = "font-size:20px;" aria-hidden="true"></i> Información General
        
         <%end%>


           <%if (@clinic_history != nil && (action_name != "new" || controller_name == "tracings")) %>
           

             <%= link_to  edit_patient_clinic_history_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[5]}" do %>
          <i class="fa fa-file" style = "font-size:20px;" aria-hidden="true"></i>
          Primer Contacto <span style="float:right;display:none"><%=state_history(@clinic_history.id).html_safe%></span>
         <%end%>

      

        
        <!-- <%= link_to  patient_clinic_history_backgrounds_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[0]}" do %>
          <i class="fa fa-undo" style = "font-size:20px;" aria-hidden="true"></i>
          Antecedentes <span class="span-num"><%=@clinic_history.backgrounds.count + @clinic_history.personal_backgrounds.count %></span>
         <%end%>-->
              <%= link_to  patient_clinic_history_tool_tests_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[1]}" do %>
          <i class="fa fa-wrench" style = "font-size:20px;" aria-hidden="true"></i>
          Htas de Evaluación <span class="span-num"><%=@clinic_history.tool_tests.count%></span>
         <%end%>
         <%= link_to  patient_step3_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[7]}" do %>
          <i class="fa fa-file" style = "font-size:20px;" aria-hidden="true"></i>
          Diagnóstico y Tratamiento <span style="float:right;display:none"><%=state_history_desenlace(@clinic_history.id).html_safe%></span>
         <%end%>
       <%end%> 


         
            <%= link_to  patient_appointments_path(@patient.id) , class: "btn btn-primary #{menu_patient[2]}" do %>
          <i class="fa fa-calendar" style = "font-size:20px;" aria-hidden="true"></i>
          Citas <span class="span-num"><%=@patient.appointments.count%></span>
         <%end%>
       
      
            
            <%if (@clinic_history != nil && (action_name != "new" || controller_name == "tracings")) %>
         <%= link_to   patient_clinic_history_tracings_path(@patient.id,@clinic_history.id) , class: "btn btn-primary #{menu_patient[3]}" do %>
          
           <span class="glyphicon glyphicon-edit" style = "font-size:20px;"></span>
          Seguimientos <span class="span-num"><%=@clinic_history.tracings.count%></span>
         <%end%>
         

        <!-- <%= link_to  patient_tasks_path(@patient.id) , class: "btn btn-primary #{menu_patient[4]}" do %>
          <i class="fa fa-tasks" style = "font-size:20px;" aria-hidden="true"></i>
          Tareas <span class="span-num"><%=@patient.tasks.count%></span>
         <%end%>
            <%end%>--> 
        
   </div>
</div>
<div class="col-md-10">
  

   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 toppad" >
      <div class="panel panel-info">
         <div class="panel-heading" style="        background: #f9f9f9;
            color: #808080;">
         <div class="row">
            

       
            <div class="col-md-8 title-panel">
               
         
            <h3 class="panel-title imagen-title" id="title" style="font-size: 20px;font-weight: bold;color:#5bc0de !important"> <span style="margin-right:10px">   <%= @patient.avatar? ? image_tag(@patient.avatar_url) : image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRuEG5mQKFGi9hNgrdBJnEyBfw2Kl0JNXwoHiXjVeKQemKOQqFe")  %></span> <%= @patient.first_name.upcase %> <%= @patient.second_name.upcase %>  <%= @patient.first_last_name.upcase %>  <%= @patient.second_last_name.upcase %></h3>
            </div>
             <div class="col-md-4 text-right buttoms">
            <%= link_to  edit_patient_path(@patient.id), class: "btn btn-warning btg" , title:"Editar Paciente" do%>
            <i class="fas fa-edit" style = "font-size:20px"  aria-hidden="true"></i> 
            <%end%>
            <button type="button" class="btn btn-info btg" data-toggle="modal" data-target="#myModal" title="Ver Paciente"><i class="fa fa-eye" style = "font-size:20px;" aria-hidden="true" ></i></button>
             
              <%if !current_user.consents.where(state: true).present?%>
              <%if @patient.age >= 18%>
                  <%= link_to  patient_consentimiento_informado_path(@patient.id, @patient.id,@clinic_history , :format => "html"),target: "_blank" , :class => "btn btn-primary btg", title:"Consentimiento Informado" do  %>
                  <i class="fa fa-bullhorn" style = "font-size:20px;" aria-hidden="true"></i>
                  
                  <%end%>
                  <%elsif @patient.age >= 12 &&  @patient.age < 18%>
                  <%= link_to  patient_consentimiento_informado_adolescentes_path(@patient.id, @patient.id,@clinic_history , :format => "html"),target: "_blank" , :class => "btn btn-primary btg", title:"Consentimiento Informado" do  %>
                  <i class="fa fa-bullhorn" style = "font-size:20px;" aria-hidden="true"></i>
                  
                  <%end%>
                  <%else%>
                  <%= link_to  patient_consentimiento_informado_menores_path(@patient.id, @patient.id,@clinic_history , :format => "html"),target: "_blank" , :class => "btn btn-primary btg" , title:"Consentimiento Informado" do  %>
                  <i class="fa fa-bullhorn" style = "font-size:20px;" aria-hidden="true"></i>
                 
                  <%end%>
                <%end%> 


                <%else%>
                    <%= link_to  patient_consentimiento_creado_path(@patient.id, @patient.id,@clinic_history , :format => "html"),target: "_blank" , :class => "btn btn-primary btg" , title:"Consentimiento Informado" do  %>
                  <i class="fa fa-bullhorn" style = "font-size:20px;" aria-hidden="true"></i>

                  <%end%>
                <%end%>


                  <%if controller_name == "patients"%>
              <input type="checkbox" id="toggle-1"  >
              <%end%>
            </div>
            </div>  
         </div>

         <div class="panel-body" style="padding-top: 10px;">
            <div class="row img">
          
               <div class="col-md-12 col-lg-12 info-p" >
                  <div class="col-md-3">
                     <p><strong> <%= @patient.document_type%></strong><br><%= @patient.document%> </p>
                  </div>
                   <div class="col-md-3">
                      <p><strong>Fecha de Nacimiento </strong><br><%= @patient.birth_date%> </p>
                  </div>
                   <div class="col-md-3">
                      <% year = @patient.age == 1 ? "Año" : " Años"
                     month = @patient.birthdate_month == 1 ? " Mes" : " Meses"
                     day =  @patient.birthdate_day == 1 ?  " Día" : " Días"
                     %>
                  <p><strong>Edad </strong><br><%=@patient.age.to_s + year  %> <%=@patient.birthdate_month.to_s + month   %> <%=@patient.birthdate_day.to_s +  day %></p>
                  </div>
                
                   <div class="col-md-3">
                        <%if (@clinic_history != nil && action_name != "new") %>
                              
                             <p><strong> Frecuencia en Citas</strong><br><span class="cantidad"><%= @clinic_history.quantity_appointment%></span> por <span class="frecuencia"><%= @clinic_history.frequency_appointment%></span>  <button type="" class="change_citas_view btn btn-default" style="border-color: white !important;"><i class="fas fa-edit" style = "font-size:20px;"  aria-hidden="true"></i></button>  </p> 
                          

                        <%= form_tag change_fcitas_path, remote: true, id: "change_citas" do %>
                            
                            <%= number_field_tag :quantity_appointment, nil,:class => 'form-control'%><br>
                            <%= select_tag 'frequency_appointment', options_for_select(["Semana","Quincena" ,"Mes","Semestre", "Año"], @clinic_history.frequency_appointment),{:class => 'form-control'}%>
                            <%= hidden_field_tag :clinic_history_id, @clinic_history.id,:class => 'form-control'%>
                            <%= hidden_field_tag :patient_id, @patient.id%>
                            <br>
                            <%= submit_tag "Guardar", :class => 'btn btn-primary'%>

                            <button type="button" class="btn btn-default cancelar">Cancelar</button>


                        <%end%>

                        <%end%>
                  </div>

                
                 
                  
                  
               </div>
               <div class="col-md-12 col-lg-12 info-p" style= "padding:20px;text-align: center; display: none" >
                  <hr>
                  <%if @patient.age >= 18%>
                  <%= link_to  patient_consentimiento_informado_path(@patient.id, @patient.id,@clinic_history , :format => "pdf"),target: "_blank" , :class => "" do  %>
                  <i class="fa fa-bullhorn" style = "font-size:30px;" aria-hidden="true"></i>
                  Consentimiento Informado
                  <%end%>
                  <%elsif @patient.age >= 12 &&  @patient.age < 18%>
                  <%= link_to  patient_consentimiento_informado_adolescentes_path(@patient.id, @patient.id,@clinic_history , :format => "pdf"),target: "_blank" , :class => "" do  %>
                  <i class="fa fa-bullhorn" style = "font-size:30px;" aria-hidden="true"></i>
                  Consentimiento Informado
                  <%end%>
                  <%else%>
                  <%= link_to  patient_consentimiento_informado_menores_path(@patient.id, @patient.id,@clinic_history , :format => "pdf"),target: "_blank" , :class => "" do  %>
                  <i class="fa fa-bullhorn" style = "font-size:30px;" aria-hidden="true"></i>
                  Consentimiento Informado
                  <%end%>
                  <%end%>
                  <!--<p style = "font-size:16px"><i class="fa fa-calendar" aria-hidden="true"></i><strong> Proxima Cita: </strong>&nbsp;  3 de julio de 2016  &nbsp; <%= link_to  root_path , :class => "opciones" do %>
                     <i class="fa fa-pencil" aria-hidden="true"></i> 
                     <% end %>&nbsp;<%= link_to  root_path , :class => "opciones" do %>
                     <i class="fa fa-trash" aria-hidden="true"></i> 
                     <% end %>
                     </p>-->
               </div>
               <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                  </div>-->
            </div>
         </div>
         <div class="panel-footer text-right">
            
         </div>
      </div>
   </div>
   
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0" id="app">
      <div id="exTab2">
         
         <div class="tab-content ">
            <%if current_user.rol.show_hc%>
            <div class="tab-pane active" id="1">
                  <div class="row" >


<%= yield %>
  
            <%end%>
           
                  <!--vue-->
                  
            
               
               </div>
            </div>
         </div>
      </div>
      </div>
   </div>
</div>
<style>

  @media only screen and (max-width: 600px) { 

    #title{
      font-size: 10px!important ;

    }
    .buttoms{
      margin-top: 14px;
    }
    .title-panel{
      padding: 0px;
    }

    .contenido{
      padding-top: 10px;
    }

    .btn1{
      
    }

    .btn2{
      background: red;
    }

    .btn3{
      background: red;
    }

    .btn4{
      background: red;
    }

    .btn5{
      background: red;
    }

    .btn6{
      background: red;
    }

    .toppad{
      width: 121%;
      padding: 0px;
      margin-left: -31px;
    }

    #cssmenu{
      font-size: 19px;
      padding: 0px;
      padding-left: 17px;
    }

    #cssmenu ul li a {
      font-size: 11px;
      margin-left: 16px;
    }

    #cssmenu ul li a:before{
      border-right: none !important;
      content: none !important;
    }

    .aciones{
      text-align: center;
      margin-top: 10px;
    }

  } 



  @media only screen and (max-width: 900px) {

  } 


  @media only screen and (max-width: 1000px) {
    #title{
      font-size: 11px;

    }
  }

#change_citas
{
  display: none;
}
.span-num
{
background: white;
background: white;
color: #2e7dab;
padding: 3px 9px;
float: right;
border-radius: 50%;

}
.btn-nuevo
{
  padding: 0px 6px;
    font-size: 16px;
}
.imagen-title img
{
      width: 75px;
}
   .menu_paciente a
   {
      width: 100%;
      text-align: left !important;
      padding-top:15px !important;
      padding-bottom:15px !important; 
   }
   .descnum1
   {
   padding: 10px;
   background: #f7f7f7;
   margin-bottom: 5px;
   }
   .descnum1 h4
   {
   color: #5d5d5d !important;
   }
   .descnum1 p
   {
   margin-left: 30px;
   }
   .user-row {
   margin-bottom: 14px;
   }
   .user-row:last-child {
   margin-bottom: 0;
   }
   .dropdown-user {
   margin: 13px 0;
   padding: 5px;
   height: 100%;
   }
   .dropdown-user:hover {
   cursor: pointer;
   }
   .table-user-information > tbody > tr {
   border-top: 1px solid rgb(221, 221, 221);
   width: 25%;
   }
   .table-user-information > tbody > tr:first-child {
   border-top: 1px solid rgb(221, 221, 221);
   width: 25%;
   }
   .table-user-information > tbody > tr > td {
   border-top: 1px solid rgb(221, 221, 221);
   width: 25%;
   }
   .toppad
   {margin-top:20px;
   }
   .img img
   {
   width: 90px;
   }
   .img1 img
   {
   width: 120px;
   }
   h3
   {
   font-size:20px;
   color: #3b84a7;
   }
   .info-p p
   {
   font-size: 14px;
   }

   .dropdown-menu>li>a{
    padding-left: 5px !important;
   }
   .tit1
   {
    background: whitesmoke;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-left: 0px !important;
    margin-right:0px !important
   }
   .btg
   {
    background-color: #bfbdbd !important;
    border-color: #b2b2b2 !important;
    background: linear-gradient(#f2f2f2, #aeaeae);
    color: #727272 !important;
   }

  #cssmenu {
  display: inline-block;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1em;
  padding-right: 50px;
  overflow: hidden;
  left: 10px;
}
@import url(http://fonts.googleapis.com/css?family=Raleway);
#menu1,
#menu1 ul,
#menu1 ul li,
#menu1 ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu1:after,
#menu1 > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu1 {
  width: auto;
  border-bottom: 3px solid #5bbbe1;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#menu1 ul {
  background: #F5F5F5;
}
#menu1 > ul > li {
  float: left;
}
#menu1.align-center > ul {
  font-size: 0;
  text-align: center;
}
#menu1.align-center > ul > li {
  display: inline-block;
  float: none;
}
#menu1.align-right > ul > li {
  float: right;
}
#menu1.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#menu1 > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#menu1 > ul > li.active > a,
#menu1 > ul > li:hover > a,
#menu1 > ul > li > a:hover {
  color: #f1f1f1 !important;
}
#menu1 > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#menu1 > ul > li.active > a:after,
#menu1 > ul > li:hover > a:after,
#menu1 > ul > li > a:hover:after {
  background: #5bc0de;
}

/*Dropbox*/

#menu1 li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}

/*Dropbox*/

#menu1 a,
#menu1 a:link {
  color: #787878 !important;
  text-decoration: none;
  display: block;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

}



/*Dropbox*/

#menu1 a:hover {
  color: #fff !important;

}


/*Dropbox*/

#menu1 ul ul li:hover a,
#menu1 li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;

}

/*Dropbox*/

#menu1 ul ul a:hover {
  background: #F5F5F5 url() repeat-x 0 -100px !important;
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

/*Dropbox*/
#menu1 ul ul a{
  margin-top: 3px !important;
  margin-bottom: 3px !important;

}

/*Dropbox*/

#menu1 li:hover > ul {
  display: block;
}


/*Dropbox*/

#menu1 ul ul {
  z-index: 1000;
  display: none;
  margin: 0;
  padding: 10px 10px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 220px !important;
  background: #ffffff url() repeat-x 0 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


/*Dropbox*/

#menu1 ul ul li {
  float: none;
  margin: 0;
  padding: 3px;
}


</style>


<script>
   $(document).ready(function() {
     

    $('.cancelar').click(function(){
       $('#change_citas').fadeOut();

     
     });

    $('.change_citas_view').click(function(){
       $('#change_citas').fadeIn();

     
     });

     var panels = $('.user-infos');
     var panelsButton = $('.dropdown-user');
     panels.hide();
   
     //Click dropdown
     panelsButton.click(function() {
         //get data-for attribute
         var dataFor = $(this).attr('data-for');
         var idFor = $(dataFor);
   
         //current button
         var currentButton = $(this);
         idFor.slideToggle(400, function() {
             //Completed slidetoggle
             if(idFor.is(':visible'))
             {
                 currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
             }
             else
             {
                 currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
             }
         })
     });
   
   
     $('[data-toggle="tooltip"]').tooltip();
   
     $('button').click(function(e) {
         e.preventDefault();
      
     });
   });
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="panel-heading" style="color:#3b84a7">
               <h3 class="panel-title" style="font-size: 25px"> <%= @patient.first_name %> <%= @patient.second_name %>  <%= @patient.first_last_name %>  <%= @patient.second_last_name %></h3>
            </div>
         </div>
         <div class="modal-body">
            <div class="" >
               <div class="panel panel-info">
                  <div class="panel-body" style="padding-top: 40px;">
                     <div class="row img1">
                        <div class="col-md-4 col-lg-4 " align="center">  <%= @patient.avatar? ? image_tag(@patient.avatar_url) : image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRuEG5mQKFGi9hNgrdBJnEyBfw2Kl0JNXwoHiXjVeKQemKOQqFe")  %> </div>
                        <div class="col-md-6 col-lg-6 info-p" >
                           <p><strong>Documento: </strong> <%= @patient.document_type%>: <%= @patient.document%> </p>
                           <p><strong>Fecha de Nacimiento: </strong><%= @patient.birth_date%> </p>
                           <% year = @patient.age == 1 ? "Año" : " Años"
                              month = @patient.birthdate_month == 1 ? " Mes" : " Meses"
                              day =  @patient.birthdate_day == 1 ?  " Día" : " Días"
                              %>
                           <p><strong>Edad: </strong><%=@patient.age.to_s + year  %> <%=@patient.birthdate_month.to_s + month   %> <%=@patient.birthdate_day.to_s +  day %></p>
                           <p><strong>Género: </strong><%= @patient.gender%> </p>
                        </div>
                        <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                           <dl>
                             <dt>DEPARTMENT:</dt>
                             <dd>Administrator</dd>
                             <dt>HIRE DATE</dt>
                             <dd>11/12/2013</dd>
                             <dt>DATE OF BIRTH</dt>
                                <dd>11/12/2013</dd>
                             <dt>GENDER</dt>
                             <dd>Male</dd>
                           </dl>
                           </div>-->
                        <div class=" col-md-12 col-lg-12 " style = "margin-top:10px;">
                           <table class="table table-user-information" style = "margin-bottom:0px !important">
                              <tbody>
                                 <tr>
                                    <th>Ocupación:</th>
                                    <td><%= @patient.occupation%></td>
                                    <th>Profesión:</th>
                                    <td><%= @patient.profession%></td>
                                    <th>Ciudad:</th>
                                    <td><%= @patient.city%></td>
                                 </tr>
                                 <tr>
                                    <th>Dirección:</th>
                                    <td><%= @patient.address%></td>
                                    <th>Teléfono Fijo:</th>
                                    <td><%= @patient.phone%></td>
                                    <th>Teléfono Móvil:</th>
                                    <td><%= @patient.movil%></td>
                                 </tr>
                                 <tr>
                                    <th>Email:</th>
                                    <td><%= @patient.email%></td>
                                    <th>Estado Civil:</th>
                                    <td><%= @patient.civil_status%> </td>
                                    <th>Grupo Étnico:</th>
                                    <td><%= @patient.ethnic_group%></td>
                                 </tr>
                                 <tr>
                                    <th>EPS:</th>
                                    <td><%= @patient.hpc.name if @patient.hpc%> </td>
                                    <th>Convenio:</th>
                                    <td><%= @patient.agreement.name if @patient.agreement%></td>
                                    <th>Nombre Contacto:</th>
                                    <td><%= @patient.contact_name%> (<%=@patient.contact_relationship%>) </td>
                                 </tr>
                                 <tr>
                                    <th>Teléfono del Contacto:</th>
                                    <td><%= @patient.contact_phone%></td>
                                    <th>Tiene Hijos</th>
                                    <td><%= @patient.children%></td>
                                    <th>Número de Hijos</th>
                                    <td><%= @patient.number_children %></td>
                                 </tr>

                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<style>
   .nav-tabs>li>a {
   background: #277394;
   color: white;
   margin-right: 2px;
   line-height: 1.42857143;
   border: 1px solid rgba(12, 12, 12, 0.51);
   border-radius: 0px;
   }
</style>
<script>
   $(document).on('turbolinks:load',function() {
    
  
   
   
       if (<%=@patient.state%> == true)
       {
          $('#toggle-1').bootstrapToggle('on')
       }
       else
       {
           $('#toggle-1').bootstrapToggle('off')
       }
     
     $('#toggle-1').change(function() {
         if ( $(this).prop('checked') == true )
         {
           $.get("change_state/true/" + <%=@patient.id%>, function(data) {
           
           })
         }
         else
         {
           $.get("change_state/false/" + <%=@patient.id%>, function(data) {
           })
         }
   
       })
     });
   
</script>




























































































      



   </body>
</html>


<style>

.icon
{
   font-size:20px !important;
   margin-right: 5px !important;
}

   .navbar-brand {
  
    height: 58px !important;
    }
    .navbar-brand img
    {
          margin-top: 10px;
    }

.stats
{
  width:145px;
}

.menu_paciente a
{
  font-size: 13px;
}

@media (max-width: 900px) {
    .li {
          text-align: left !important;
          display: inline-block !important;
          width: auto !important;

    }

.stats
{
  width:auto !important;
}
}


</style>

