<!DOCTYPE html>
<html>
  <head>
   <title>Psicloud</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag 'https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/192/Sin-t_tulo-1.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/axios/dist/axios.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="application">
   <%= flash_messages %>
    <%= yield %>
  </body>
</html>
