


<br>

<div class="container">
  

<div class="row" >
   <div class="col-md-12 ">
      <p><%= link_to "Inicio ",  root_path, :class => "linka" %> </p>
   </div>
</div>  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Informacion de la Cuenta
             <%= link_to  edit_account_path(@account),:class => "btn btn-warning pull-right" do %>
                           <i class="glyphicon glyphicon-pencil"></i>
                           <span >Editar Cuenta</span>
              <% end %>
                  
               <%= link_to  root_path, :class => "btn btn-default pull-right" do %>
                           <i class="fas fa-back"></i>
                           <span >Volver</span>
              <% end %>
            <hr></div>
          </div>
          <div class="row" style="color: #5bc0de !important;">
      <div class="col-md-4 text-center">
             <% if @account.logo? %>
        
       <%= image_tag(@account.logo_url(:medium))%>
        <%else%>
      <%= image_tag "http://michigrafias.com/wp-content/uploads/2018/04/no-imagen.jpg", style: "width:200px"  %>

        <%end%>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%= @account.name%></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="info"><strong>Email: </strong> <%= @account.email %></p>
                  <p class="info"><strong>Telefono:</strong> <%= @account.phone %></p>
                  <p class="info"><strong>Dirección: </strong> <%= @account.address %></p>
                  <p class="info"><strong>Nit/Cedula:</strong> <strong></p>               
                </div>
                <div class="col-md-6 text-center">
                  <div class="activity-mini">
                    Pacientes Atendidos <br> <span><i class="glyphicon glyphicon-user text-muted"></i> <%= @patiens.count %></span>
                  </div>
               
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              
              <div class="alert alert-info text-left" style="font-size:25px;">
                <strong>PLAN:</strong> PSICOLOGO
              </div>

              
           
            </div>
          </div>
           <div class="row ">
            <div class="col-md-6" style="padding: 10px 110px;">
             
              <div class="alert alert-success text-left text-center" style="font-size: 30px;">
               <i class="fa fa-user" aria-hidden="true" style="font-size: 60px;"></i><br>
                <strong>USUARIOS:</strong><br> 1 / 1 
              </div>

              
           
            </div>
             <div class="col-md-6" style="padding: 10px 110px;">
              
              <div class="alert alert-success text-left text-center" style="font-size: 30px;">
               <i class="fa fa-database" aria-hidden="true" style="font-size: 60px;"></i><br>
                <strong>ALMACENAMIENTO:</strong><br> 1GB / 20GB
              </div>

              
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
.text-muted
{
  font-weight: bold;
  color: #5bc0de !important;
}
.btn
{
  margin-right: 10px;
}
.info
{
  color: #5bc0de !important;

}
.activity-mini
{
  font-size: 30px;
}
.activity-mini span
{
  font-size: 50px;
}
</style>







