
<br> 
<div class="container">
  

<div class="row" >
   <div class="col-md-12 ">
      <p><%= link_to "Inicio ",  root_path, :class => "linka" %> </p>
   </div>
 <br>
<div class = "row title-table">
   <div class = "col-md-10">
      <p >INFORMACION DE LA CUENTA</p>
   </div>
   
</div>
<hr class = "hr">
<div class="row">
<div class="col-md-6 cuadro2">
  <h4>Logo</h4><br>
       <% if @account.logo? %>
        
       <%= image_tag(@account.logo_url(:medium))%>
        <%else%>
      <%= image_tag "http://michigrafias.com/wp-content/uploads/2018/04/no-imagen.jpg", style: "width:200px"  %>

        <%end%>

      <br><br>
  
      <h4>Informacion General</h4>
        <p><strong>Nombre:</strong> <%= @account.name  %></p>
        <p><strong>Email:</strong> <%= @account.email %></p>
        <p><strong>Telefono:</strong> <%= @account.phone %></p>
        <p><strong>Direccion:</strong> <%= @account.address %></p>
         
      
  
</div>
  <div class="col-md-6 cuadro1">
  <h4>Plan</h4>
        <p>Tipo: <span><%=@account.account_type.name if @account.account_type%></span></p>
        
        <p><i class="fa fa-user" aria-hidden="true"></i> Usuarios:  <span><%=@account.account_type.users if @account.account_type%></span></p>
        <p><i class="fa fa-database" aria-hidden="true"></i> Almacenamiento: <span><%=@account.account_type.file_size if @account.account_type%> GB</span></p>
</div>
</div>
<div class="row show-user company" >
   
   
   <div class="col-md-12 text-center">
      <%= link_to 'Editar', edit_account_path(@account), remote: true, class: "btn btn-primary btn-lg" %>
       <%= link_to 'Inicio', root_path, remote: true, class: "btn btn-default btn-lg" %>
     
   </div>
</div>
</div>

<%if current_user.super_admin%>
      <%= form_tag import_diagnosticos_path, multipart: true do %>
      <div class = "col-md-12 text-right">
      <%= file_field_tag :file , class: 'inputfile', id: 'file' %>
      <label for="file"><i class="fa fa-upload" aria-hidden="true"></i>

    <span>Adjuntar</span></label>
      <%= submit_tag "Importar", :class => "btn btn-primary", style: "margin-left:20px !important;" %>
    </div>

  <% end %>
<%end%>

<style>
  
   .cuadro2 p
   {
     color: #50aad4;
     padding-top: 5px;
     font-size: 20px;
   
   }
   .cuadro1 img
   {
      width: 40px;
   }
   .cuadro1
   {
   color: white;
    /* padding: 5px; */

    
   }
    .cuadro1 i
   {
      font-size: 30px;

    
   }
   .cuadro1 p
   {
   color: #50aad4;
   padding-top: 5px;
   font-size: 20px;
  
   }
  
   .pc
   {
   background: whitesmoke;
   }
   .company
   {
    padding-top: 20px;
    padding-bottom: 50px
   }
h4 {
    background: #3ea0d4;
    color: white;
    padding: 5px;
}



</style>