

<div class="container">
  

<div class="row" >
   <div class="col-md-12 ">
      <p><%= link_to "Inicio ",  root_path, :class => "linka" %> </p>
   </div>

<div class = "row title-table">
   <div class = "col-md-10">
      <p >Cuenta</p>
   </div>
   
</div>
<hr class = "hr">
<div class="row">
<div class="col-md-6 cuadro2">
  <h4>Logo</h4>
       <%= @account.logo? ? image_tag(@account.logo_url(:medium)) : ""  %>

      
  
      <h4>Informacion General</h4>
        <p><strong>Nombre:</strong> <%= @account.name %></p>
        <p><strong>Email:</strong> <%= @account.email %></p>
        <p><strong>Telefono:</strong> <%= @account.phone %></p>
        <p><strong>Direccion:</strong> <%= @account.address %></p>
         
      
  
</div>
  <div class="col-md-6 cuadro1">
  <h4>Plan</h4>
        <p>Tipo: <span><%=@account.account_type.name%></span></p>
        
        <p><i class="fa fa-user" aria-hidden="true"></i> Usuarios:  <span><%=@account.account_type.users%></span></p>
        <p><i class="fa fa-database" aria-hidden="true"></i> Almacenamiento: <span><%=@account.account_type.file_size%> GB</span></p>
</div>
</div>
<div class="row show-user company" >
   
   
   <div class="col-md-12 text-center">
      <%= link_to 'Editar', edit_account_path(@account), remote: true, class: "btn btn-primary btn-lg" %>
       <%= link_to 'Inicio', root_path, remote: true, class: "btn btn-default btn-lg" %>
     
   </div>
</div>
</div>
<style>
  
   .cuadro2 p
   {
     color: #50aad4;
     padding-top: 5px;
     font-size: 20px;
   
   }
   .cuadro1 img
   {
      width: 40px;
   }
   .cuadro1
   {
   color: white;
    /* padding: 5px; */

    
   }
    .cuadro1 i
   {
      font-size: 30px;

    
   }
   .cuadro1 p
   {
   color: #50aad4;
   padding-top: 5px;
   font-size: 20px;
  
   }
    .fas
   {
   color:white;
   font-size: 30px;
   padding: 15px 0px 0px 0px;
   }
   .pc
   {
   background: whitesmoke;
   }
   .company
   {
    padding-top: 20px;
    padding-bottom: 50px
   }
h4 {
    background: #3ea0d4;
    color: white;
    padding: 5px;
}



</style>