<div class="col-md-12 " style=" padding-left: 5px;">
    <div id='cssmenu' style="margin-top: 10px" >
      <ul>
          <li><%= link_to "Inicio", root_path%></li> 
          <li class="active"><%= link_to "Mi Cuenta", account_path%></li>
      </ul>
    </div>
</div>
<br><br><br>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third" style="width: 320px;">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container" style="text-align:center;padding-top: 17px;" >
          <% if @account.logo? %>
        
            <%= image_tag @account.logo_url, style: "width:200px"%>
          <%else%>
            <%= image_tag "https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/247/no-imagen.jpg", style: "width:200px"  %>

        <%end%>
        </div>
        <br><br>
        <div class="w3-container">
          <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal" style="color: #257293 !important;"></i><%= @account.name%></p>
          <p><i class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-teal" style="color: #257293 !important;"></i><%= @account.nit%></p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal" style="color: #257293 !important;"></i><%= @account.email %></p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal" style="color: #257293 !important;"></i> <%= @account.phone %></p>
          
          <hr>
             <p style="padding:10px;"><%= link_to  edit_account_path(@account),:class => "btn btn-primary pull-right" do %>
                           <i class="glyphicon glyphicon-pencil"></i>
                           <span >Editar Cuenta</span>
              <% end %>
                  
               <%= link_to  root_path, :class => "btn btn-default pull-right" do %>
                           <i class="fas fa-back"></i>
                           <span >Volver</span>
              <% end %>
              </p>
          <br>

        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="color: #257293 !important;"></i> <%= @account.name%></h2>
        <div class="w3-container">

          <div class="row">
                  <div class="col-md-6">
              <div class="panel panel-default">
                 <div class="panel-heading">
                     <i class="fa fa-database" aria-hidden="true" style=""></i> Plan
                 </div>
                 <div class="panel-body">
                      <p style="text-align: center"><span class="" style="    color: #46b8da;font-size:25px;">Psicólogo</span></p>
                 </div>
              </div>
                
              </div>
              <div class="col-md-6">
              <div class="panel panel-default">
                 <div class="panel-heading">
                     <i class="fa fa-user" aria-hidden="true" style=""></i> Pacientes Atendidos
                 </div>
                 <div class="panel-body">
                      <p style="text-align: center"><span class="badge" style="font-size:32px;"><%=Patient.where(admin_user: current_user.admin_user).count%></span></p>
                 </div>
              </div>
                
              </div>  

              <div class="col-md-6">
              <div class="panel panel-default">
                 <div class="panel-heading">
                     <i class="fa fa-user" aria-hidden="true" style=""></i> Usuarios 1/1
                 </div>
                 <div class="panel-body">

                      <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100"
                                  aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                  100% Usado
                          </div>
                      </div>
                 </div>
              </div>
                
              </div>
              <div class="col-md-6">
              <div class="panel panel-default">
                 <div class="panel-heading">
                     <i class="fa fa-database" aria-hidden="true" style=""></i> Almacenamiento 0 / 10 GB
                 </div>
                 <div class="panel-body">
                      <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
                                  aria-valuemin="0" aria-valuemax="100" style="width:10%">
                                  1% Usado
                          </div>
                      </div>
                 </div>
              </div>
                
              </div>

            
          </div>
          

          <hr>
        </div>
 
      </div>


    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>



<!--
<%= form_tag import_diagnosticos_path, multipart: true do %>
  <div class = "col-md-12 text-right">
  <%= file_field_tag :file , class: 'inputfile', id: 'file' %>
 
  <%= submit_tag "Importar", :class => "btn btn-primary", style: "margin-left:20px !important;" %><% end %>
</div>

<%= form_tag import_first_diagnosticos_path, multipart: true do %>
  <div class = "col-md-12 text-right">
  <%= file_field_tag :file , class: 'inputfile', id: 'file' %>
 
  <%= submit_tag "Importar", :class => "btn btn-primary", style: "margin-left:20px !important;" %>
</div>-->

<% end %>
<style>
.text-muted
{
  font-weight: bold;
  color: #5bc0de !important;
}
.btn
{
  margin-right: 10px;
}
.info
{
  color: #5bc0de !important;

}
.activity-mini
{
  font-size: 30px;
}
.activity-mini span
{
  font-size: 50px;
}
.badge {

    padding: 7px 11px;
   
    background-color: #46b8da;

}

@media only screen and (max-width: 600px) {
  
    .w3-third{
      width: 378px !important;
    }

    .w3-twothird{
      width: 378px !important;
    }
}

@media only screen and (max-width: 900px) {
} 


@media only screen and (max-width: 1000px) {

}

</style>










